@import '../../../../js/libs/bower_components/normalize-css/normalize';
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";
@import "../../base/fonts_all";
@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../base/dropdowns";
@import "../../layout/layout_utils";
@import "../../layout/base_layout";
@import "../../modules/atoms/all";
@import "../../modules/atoms/alerts";
@import "../../modules/navigation";
@import "../../modules/action_row";
@import "../../modules/s3_uploader";

// typeahead suggestions
.tt-suggestion, .suggestion {
  border: 1px solid $border-color;
  background-color: white;
  padding: 1em;
  cursor: pointer;
  &:hover {
    background-color: $light-blue;
  }
}

.bannerImages {
  position: relative;
  background-color: $medium-blue;
  max-height: 200px;
  min-height: 100px;
}

.about-images {
  width: 100%;
  text-align: center;
  @include swa-small() {
    img {
      display: inline-block;
      width: 20%;
      margin: 0;
      padding: 0;
      float: left;
    }
  }
}

.profile-badge {
  @include swa-small() {
    margin: 1em 0;
    width: 50%;
  }

  @include swb-small() {
    margin-top: .5em;
  }
}

.profile-image {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 1px solid $main-background;
  width: 75px;
  height: 75px;
  margin-bottom: .5em;
  margin-left: 1em;

}

.image-viewer {
  margin-top: 1em;
  .image img {
    max-width: 100%;
  }
}

.action-row {
  float: right;
  padding: .5em;
}

input.error, select.error {
  margin-bottom: 0;
}

label.error {
  margin-bottom: 1.5em;
  font-size: .9em;
  color: $link-color;
}

.interests {
  .pure-g > div {
    text-align: center;
    margin-bottom: 1em;
    height: 6em;

    &:last-of-type {
      margin-bottom: 0;
    }

  }
  .ic:before {
    font-size: 3em;

  }
}

.interest {
  position: absolute;
  left: -1000px;
  &:checked + label:before, &:checked ~ label {
    color: $link-color;
  }
}

.radio-input-group {

  label {
    @include swb-small() {
      display: block;
      margin-bottom: 1em;
    }
    @include swa-small() {
      padding-right: 1em;
    }
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

    opacity: 0;
    filter: alpha(opacity=0);
  }
}