<td><a href="/surveys/{{survey.id}}">{{survey.title}}</a></td>
<td>
    <a href="/surveys/{{survey.id}}/edit">Edit</a>
    <a href="#" class="delete">Delete</a>
    <a class="btn primary" href="{{survey.links.export}}" alt="Export Survey YAML"><i class="ic fa ic_download"></i></a>
</td>