<a class="btn light round pull-right" href="/{{customer}}/new" alt="Create Survey"><i class="ic ic_add"></i></a>
<h1>{{customer}} Surveys</h1>
<div class="section">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="survey-list-items"></tbody>
    </table>
</div>







