<h1>Surveys <a class="btn primary" href="/new"><i class="ic ic_add"></i></a></h1>
<div class="section">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="survey-list-items"></tbody>
    </table>
</div>







