{{#if surveys}}
    <ul>
        {{#each surveys}}
            <li><a href="programName/survey/build/{{this.id}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
{{else}}
    <p>No Surveys</p>
{{/if}}
