<td><a href="/surveys/{{survey.id}}">{{survey.title}}</a></td>
<td>
    <a class="btn primary" href="/surveys/{{survey.id}}/edit"><i class="ic fa ic_post"></i></a>
    <a class="btn primary" href="#" class="delete" alt="Remove Survey"><i class="ic fa ic_x"></i></a>
    <a class="btn primary" href="{{survey.links.export}}" alt="Export Survey YAML"><i class="ic fa ic_download"></i></a>
</td>