<h1>Surveys</h1>
<div class="section">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="survey-list-items"></tbody>
    </table>
</div>







