<a href="surveys/{{attributes.id}}" class="btn light round pull-right export" alt="Export Survey"><i class="ic fa ic_download"></i></a>
<div class="survey-show-container export-container">
    <label>Export:</label>
    {{#each attributes.links}}
        <a data-bypass="true" href="{{this.url}}" alt="Export Survey CSV" class="btn light solid">{{this.type}}</a>
    {{/each}}
</div>
<h1>Preview: {{attributes.title}}</h1>
( Required / <i class="medium-blue">Optional</i> / <i class="disabled-question">Disabled</i>  )

{{> before_image}}

{{#each children.models}}
    {{> section}}
{{/each}}

{{> after_image}}

{{> additional_image}}
