<a class="btn light round pull-right" href="{{attributes.links.export}}" alt="Export Survey YAML"><i class="ic fa ic_download"></i></a>
<h1>Preview: {{attributes.title}}</h1>

{{#each children.models}}
    {{> section}}
{{/each}}