#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; }

#site-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all; }

#site-menu {
  width: 13em;
  height: 100%;
  position: absolute;
  top: 0;
  background: #ecebeb;
  overflow: auto;
  z-index: 5; }

#site-submenu {
  background-color: #dad8d7;
  width: 13em;
  height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  z-index: 3;
  overflow: auto; }
  #site-submenu li:last-of-type {
    margin-bottom: 3em; }

#site-filter {
  width: 13em;
  height: 100%;
  position: absolute;
  top: 0;
  right: -13em;
  background: #ecebeb; }

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(13em);
  transform: translateX(13em); }

#site-wrapper.show-filter #site-canvas {
  -webkit-transform: translateX(-13em);
  transform: translateX(-13em); }

#site-submenu.show-subnav {
  background-color: #dad8d7;
  -webkit-transform: translateX(13em);
  transform: translateX(13em); }

@media only screen and (max-width: 30em) {
  #site-menu {
    left: -13em; }

  #site-submenu {
    left: -26em;
    z-index: 6; }
    #site-submenu.show-subnav {
      -webkit-transform: translateX(13em);
      transform: translateX(13em); } }
.btn.primary {
  height: 3em;
  background: none;
  color: #f15f51;
  border: 0.2em solid #f15f51;
  border-radius: 5px; }

input[type=text], input[type=password], input[type=number], textarea {
  width: 100%;
  border: 0.1em solid #dad8d7;
  border-radius: 5px;
  height: 2em;
  font-size: 1em;
  padding-left: .5em;
  margin-bottom: 2em; }

.radio-group input[type=radio] {
  display: inline;
  margin-left: 2em;
  margin-right: .7em; }
  .radio-group input[type=radio]:first-of-type {
    margin-left: 0; }

textarea {
  min-height: 5em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.module {
  padding: 1em;
  background-color: white;
  border: 1px solid #dad8d7;
  border-radius: 5px; }

.pull-right {
  float: right; }

.visible-xs {
  display: none; }

@media only screen and (max-width: 30em) {
  .visible-xs {
    display: block; } }
.navigation .nav-item {
  display: inline-table;
  height: 3.5em;
  padding: 1em;
  width: 100%; }
  .navigation .nav-item:hover {
    background-color: #e0dede; }
  .navigation .nav-item.active {
    background-color: white; }
  .navigation .nav-item .link {
    padding-left: 1em; }
  .navigation .nav-item a {
    color: #474747;
    position: relative; }
    .navigation .nav-item a .fa {
      position: absolute;
      right: -4em;
      top: .03em; }

#site-submenu {
  background-color: #ecebeb; }
  #site-submenu .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em .5em 0 0;
    color: #474747; }
  #site-submenu ul li {
    padding: 1em; }
    #site-submenu ul li a {
      color: #474747; }
    #site-submenu ul li > strong {
      text-transform: uppercase; }
    #site-submenu ul li.return {
      border-top: 1px solid #dad8d7;
      border-bottom: 1px solid #dad8d7; }
    #site-submenu ul li.menu-option:hover {
      background-color: #cecbca; }
    #site-submenu ul li.menu-option.active {
      font-weight: bold;
      background-color: #cecbca;
      cursor: default;
      pointer-events: none; }

#filter-menu {
  position: absolute;
  width: 13em;
  right: -13em;
  top: 0;
  background-color: white;
  height: 100%;
  z-index: 326;
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all; }
  #filter-menu.show-filter {
    -webkit-transform: translateX(-13em);
    -moz-transform: translateX(-13em);
    -ms-transform: translateX(-13em);
    -o-transform: translateX(-13em);
    transform: translateX(-13em); }

#mobile-header {
  display: none; }

@media only screen and (max-width: 30em) {
  #mobile-header {
    border-bottom: 1px solid #dad8d7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5em;
    background-color: white;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    #mobile-header #links {
      font-size: 2em;
      position: absolute;
      top: 50%;
      margin-top: -.5em; }
      #mobile-header #links a.toggle-nav {
        color: #474747; }

  .navigation {
    width: 13em;
    position: absolute; }
    .navigation .logo {
      display: none; }

  .submenu {
    left: -26em;
    width: 13em; } }
h1 {
  font-size: 1.4em;
  margin: .9em 0 1.5em 0; }

h2 {
  font-size: 1.3em;
  margin: 0 0 1em 0; }

a {
  color: #f15f51;
  text-decoration: none; }
  a:hover {
    color: #e32512; }

ul.unstyled {
  padding: 0;
  margin: 0; }
  ul.unstyled li {
    list-style-type: none; }

@media only screen and (max-width: 30em) {
  h1 {
    font-size: 1.2em; }
    h1 div {
      position: absolute;
      top: .5em;
      right: .5em; } }
@font-face {
  font-family: "tc-icons";
  src: url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.eot");
  src: url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.eot?#iefix") format("embedded-opentype"), url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.woff") format("woff"), url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.ttf") format("truetype"), url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.svg#tc-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "tc-icons";
    src: url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.svg#tc-icons") format("svg"); } }
[data-icon]:before {
  content: attr(data-icon); }

[data-icon]:before,
.tc-activity_feed:before,
.tc-add:before,
.tc-checkin:before,
.tc-closed_circle:before,
.tc-collapse:before,
.tc-comment:before,
.tc-dashboard:before,
.tc-down:before,
.tc-download:before,
.tc-edit:before,
.tc-exit:before,
.tc-expand:before,
.tc-field_team:before,
.tc-filter:before,
.tc-like:before,
.tc-logo:before,
.tc-navigate:before,
.tc-notifications:before,
.tc-open_circle:before,
.tc-post:before,
.tc-remove:before,
.tc-report:before,
.tc-reports:before,
.tc-resolve_select:before,
.tc-resources:before,
.tc-search:before,
.tc-stores:before,
.tc-up:before,
.tc-upload:before,
.tc-user:before {
  display: inline-block;
  font-family: "tc-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.tc-activity_feed:before {
  content: "\f100"; }

.tc-add:before {
  content: "\f101"; }

.tc-checkin:before {
  content: "\f102"; }

.tc-closed_circle:before {
  content: "\f103"; }

.tc-collapse:before {
  content: "\f104"; }

.tc-comment:before {
  content: "\f105"; }

.tc-dashboard:before {
  content: "\f106"; }

.tc-down:before {
  content: "\f107"; }

.tc-download:before {
  content: "\f108"; }

.tc-edit:before {
  content: "\f109"; }

.tc-exit:before {
  content: "\f10a"; }

.tc-expand:before {
  content: "\f10b"; }

.tc-field_team:before {
  content: "\f10c"; }

.tc-filter:before {
  content: "\f10d"; }

.tc-like:before {
  content: "\f10e"; }

.tc-logo:before {
  content: "\f10f"; }

.tc-navigate:before {
  content: "\f110"; }

.tc-notifications:before {
  content: "\f111"; }

.tc-open_circle:before {
  content: "\f112"; }

.tc-post:before {
  content: "\f113"; }

.tc-remove:before {
  content: "\f114"; }

.tc-report:before {
  content: "\f115"; }

.tc-reports:before {
  content: "\f116"; }

.tc-resolve_select:before {
  content: "\f117"; }

.tc-resources:before {
  content: "\f118"; }

.tc-search:before {
  content: "\f119"; }

.tc-stores:before {
  content: "\f11a"; }

.tc-up:before {
  content: "\f11b"; }

.tc-upload:before {
  content: "\f11c"; }

.tc-user:before {
  content: "\f11d"; }

@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/nexa_bold-webfont.eot");
  src: url("../fonts/nexa_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa_bold-webfont.woff") format("woff"), url("../fonts/nexa_bold-webfont.ttf") format("truetype"), url("../fonts/nexa_bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/nexa_light-webfont.eot");
  src: url("../fonts/nexa_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa_light-webfont.woff") format("woff"), url("../fonts/nexa_light-webfont.ttf") format("truetype"), url("../fonts/nexa_light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0; }

html {
  margin: 0;
  font-size: .9rem;
  font-family: sans-serif;
  background-color: #f6f6f5;
  color: #474747; }

.content {
  position: relative;
  width: 100%;
  padding-left: 14em;
  padding-right: 1em;
  overflow: auto;
  height: 100%; }
  .content .actions {
    position: absolute;
    top: 1em;
    right: 1em; }
    .content .actions a {
      padding-left: .5em; }

li.list-unstyled {
  text-decoration: none; }

.section {
  background-color: white;
  padding: 1em;
  border: 1px solid #dad8d7;
  border-radius: 5px;
  margin-bottom: 2em; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 1em; }
  table th {
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 1em;
    vertical-align: top; }
    table th a {
      color: #474747; }
  table tr td {
    vertical-align: top;
    padding: 1em 0;
    border-top: 1px solid #dad8d7; }

/* Logo */
a.logo-link {
  text-decoration: none; }
  a.logo-link:hover {
    text-decoration: none; }

.logo {
  padding: 1em 0 1em 1em;
  background-color: white; }
  .logo .tc-logo, .logo .third {
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    text-decoration: none; }
  .logo .tc-logo {
    font-size: 2em; }
  .logo .third, .logo .channel {
    font-size: 1.1em; }
  .logo .tc-logo, .logo .channel {
    color: #474747; }
  .logo .third {
    color: #f15f51;
    font-family: 'Nexa Light'; }
  .logo .channel {
    font-family: 'Nexa Bold'; }

.toggle-filter.enabled {
  color: #19677a; }

.pagination-holder {
  margin-bottom: 1em;
  text-align: right; }
  .pagination-holder .pagination {
    display: inline;
    margin-bottom: .5em;
    margin-left: 1em; }
    .pagination-holder .pagination .page {
      font-size: .8em;
      display: inline-block;
      min-width: 2.6em;
      padding: .6em;
      border: 0.1em solid #dad8d7;
      text-align: center;
      background-color: #ecebeb; }
      .pagination-holder .pagination .page a {
        color: #dad8d7; }
      .pagination-holder .pagination .page:hover {
        background-color: #e0dede; }
      .pagination-holder .pagination .page.current {
        background-color: #d3d1d1; }
      .pagination-holder .pagination .page.gap {
        background-color: inherit;
        border: none; }
      .pagination-holder .pagination .page:first-of-type {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px; }
      .pagination-holder .pagination .page:last-of-type {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px; }
  .pagination-holder .pagination-info {
    margin-bottom: 1em; }

@media only screen and (max-width: 30em) {
  .content {
    padding-top: 3.5em;
    padding-left: .5em;
    padding-right: .5em; }

  #site-wrapper.show-nav .content {
    height: initial; } }
