<div class="pure-g header">
	<h3 class="col-1-12 scheduled-visit-cell">Name</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Survey Title</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Survey Topics</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Start Time</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Timezone</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Duration</h3>
    <h3 class="col-1-12 scheduled-visit-cell">Notes</h3>
    <h3 class="col-1-12 scheduled-visit-cell">Schedulable Ranges</h3>
</div>
