<table>
<thead>
    <tr>
        <th>
            <h3 class="scheduled-visit-cell">Store</h3>
        </th>
        <th>
            <h3 class="scheduled-visit-cell">Job</h3>
        </th>
        <th>
            <h3 class="scheduled-visit-cell">Scheduled</h3>
        </th>
        <th>
            <h3 class="scheduled-visit-cell">Completed</h3>
        </th>
        <th>
            <h3 class="scheduled-visit-cell">Agent</h3>
        </th>
        <th>
            <h3 class="scheduled-visit-cell">{{supervisor_role}}</h3>
        </th>
        {{#if show_requestors}}
            <th>
                <h3 class="scheduled-visit-cell">Requested By</h3>
            </th>
        {{/if}}
    </tr>
</thead>
<tbody></tbody>
</table>
