<div class="pure-g header">
	<h3 class="col-3-12">Store</h3>
	<h3 class="col-3-12">Job</h3>
	<h3 class="col-1-12">Scheduled</h3>
	<h3 class="col-1-12">Completed</h3>
	<h3 class="col-2-12">Agent</h3>
	<h3 class="col-2-12">FMR</h3>
</div>
