.about-images {
  width: 100%;
  text-align: center;
  @include swa-small() {
    img {
      display: inline-block;
      width: 20%;
      margin: 0;
      padding: 0;
      float: left;
    }
  }
}

.image-viewer {
  margin-top: 1em;
  .image {
    padding:.5em;
    img {
      max-width: 100%;
    }
    .delete {
      @include swb-small() {
        padding-bottom: 1em;
      }
    }
  }
}