$color1: #F5FAFF;
$color2: #E6F5EB;
$color3: #FFF5E6;
$color4: #FAEBE6;
$color5: #F0EBE6;


@mixin schedules ($color){
  border-radius: $border-radius-base;
  .ui-draggable {
    background-color: $color;
    padding: 1em .5em;
    border-radius: $border-radius-base;
    border: 1px solid darken($color, 20%);
    margin-bottom: 2px;
    &.task {
      background-color:lighten($palette7, 20%);
    }
    &.task-0 {  background-color: $color1;  }
    &.task-1 {  background-color: $color2;  }
    &.task-2 {  background-color: $color3;  }
    &.task-3 {  background-color: $color4;  }
    &.task-4 {  background-color: $color5;  }
    &.task-5 {  background-color: $palette6;  }
    &.task-6 {  background-color: $palette7;  }
    &.ui-draggable-dragging {
      border-radius: $border-radius-base;
      background-color: $color;
    }
    &.drag-active {
      background-color: darken($color, 20%);
    }
  }
}

.schedule-container {
  overflow-y: scroll;
  max-height: 600px;
  .unscheduled {
    .schedules {
      margin-bottom: 1em;
      @include schedules($palette1);
    }
  }
  .scheduled {
    .schedules {
      @include schedules(lighten($palette5, 15%));
    }

  }
}

.grid {
  &:first-of-type {
    padding-right: 1em;
  }
}

.tooltipevent {
  background-color: white;
  padding: 1em;
  border-radius: $border-radius-base;
  border: 1px solid $palette3;
  position: absolute;
  z-index: 100001;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
.fc-event {
  color: $palette3;
  &.task-0 {
    background-color: $color1;
    border-color: darken($color1, 20%);
  }
  &.task-1 {
    background-color: $color2;
    border-color: darken($color2, 20%);
  }
  &.task-2 {
    background-color: $color3;
    border-color: darken($color3, 20%);
  }
  &.task-3 {
    background-color: $color4;
    border-color: darken($color4, 20%);
  }
}

.section-buttons {
  text-align: right;
  a {
    margin-left: .5em;
  }
}

.hide-element {
  display:none;
}

.list{
  .schedule-group:first-of-type {
    margin-top: 1em;
  }
}