.checkin-report {
  
  .choice {
    margin: 1.25em 0;
    display: flex;

    div {
      align-self: center;
    }

    &.selected, &.single {
      font-weight: bold;
    }

    @include swa-medium {
      &:first-child {
        margin-top: 0;
      }

      &.single {
        /*padding-left: 2.25em;*/
        margin-bottom: 0;
      }
    }

    @include swb-medium {
      &:not(.selected):not(.single) {
        display: none;
      }
    }
  }
}

.author-bar {
  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
  }
  img {
      width: 3em;
      height: 3em;
    }
}

