.checkin-report {

  .report-link {
    display: none;
  }

  .choice {
    margin: 1.25em 0;
    display: flex;
    color: $light-blue;
    .btn.light {
      color: $light-blue;
      border-color: $light-blue;
    }


    div {
      align-self: center;
    }

    .ic_check::before {
      color: $text-color
    }

    &.selected {
      color: $text-color;
      .btn.light {
        border-color: $medium-blue;
        color: $medium-blue;
      }
    }

    &.single {
      margin-bottom: 0;
      color: $text-color;
    }


    @include swa-medium {
      &:first-child {
        margin-top: 0;
      }
    }

    @include swb-medium {
      &:not(.selected):not(.single) {
        display: none;
      }
    }
  }
}

.author-bar {
  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
  }
  img {
      width: 3em;
      height: 3em;
    }
}

