.checkin-report {

  h1 {
    span {
      font-weight: normal;
    }
  }

  .bbm-modal {
    margin-bottom: 5rem;

    > * {
      padding: 1rem;
    }

    h2 {
      border-bottom: 1px solid $light-blue;
      margin-bottom: 0;
    }

    .choices {
      padding-left: 3rem;
    }
  }

  .report-link {
    display: none;
  }

  .choice {
    margin: 1.25em 0;
    color: $light-blue;

    div {
      align-self: center;
    }

    .ic_check::before {
      color: $text-color
    }

    &.selected {
      color: $text-color;
    }

    &.all {
      display: flex;
    }

    .ic_blank, .ic_check {
      margin-right: 1rem;
    }

    .info {
      font-style: italic;
      color: $medium-blue;
    }

    @include swa-medium {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.author-bar {
  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
  }
  img {
      width: 3em;
      height: 3em;
    }
}


@include swa-medium() {
  .checkin-report {
    .item {
      > div:first-child {
        padding-right: 2em;
      }

      > div:last-child {
        padding-left: 2em;
      }
    }
  }
}

