.data-section {
	.header {
		font-size: 1rem;
		text-transform: uppercase;
	}

	.body {
		margin-top: 1em;
		width: 100%;
	}
	
	.expand-indicator {
		position: absolute;
		right: 8%;
		padding-right: 0;
	}

	.item {
		border-top: 1px solid $border-color;
		padding: 1em 0em;
	}


}