.action-dropdown {
  float: right;
  position: relative;

  button {

    margin: 0;
    border: 1px solid $slate;
    color: $slate;
    font-size: 1em;


    padding: 0.5em 2em;
    background-color: white;

    &:hover {
      background-color: white;
    }

    &:focus {
      outline: none;
    }
  }

  .action-dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 15em;
    border: 1px solid $slate;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 0.85em;

    &.action-dropdown-open {
      display: block;
    }

    a {
      display: block;
      padding: 1.25em 1.5em;
      color: $text-color;
      margin: 0;

      i {
        margin-right: 0.5em;
      }

      &.action-disabled {
        font-style: italic;
        cursor: default;
        opacity: 0.6;
      }

      &:hover {
        background-color: $light-blue;
      }
    }
  }
}

@include swb-medium {
  .actions-container {
    display: inline;
    margin-left: 0.5em;

    .action-dropdown {
      button {
        font-size: 0.75em;
        padding: 0.2em 2em;
      }
    }
  }
}
