.export-modal {
    padding: 5rem;
    text-align: center;

    .small {
        font-size: 0.75rem;
    }

    &.progress {
        div:last-child {
            padding-top: 1rem;
            font-size: 3rem;
            color: $red;
        }
    }
}
