.filter-container {

  font-family: 'FontAwesome', 'Open Sans', 'sans-serif';

  @include placeholder(lighten($medium-blue, 15%));

  form {
    background-color: $light-blue;
    margin-bottom: 1em;
    padding: 1em;
  }

  input {
    margin: 0;
  }

  label {
    display: block;
    font-size: 0.85em;
  }

  input[type=checkbox] {
    vertical-align: middle;
  }

  .checkbox-group {
    padding: 0.5em 1em 0.05em 0;

    > * {
      display: inline-block;
      white-space: nowrap;
    }

    label{
      display: inline-block;
      margin: 0.5em;
    }
  }

  .select2 {
    margin-top: 0.65em;
    min-width: 15em;
    width: auto !important;
  }
}

.advanced-filters {
  cursor: pointer;
  text-align: center;
  margin-top: calc(-1.8em);
  color: $medium-blue;

  span {
    background:white;
    border: 1px solid $light-blue;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 0.9em;
  }
}

@include swb-medium {
  .mobile-collapsed {
    display: none;
  }

  .filter-container {

    .pull-right {
      float: none;
    }

    .select2 {
      width: 100% !important;
    }

    .checkbox-group {
      > * {
        display: block;
      }
    }
  }
}