.hoverable-image {
	width: 15em;
	height: 15em;
	margin: 0 2em 2em 0;
	background-color: #ffffff;
	position: relative;
	cursor: pointer;

	img {
      max-width: 15em;
      max-height: 15em;
      margin: 0 auto;
	}

	.img-background {
		height: 100%;
		background-color: $light-blue;
	}

	.overlay {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 16em;
		background-color: background_alpha_calculation($medium-blue, 0.5);
		top: -1em;

		
		.caption {
			font-size: 0.9em;
			color: #ffffff;
			position: absolute;
			bottom: 1em;
			left: 1em;
			.label {
				font-weight: bold;
			}
		}
	}

	&.active {
		.overlay {
			z-index: 10;
		}
	}
}

.hoverable-image-modal {
	.image-container {
		img {
			display: block;
			margin: 0 auto;
			max-width: 550px;
		}
		.caption {
			text-align: center;
			margin-top: 1em;
		}
	}
}
