.logo {
  padding: 1em 0 1em 1em;
  background-color: white;
  white-space: nowrap;
  border-bottom: 1px solid $slate;

  .tc-logo, .third {
    $size: 1em;
    height: $size;
    line-height: $size;
    vertical-align: super;
    text-decoration: none;
  }

  .ic_logo {
    font-size: 2em;
  }

  .third, .channel {
    font-size: 1.1em;
  }

  .ic_logo, .channel {
    color: $palette3;
  }

  .third {
    color: $link-color;
    font-family: 'Nexa Light';
  }

  .channel {
    font-family: 'Nexa Bold';
    font-size: 1em;
  }
}