.logo {
  padding: 1em 0 1em 1em;
  background-color: white;
  white-space: nowrap;

  .ic_logo {
    font-size: 2em;
    color: $link-color;
    vertical-align: middle;
  }

  .company-name {
    color: $palette3;
    font-family: 'Nexa Light';
    font-size: 1.25em;
    vertical-align: middle;
    display: inline-block;
    margin-top: 0.2em;

    strong {
      font-family: 'Nexa Bold';
    }
  }
}