@import './logo';

.navigation {
  width: 100%;
  top: 0;
  position: fixed;
  height: 75px;
  background-color: #FFF;

  .menu {
    float: left;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          display: block;
          width: 60px;
        }
      }
    }
  }
}