@import "./logo";

.navigation {

  .nav-item {
    display: block;
    height: 3.5em;
    padding: 1em;
    width: 100%;
    white-space: nowrap;
    color: $palette1;
      position: relative;
      .fa {
        position: absolute;
        right: -4em;
        top: .03em;
      }
    &:hover {
      background-color: darken($nav-background, 5%);
    }
    &.active {
      background-color: white;
      color: $text-color; 
      .ic { color: $link-color;}
    }
    .link {
      opacity: 1;
      padding-left: 1em;
    }
  
    .ic_right {
      position:absolute;
      right: 1em;
    }
  }
}

#site-submenu {
  background-color: $main-background;
  color: $palette1;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em .5em 0 0;
    color: $palette1;
  }
  ul li {
    padding: 1em;
    a {
      color: $palette1;
    }
    > strong {
      text-transform: uppercase;
    }
    &.return {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
    &.menu-option:hover {
      background-color: darken($subnav-background, 5%);
    }
    &.menu-option.active {
      font-weight: bold;
      background-color: lighten($subnav-background, 5%);
      cursor: default;
      pointer-events: none;
    }
  }
}

#filter-menu {
  position: absolute;
  width: $standard-nav-width;
  right: -$standard-nav-width;
  top: 0;
  background-color: white;
  height: 100%;
  z-index: 326;
  @include transition(300ms ease all);
  &.show-filter {
    @include transform(-$standard-nav-width);
  }
}

#mobile-header {
  display: none;
}

@include bp-small {
  #mobile-header {
    border-bottom: 1px solid $border-color;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5em;
    background-color: white;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    #links {
      a.toggle-nav {
        color: $text-color;
      }
      font-size: 2em;
      position: absolute;
      top: 50%;
      margin-top: -.5em;
    }
  }
  .navigation {
    width: $mobile-nav-width;
    position: absolute;
    .logo  {
      display: none;
    }

  }
  .submenu {
    left: -$mobile-nav-width * 2;
    width: $mobile-nav-width;
  }

}