.pagination-holder {
  margin-bottom: 1em;
  text-align: right;
  .pagination {
    display: inline;
    margin-bottom: .5em;
    margin-left: 1em;
    .page {
      font-size: .9em;
      display: inline-block;
      min-width: 2.6em;
      padding: .25em;
      border: .1em solid $border-color;
      text-align: center;
      background-color: $light-blue;
      a {
        color: $medium-blue;
      }
      &:hover {
        a {
          color: $light-blue;
        }
        background-color: $medium-blue;
      }
      &.current {
        color: $light-blue;
        background-color: $medium-blue;
      }
      &.gap{
        background-color: inherit;
        border: none;

        @include swb-small {
          min-width: 0;
        }
      }
      &:first-of-type {
        border-bottom-left-radius: $border-radius-base;
        border-top-left-radius: $border-radius-base;
      }
      &:last-of-type{
        border-bottom-right-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
      }
    }
  }
  .pagination-info { 
    margin-bottom: 1em;

    @include swb-small {
      display: none;
    }
  }

  @include swb-small {
    text-align: left;
  }
}