.viewer {
  position: relative;

  .uploader-error {
    padding: 0.5em 1em;
    border-radius: $border-radius-base;
    margin-top: 0.5em;
    background-color: lighten($link-color, 20%);

    .message {
      margin-right: 1.5em;
    }
  }

  .error-close {
    cursor: pointer;
  }

  .holder {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    overflow: auto;
    zoom: 1;

    select {
      margin-bottom: 0;
    }
  }

  .image {
    max-width: 5em;
    float: left;
    padding-top: 0.4em;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .description, .progress-container {
    margin-left: 6rem;
    margin-right: 10rem;
  }

  .delete {
    float: right;
    margin-top: 1.5rem;
  }

  @include swb-medium{
    .description, .progress-container {
      margin-right: 3rem;
    }

    .delete {
      span {
        display: none;
      }
    }
  }

  .progress, .percentage {
    margin-right: 10rem;
    width: 100%;
  }

  .progress {
    height: 2rem;
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    overflow: hidden;
    width: 100%;

    .bar {
      width: 0%;
      height: 100%;
      background-color: $medium-blue;
    }
  }
}