#site-filter {
    color: $text-color;
    background: #ffffff;
    @include box-shadow-inset(8px, 0px, 10px, -6px, $border-color);
    
    .global {
        display:none;
    }

    .spinner {
        text-align: center;
    }

    .action {

    }

    .flexible {
        display: flex;
        .btn {
            align-self: center;
        }
    }

    .btn.default {
        border-color: $border-color; 
        &:hover {
            border-color: $medium-blue;
        }           
    }

    .filter-component {
      position: relative;
    }

    .filter-item {
        width: 100%;
        display: block;
        min-height: $menu-item-height;
        padding: 1em;
        cursor: pointer;
        background-color: inherit;
        border: 0;
        border-bottom: 1px solid $border-color;
        
        .icon, .expand-indicator {
            position: absolute;
            right: 1em;
        }

        &:hover {
            background-color: darken($main-background, 10%);
        }

        .btn.default {
            font-size: 0.7em;
            padding: 0em 0.6em;
            margin-right: 0.5em;
        }

        .active-filter {
            padding: 1em 0.5em;

            .filter-input {
                display: none;
            }
        }

        &.action {
            background-color: $main-background;
            color: lighten($text-color, 10%);
            @include box-shadow-inset(8px, 0px, 10px, -6px, $border-color);
            &:hover {
                background-color: darken($main-background, 10%);
            }
        }
    }


    .filter-list {
        max-height:0px;
        background-color: $main-background;
        color: $text-color;
        overflow-y: auto;
        @include box-shadow-inset(8px, 0px, 10px, -6px, $border-color);
        @include transition(max-height, 0.8s);
        
        .filter-list-item {
            padding: 1em;
            padding-left: 2em;
            cursor: pointer;
            .btn.default {
                padding: 0 0.63em;
                background-color: #ffffff;
                margin-right: 0.5em;
            }
            &:hover {
                .btn.default {
                    border-color: $medium-blue;
                }
            }
            input {
              width: 100%;
            }
        }

        .no-results {
            padding: 1em;
            padding-left: 2em;
        }

        &.open {
            max-height:20em;
        }
    }

    .filter-list-search {
      width: 95%;
      margin: 0 auto;

      input {
        width: 80%;
      }

      @include swb-medium {
        a > i {
          font-size: small;
          line-height: 0.5;
        }
      }
    }

    a.filter-item, a.filter-item:hover {
        color: inherit;
    }
}