#site-filter {
    color: $text-color;
    background: #ffffff;
    @include box-shadow-inset(6px, 0px, 10px, -8px, $slate);
    
    .global {
        display:none;
    }

    .action {

    }

    .flexible {
        display: flex;
        .btn {
            align-self: center;
        }
    }

    .btn.default {
        border-color: $border-color; 
        &:hover {
            border-color: $medium-blue;
        }           
    }


    .filter-item {
        width: 100%;
        display: block;
        min-height: $menu-item-height;
        padding: 1em;
        cursor: pointer;
        background-color: inherit;
        border: 0;
        border-bottom: 1px solid $border-color;
        
        .icon, .expand-indicator {
            position: absolute;
            right: 1em;
        }

        &:hover {
            background-color: darken($main-background, 10%);
        }

        .btn.default {
            font-size: 0.7em;
            padding: 0em 0.6em;
            margin-right: 0.5em;
        }

        .active-filter {
            padding: 1em 0.5em;

            .filter-input {
                display: none;
            }
        }

        
    }


    .filter-list {
        max-height:0px;
        background-color: $main-background;
        color: $text-color;
        overflow-y: scroll;
        @include box-shadow-inset(6px, 0px, 10px, -8px, $slate);
        @include transition(max-height, 0.8s);
        
        .filter-list-item {
            padding: 1em;
            padding-left: 2em;
            cursor: pointer;
            .btn.default {
                width: 1em;
                height: 1em;
                background-color: #ffffff;
                margin-right: 0.5em;
            }
            &:hover {
                .btn.default {
                    border-color: $medium-blue;
                }
            }
        }

        &.open {
            max-height:20em;
        }
    }

    a.filter-item, a.filter-item:hover {
        color: inherit;
    }
}