
.ui-sortable {
  > div {
    background-color: white;
  }

  .handle {
    float: right;
  }

  .ui-sortable-helper {
    border-top: 1px solid $light-blue;
    border-left: 1px solid $light-blue;
    border-right: 1px solid $light-blue;
  }
}