
.store-profile-wrapper {
	.pagination-holder {
		min-height: 2em;
	}
}

.store-profile-section {
	
	.activity-meta {
		padding: 0em;
	}
	.body {
		margin-top: 1em;
		overflow: hidden;
		max-height: 0;
	    @include transition(max-height, 0.8s);

	}
	&.expand-container {
		&.active {
			.body {
				/** Something beyond which it will ever reach **/
		    	max-height: 5000px;
			}
			.expand-indicator {
				@extend .ic_up;
			}
		}				
	}

	
}

@include swb-medium {
	.store-profile-section.expand-container {
		.expand-indicator {
		/*	@extend .ic_up;*/
		}
	 	.body {
	 		max-height: 5000px;
	 	}
        &.active {
        	.body {
        		max-height: 0em;
        	}
        	.expand-indicator {
        		/*@extend .ic_down;*/
        	}
        }	
    }
}

.gallery .body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}