#checkin > .store {
  border-top: 1px solid $border-color;
  &:first-child {
    border-top: none;
  }
}
.store {
  //border-bottom: 1px solid $border-color;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  .pure-g:first-child {
      text-transform: none;
  }

  .job-list {
    margin: 0 1em 1em 1em;
    @include swb-small {
      margin: 0 0 1em 0;
    }
    border: 1px solid $border-color;
    border-radius: $border-radius-base;

    .pure-g:first-child {
        padding:1em;
    }
  }

  .task-list {
    .task {
      button {
        margin-left: 0.5rem;
        &.small {
          margin-left: 0;
        }
        @include swb-medium {
          margin-top: 0;
        }
      }
    }
  }
}
.table {
    //text-align: right;

  .pure-g.complete-checkin-tasks {
    border-top: none;
  }
}

.checkin-form-btn.wide {
  @include swb-small {
    width: 100%;
    height: 3em;
  }
}