.clickable {
  cursor: pointer;

  &:hover {
    background-color: $filter-selected-bg;
  }
}

.card {
  .subsection {
    padding: 0.45em 1.25em 0 1.25em;
    border-bottom: 1px solid $border-color;
    background-color: $main-background;
  }

  ol {
    li {
      padding-bottom: 0.5em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      padding-bottom: 0.5em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.right-col {
  @include flexbox;
  @include align-items;

  > div {
    display: inline-block;

    &:first-child {
      width: calc(100% - 10em);
    }
  }
}

.expansions {
  display: none;
}

.indicator {
  text-align: right;
  padding-right: 1em;
  width: 10em;

  &.shrink {
    width: 3em;
  }
}

.visit-header {
  margin-top: 1.5em;

  h2 {
    margin-bottom: 0.25em;
  }
}

.visit-activities {
  .indicator {
    padding-right: 0;
  }
}

.task {

  &.selected {
    background-color: $filter-selected-bg;

    &.removal {
      background-color: $removal-color-bg;

      .box {
        border-color: $red;

        .ic {
          color: $red;
        }
      }
    }
  }

  .details {
    display: inline-block;

    > div{
      &:first-child {
        text-transform: uppercase;
        color: $medium-gray;
        font-size: 0.8em;
      }
      &:last-child {
        font-style: italic;
        color: $medium-gray;
        font-size: 0.8em;
      }
    }
  }
}

.activities-list, .manage-activities {
  .task {
    .details {
      width: calc(100% - 3em);
    }

  }
}

.manage-activities {
  .clickable {
    &:hover {
      background-color: $removal-color-bg;

      .box {
        border-color: $red;
      }
    }
  }
}

.box {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid $medium-blue;
  text-align: center;
}

.actions-section {
  text-align: right;
  margin-bottom: 1.5em;
}


@include swb-medium {
  .right-col {
    > div {
      &:first-child {
        width: calc(100% - 3em);
      }
    }
  }

  .indicator {
    width: 3em;
    padding-right: 0.25em;
  }

  .visit-header {
    margin: 0.5em;
  }
}