// typeahead suggestions
.tt-suggestion, .suggestion {
  border: 1px solid $border-color;
  background-color: white;
  padding: 1em;
  cursor: pointer;
  &:hover {
    background-color: $light-blue;
  }
}