<p class="item col-1-4">{{title}}</p>
<p class="item col-1-4">{{dateRange}}</p>
<p class="item col-2-4">
    <a href="{{links.self}}" class="btn primary small">Scheduling Progress</a>
    <a href="{{links.progress}}" class="btn primary small">Visit Progress</a>
</p>