<div class="pagination-holder"></div>
<section class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-2">Schedule</h3>
        <h3 class="header col-1-2">Date Range</h3>
    </div>
    <div class="body"></div>
</section>