<div class="pagination-holder"></div>
<section class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-5">Schedule</h3>
        <h3 class="header col-1-5">Date Range</h3>
        <h3 class="header col-1-5">% Complete</h3>
        <h3 class="header col-1-5">% In Progress</h3>
        <h3 class="header col-1-5">% Not Started</h3>
    </div>
    <div class="body"></div>
</section>