<div class="pagination-holder"></div>
<section class="section data-section">
    <div class="pure-g">
        <h3 class="header col-2-12">User</h3>
        <h3 class="header col-3-12">Store</h3>
        <h3 class="header col-2-12">Scheduled</h3>
        <h3 class="header col-2-12">Completed</h3>
        <h3 class="header col-1-12">Days Late</h3>
        <h3 class="header col-2-12">Completion Gap</h3>
    </div>
    <div class="body"></div>
</section>