@import '../../../../js/libs/bower_components/normalize-css/normalize';
@import '../../../../js/libs/bower_components/jquery-ui/themes/base/jquery-ui.min.css';
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";

@import "../../base/fonts_all";
@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../base/dropdowns";
@import "../../layout/layout_utils";
@import "../../layout/base_layout";

@import "../../modules/atoms/all";
@import "../../modules/navigation";
@import "../../modules/action_row";
@import "../../modules/pagination";
@import "../../modules/site_filter";
@import "../../modules/s3_uploader";
@import "../../modules/pure_grid";
@import "../../modules/pikaday";
@import "../../modules/scroll_top";

@import "../../modules/data_section";
@import "../../modules/expanding_table_row";
@import "../../modules/address_title";
@import "../../modules/atoms/alerts";

@import "../../modules/alert_row";
@import "../../modules/checkin_report";
@import "../../modules/store_profile_section";
@import "../../modules/hoverable_image";
@import "../../modules/visit_report";
@import "../../modules/notifications";
@import "../../modules/fullcalendar";
@import "../../modules/calendar";
@import "../../modules/subtle_instruction";

div.schedule-layout {
	display:inline-block;
	width:30%;
	padding: .5em 0;
}

.schedule-container {
  .schedules {
    .item {
      cursor: pointer;
    }
  }
}

.store-schedule {
  cursor: move;
}

.schedule-group {
  margin-bottom: 1em;
  background-color: $palette1;
  border-radius: $border-radius-base;
  padding: 1em;
  .group-header {
    border-bottom: 1px solid $palette2;
  }
  .schedule-row {
    margin: .5em 0;

  }
}

.set-schedule {
  margin-top: 1em;
}

.additional-content {
  &.hidden {
    display: none;
  }
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
}

.expand {
  text-align: center;
  cursor: pointer;
  @extend .ic_down;
}

.collapse {
  text-align: center;
  cursor: pointer;
  @extend .ic_up
}

.center {
  text-align: center;
}

.blackout-date {
  background: gray !important;
}

.instructions {
	margin-bottom: 1em;
}

.details-modal {
  padding-top: 1em !important;
  .group {
    display: flex;
    .section {
      // this combination causes siblings to flex-grow to the same size,
      // consuming all available width
      flex-grow: 1;
      flex-basis: 1em;

      margin-bottom: 1em;
      .require-legend {
        float: right;
      }
      .subtle-instruction {
        vertical-align: inherit;
      }
    }
  }
}
