@import "../../lib/normalize";
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";

@import "../../base/fonts_all";
@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../layout/layout_utils";
@import "../../layout/base_layout";

@import "../../modules/atoms/all";
@import "../../modules/navigation";
@import "../../modules/action_row";
@import "../../modules/pagination";
@import "../../modules/site_filter";
@import "../../modules/s3_uploader";
@import "../../modules/pure_grid";
@import "../../modules/pikaday";
@import "../../modules/scroll_top";

@import "../../modules/data_section";
@import "../../modules/expanding_table_row";
@import "../../modules/address_title";
@import "../../modules/atoms/alerts";

@import "../../modules/alert_row";
@import "../../modules/checkin_report";
@import "../../modules/store_profile_section";
@import "../../modules/hoverable_image";
@import "../../modules/visit_report";
@import "../../modules/notifications";
@import "../../modules/fullcalendar";
@import "../../modules/calendar";

div.schedule-layout {
	display:inline-block;
	width:30%;
	padding: .5em 0;
}

.schedule-group {
  margin-bottom: 1em;
  background-color: $palette1;
  border-radius: $border-radius-base;
  padding: 1em;
  .group-header {
    border-bottom: 1px solid $palette2;
  }
  .schedule-row {
    margin: .5em 0;

  }
}


.save-schedule {
  margin-top: 1em;
}