{{#each this}}
    {{#if name}}
    <div class="filter-component" data-filter-param="{{name}}">
        <div class="filter-item">{{label}} <span class="expand-indicator"></span></div>
        <div class="filter-list">
            {{#each items}}
                <div class="filter-list-item" data-value="{{this.[1]}}">
                    <div class="btn default">&nbsp;</div>
                    <span>{{this.[0]}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
{{/each}}