<div class="bbm-button close-modal"><i class="ic ic_x"></i></div>

    {{#if images}}
    <div class="carousel">
        {{#each images}}
        <div>
            <div class="helper">
                <img src="{{url}}" class="img-responsive" onerror="this.src='{{../content_image_error_url}}'"/>

            </div>
            <div class="label">
            <div class="img-label">{{image_type}}{{#if label}}: {{label}}{{/if}}</div>
            </div>
        </div>

        {{/each}}
        <a href="#" class="arrow arrow-left"><span class="ic ic_left"></span> </a>
        <a href="#" class="arrow arrow-right"><span class="ic ic_right"></span> </a>
    </div>
    {{/if}}
