<div class="bbm-button close-modal"><i class="ic ic_x"></i></div>

    {{#if images}}
    <div class="carousel">
        {{#each images}}
        <div>
            <div class="helper">
                <img src="{{url}}" class="img-responsive" onerror="this.src='{{../content_image_error_url}}'"/>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
