<div class=" holder">
    <div>
        <div class="image pull-left">
            <img src="{{source}}" data-id="63840" alt="Image" >
        </div>
        <div class="delete">
            <button class="btn primary btn-delete"><i class="ic fa ic_x"></i><span>Delete Image</span></button>
        </div>

        <div class="description">
            <label>Description: </label>
            <input type="text" name="description">
        </div>
    </div>
</div>
