
    <div class="form-group">
        <input type="text" id="first_name" class="large dark low-margin" placeholder="First Name" name="user[first_name"]>
        <span class="error-message" style="display: none;"></span>
    </div>
    <div class="form-group">
        <input type="text" id="last_name" class="large dark low-margin" placeholder="Last Name" name="user[last_name]">
        <span class="error-message" style="display: none;"></span>
    </div>
    <div class="form-group">
        <input type="text" id="email" class="large dark low-margin" placeholder="Email" name="user[email]">
        <span class="error-message" style="display: none;"></span>
    </div>
    <div class="form-group">
        <input type="password" id="password" class="large dark low-margin" placeholder="Password (8 Character Minimum)" name="user[password]">
        <span class="error-message" style="display: none;"></span>
    </div>
    <div class="form-group">
        <input type="password" id="password_confirmation" class="large dark low-margin" placeholder="Confirm Password" name="user[password_confirmation]">
        <span class="error-message" style="display: none;"></span>
    </div>
    <div class="form-group">
        <input type="text" id="zip" class="large dark low-margin" placeholder="Zip Code" name="user[zip]">
        <span class="error-message" style="display: none;"></span>
    </div>


    <span class="tooltip">
            <span class="visible-xs"><i class="fa fa-info-circle"></i></span> <span class="hidden-xs">Why are we asking for your zip code?</span>
        </span>

    <div class="tip">
        This allows us to match you with current opportunities in your geographic location.
    </div>


    <div class="clear"></div>
    <div class="form-group">
        <button class="btn primary solid">Create Account</button>
    </div>