<h3>ISSUE OPENED</h3>
<p>{{created_at}} by <a href="{{links.created_by}}">{{created_by}}</a></p>

<h3>ADDITIONAL NOTES</h3>
<textarea name="resolution_notes" class="notes-input"></textarea>

<a class="btn primary submit"><i class="ic ic_check"></i><span class="keep">Resolve Alert</span></a>
<a class="btn default cancel"><i class="ic ic_remove"></i><span class="keep">Cancel</span></a>