<h3>ISSUE OPENED</h3>
<p>{{created_at}} by {{created_by}}</p>

<h3>ADDITIONAL NOTES</h3>
<textarea name="resolution_notes" class="notes-input"></textarea>

<a class="btn primary submit"><i class="ic ic_check"></i>Resolve Alert</a>
<a class="btn default cancel">Cancel</a>