<div class="navigation">
    <div class="logo">
        <a href="{{homeLink}}">

        <span class="ic ic_logo"></span>
        <span class="third hidden-xs">
            THIRD<span class="gray-regulartext channel">CHANNEL</span>
        </span>
        </a>
    </div>

    {{#each navItems}}
        {{> 'nav_item'}}
    {{/each}}
</div>