<div class="date-slider">
  <div class="date-ticks">
    {{#each dates}}
      <span>{{this.label}}</span>
    {{/each}}
  </div>

  <div id="dateSlider">
    <div id="custom-handle" class="ui-slider-handle"></div>
  </div>
</div>
