<h1>{{name}} Uploads</h1>
<div>
    <a href="/programs/{{id}}" class="btn primary"><i class="ic fa ic_left"></i> Back to store list</a>
</div>
<br>
<section class="section data-section">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th># Rows</th>
                <th># Existing Stores</th>
                <th># Stores Added</th>
                <th># Invalid Rows</th>
                <th># Ambiguous Accounts</th>
                <th># Ambiguous Geocodes</th>
                <th># Zero Gecodes</th>
                <th># Failed Geocodes</th>
            </tr>
        </thead>
        <tbody id="upload-list"></tbody>
    </table>
</section>