<h1>{{name}} Uploads</h1>
<div>
    <a href="/programs/{{id}}" class="btn primary"><i class="ic fa ic_left"></i> Back to store list</a>
</div>
<br>
<section class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-4"></h3>
        <h3 class="header col-1-4">Number Of Rows</h3>
        <h3 class="header col-1-4">Number Stores Added</h3>
        <h3 class="header col-1-4">Ambiguous Accounts</h3>
    </div>
    <div class="body" id="upload-list"></div>
</section>