<h1>{{name}} Uploads</h1>
<div>
    <a href="/programs/{{id}}" class="btn primary"><i class="ic fa ic_left"></i> Back to store list</a>
</div>
<br>
<section class="section data-section">
    <div class="pure-g">
        <h3 class="header col-2-12"></h3>
        <h3 class="header col-1-12"># Rows</h3>
        <h3 class="header col-1-12"># Stores Added</h3>
        <h3 class="header col-2-12"># Invalid Row Data</h3>
        <h3 class="header col-2-12"># Ambiguous Accounts</h3>
        <h3 class="header col-2-12"># Ambiguous Geocodes</h3>
        <h3 class="header col-1-12"># Zero Geocodes</h3>
        <h3 class="header col-1-12"># Failed Geocodes</h3>
    </div>
    <div class="body" id="upload-list"></div>
</section>