nav.marketing {
	position: absolute;
	z-index: 501;
	width: 100%;
	height: 104px;
	opacity: 0.8;

	@include gradient-vertical(#777777, #e3e3e3, 0%, 50%);

	img {
		width: 300px;
		height: 50px;
		margin: 27px 20px;


	}

	p {
		font-family: "roboto";
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
		margin: 31px;
		padding: 13px 0;

		a {
			color: #333;
		}

		&:hover {
			border-bottom: 2px solid #828282;
		}
	}

	@include swb-medium {
		height: 70px;

		img {
			width: 270px;
			height: 45px;
			margin: 12.5px 10px;
		}

		p {
			margin: 5px 20px;
			font-size: 30px;
		}
	}
}
