<div class="modal">
    <div class="bbm-button pull-right">
        <i class="ic ic_x"></i>
    </div>
    <div class="warning pull-left">
      !
    </div>
    <div>
        <h2>Delete {{type}}</h2>
        <p>Warning: This cannot be undone.</p>
        <p>Deleting will permanently erase all information collected for this {{type}}.</p>
        <div class="modal-action">
            <button class="btn primary">Yes, Delete {{type}}</button>
        </div>
        <div class="modal-action">
            <button class="btn light">Cancel, Keep {{type}}</button>
        </div>
    </div>
</div>
