<div class="job">
    <div class="header pure-g">
        <h3 class="col-6-12">Task Name:</h3>
        <h3 class="col-2-12">Duration (Minutes)</h3>
        <h3 class="col-2-12">Hourly Rate</h3>
        <h3 class="col-2-12">Task Required?</h3>
    </div>
</div>