//
// Icon Font: tc-icons
//

@font-face {
  font-family: "tc-icons";
  src: url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.eot");
  src: url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.eot?#iefix") format("embedded-opentype"),
       url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.woff") format("woff"),
       url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.ttf") format("truetype"),
       url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.svg#tc-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "tc-icons";
    src: url("../fonts/tc-icons_79b66d24f4e8f3120337a9c5d1f4099f.svg#tc-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.tc-activity_feed:before,
.tc-add:before,
.tc-checkin:before,
.tc-closed_circle:before,
.tc-collapse:before,
.tc-comment:before,
.tc-dashboard:before,
.tc-down:before,
.tc-download:before,
.tc-edit:before,
.tc-exit:before,
.tc-expand:before,
.tc-field_team:before,
.tc-filter:before,
.tc-like:before,
.tc-logo:before,
.tc-navigate:before,
.tc-notifications:before,
.tc-open_circle:before,
.tc-post:before,
.tc-remove:before,
.tc-report:before,
.tc-reports:before,
.tc-resolve_select:before,
.tc-resources:before,
.tc-search:before,
.tc-stores:before,
.tc-up:before,
.tc-upload:before,
.tc-user:before {
  display: inline-block;
  font-family: "tc-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; 
}

.tc-activity_feed:before { content: "\f100"; }
.tc-add:before { content: "\f101"; }
.tc-checkin:before { content: "\f102"; }
.tc-closed_circle:before { content: "\f103"; }
.tc-collapse:before { content: "\f104"; }
.tc-comment:before { content: "\f105"; }
.tc-dashboard:before { content: "\f106"; }
.tc-down:before { content: "\f107"; }
.tc-download:before { content: "\f108"; }
.tc-edit:before { content: "\f109"; }
.tc-exit:before { content: "\f10a"; }
.tc-expand:before { content: "\f10b"; }
.tc-field_team:before { content: "\f10c"; }
.tc-filter:before { content: "\f10d"; }
.tc-like:before { content: "\f10e"; }
.tc-logo:before { content: "\f10f"; }
.tc-navigate:before { content: "\f110"; }
.tc-notifications:before { content: "\f111"; }
.tc-open_circle:before { content: "\f112"; }
.tc-post:before { content: "\f113"; }
.tc-remove:before { content: "\f114"; }
.tc-report:before { content: "\f115"; }
.tc-reports:before { content: "\f116"; }
.tc-resolve_select:before { content: "\f117"; }
.tc-resources:before { content: "\f118"; }
.tc-search:before { content: "\f119"; }
.tc-stores:before { content: "\f11a"; }
.tc-up:before { content: "\f11b"; }
.tc-upload:before { content: "\f11c"; }
.tc-user:before { content: "\f11d"; }
