@import "../../lib/normalize";
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";
@import "../../lib/chosen";
@import '../../../../js/libs/bower_components/slick.js/slick/slick';

@import "../../base/fonts_all";
@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../layout/layout_utils";
@import "../../layout/base_layout";

@import "../../modules/atoms/all";
@import "../../modules/navigation";
@import "../../modules/action_row";
@import "../../modules/pagination";
@import "../../modules/site_filter";
@import "../../modules/pure_grid";
@import "../../modules/pikaday";

@import "../../modules/data_section";
@import "../../modules/expanding_table_row";
@import "../../modules/address_title";
@import "../../modules/atoms/alerts";

@import "../../modules/store_profile_section";


// overrides

.navigation .nav-item {
    height: inherit;
    padding-left: 2.5em;
    white-space: normal;
    .link {
        padding-left: 0;    
    }
}

.data-section {
    padding: 0;
    .header {
        padding-top: 0.5em;
        text-align: center;
    }
    .body  {

        .entry-actions {
            text-align: right;
            .btn {
                cursor: pointer;
            }
        }

        .item {
            &.checkin {
                background-color: $light-blue;
            }
            &.travel {
                background-color: $light-gray;
            }
            &.status {
                text-align: center;
            }
        }
    }
}

.entry {
    
    .valid-indicator {
        text-align: center;
        font-size: 1.25em;
        .ic_check {
            color: green;
        }
        .ic_x {
            color: red;
        }
    }
    .payment {
        font-weight: bold;
    }

    .sub-view-container {
        margin: 0 1em 0 1em;
        position: absolute;
        overflow: hidden;
        max-height: 0;
        -webkit-transition: max-height, 0.8s;
        -moz-transition: max-height, 0.8s;
        -ms-transition: max-height, 0.8s;
        -o-transition: max-height, 0.8s;
        transition: max-height, 0.8s;
    } 
    &.active {
        .sub-view-container {
            position: inherit;
            max-height: 999em;
        }
    }  
}