*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}


.module {
  padding:1em;
  background-color: white;
  border:1px solid $border-color;
  border-radius: $border-radius-base;
}

.pull-right {
  float:right;
}

.visible-xs {
  display:none;
}

.expander {
  cursor: pointer; 
}

.hide {
  display: none;
}

@include bp-small() {
  .visible-xs {
    display: block;
  }
}

