@import "mixins";
@import "variables";
@import "colors";
@import "canvas_layout";
@import "buttons";
@import "forms";
@import "layout_utils";
@import "navigation";
@import "text";
@import "fonts/3cicons";
@import "fonts/nexa";


body {
  margin: 0;
}
html {
  margin: 0;
  font-size: .9rem;
  font-family: sans-serif;
  background-color: $main-background;
  color: $text-color;
}


.content {
  position: relative;
  width: 100%;
  padding-left: 14em;
  padding-right: 1em;
  overflow: auto;
  height: 100%;
  .actions {
    position: absolute;
    top:1em;
    right:1em;
    a {
      padding-left:.5em;
    }
  }
}

li {
  &.list-unstyled {
    text-decoration: none;
  }
}

.section {
  background-color: white;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  margin-bottom: 2em;
}
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 1em;

    th {
      text-transform: uppercase;
      text-align: left;
      padding-bottom: 1em;
      vertical-align: top;
      a {
        color: $text-color;
      }
    }

    tr {
      td {
        vertical-align: top;
        padding: 1em 0;
        border-top: 1px solid $border-color;
      }
    }
}


/* Logo */

a.logo-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.logo {
  padding: 1em 0 1em 1em;
  background-color: white;

  .tc-icons_logo, .third {
    $size: 1em;
    height: $size;
    line-height: $size;
    vertical-align: middle;
    text-decoration: none;
  }

  .tc-icons_logo {
    font-size: 2em;
  }

  .third, .channel {
    font-size: 1.1em;
  }

  .tc-icons_logo, .channel {
    color: $text-color;
  }

  .third {
    color: $link-color;
    font-family: 'Nexa Light';
  }

  .channel {
    font-family: 'Nexa Bold';
  }
}

.toggle-filter.enabled {
  color: $active-state;
}

.pagination-holder {
  margin-bottom: 1em;
  text-align: right;
  .pagination {
      display: inline;
    margin-bottom: .5em;
    margin-left: 1em;
    .page {
      font-size: .8em;
      display: inline-block;
      min-width: 2.6em;
      padding: .6em;
      border: .1em solid $border-color;
      text-align: center;
      background-color: $nav-background;
      a {
        color: $border-color;
      }
      &:hover {
        background-color: darken($nav-background, 5%);
      }
      &.current {
        background-color: darken($nav-background, 10%);
      }
      &.gap{
        background-color: inherit;
        border: none;
      }
      &:first-of-type {
        border-bottom-left-radius: $border-radius-base;
        border-top-left-radius: $border-radius-base;
      }
      &:last-of-type{
        border-bottom-right-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
      }
    }
  }
  .pagination-info {
    margin-bottom: 1em;
  }
}

@include bp-small {
  .content{
    padding-top: 3.5em;
    padding-left:.5em;
    padding-right: .5em;
  }

  #site-wrapper.show-nav .content {
      height:initial;
    }

}