{{#if optional_tasks}}
    <div class="indicator">
        <a class="" href="{{optional_tasks.url}}">
            <i class="ic ic_add"></i> <span class="hidden-md normal">Add Activity</span>
        </a>
    </div>
{{/if}}