{{#if optional_tasks}}
    <div class="indicator">
        <a class="btn primary" href="{{optional_tasks.url}}">
            <i class="ic ic_add"></i> <span class="hidden-xs">Add Activity</span>
        </a>
    </div>
{{/if}}