@import "store_details";

#program-list {
  .program-list-item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $slate;
  }
}

#program-search {
  width: 75%;
}

.similar-account {

  &.match {
    font-weight: bold;
    color: $palette7;
  }
}