.form-section {
    margin: 0 0 1em 0;

    .header {
        border-bottom: 2px solid $border-color;
        padding: 0 1em;
        .check-col {
            text-align: center;
        }
    }
    .summary {
        border-top: 2px solid $border-color;
        padding: 0 1em;
    }

    .btn-row {
        padding: 1em 1em;
    }
    .max {
        max-width: 90%;
    }

}

.form-group {
    margin-bottom: 1em;
    .grow {
        width: auto;
    }
    .no-fill {
        min-width: 15em;
    }
    input, select {
        display: block;
    }
    .input-checkbox {
        display:inline;
    }
}

.tasks-container {
    padding: 0 1em;
}

.task.row {
    padding:0;
    border:0;
    border-bottom: 1px solid $border-color;
    .payment-rate {
        width: 65%;
    }
    .task-checkbox {
        line-height: 3em;
    }

    .remove {
        margin: 0 0.5em 0.5em 0.5em;
        cursor: pointer;
    }
}

.cell {
    &.center {
        text-align: center;
    }
    
    &.right {
        text-align: right;
    }
}

