<div class="body pure-g">
    <div class="col-2-5 col-md-1">{{firstName}} {{lastName}}</div>
    <div class="col-2-5 col-md-1">{{email}}</div>
    <div class="col-1-5 col-md-1"><a href="/profile/edit/{{id}}">Edit Profile</a></div>
</div>