<h1>Users</h1>
<div id="users-list" class="card">
    <div class="header pure-g">
        <div class="col-2-5 col-md-1">Agent</div>
        <div class="hidden-md col-2-5">Email</div>
        <div class="hidden-md col-1-5">Actions</div>
    </div>

    {{#each this}}
        {{#if email}}
            {{> user}}
        {{/if}}
    {{/each}}
</div>