{{#if showButton}}
<p>Once your schedule is locked and set you will need to contact your Program Manager if you need to reschedule a visit.</p>
{{/if}}

{{#if showButton}}
    <a href="#" class="set-schedule btn primary">Set & Lock Schedule</a>
{{/if}}