{{#if showButton}}
<p class="bottom">Once your schedule is finalized you will need to contact your Program Manager if you need to reschedule a visit.</p>
{{/if}}

{{#if showButton}}
    <a href="#" class="set-schedule btn primary">Finalize Schedule</a>
{{/if}}