{{#if isScheduleUnlocked}}
    <p>All visits have been scheduled. You can still update your schedule by dragging the visits on the calendar.</p>
{{else}}
    <p>Your schedule is locked. If you need to make changes, please contact your Program Manager.</p>
{{/if}}