{{#if dateCompleted}}
    * Completed jobs cannot be rescheduled<br/>
{{/if}}
<p class="bold">{{storeName}}</p>
<p>{{address}}</p>
<p class="bold">{{jobDetails.name}}</p>
<ul class="unstyled">
    {{#each tasks}}
        <li>- {{name}}</li>
    {{/each}}
</ul>
