<h3 class="title"><span id="storeCount">{{count}}</span> Stores</h3>
<div class="pagination-holder"></div>
{{#programStores}}
<p class="store-row"><input type="checkbox" name="ids" value="{{uuid}}" class="check" {{#selected}}checked{{/selected}}><span class="name">{{name}}</span> {{address}}</p>
{{/programStores}}