<div class="fixture-item">
    <img class="fixture-image" src="{{image}}" alt="{{name}}" onerror="this.src='{{imageError}}'"></img>
    <div class="fixture-breakdown">
        <p><span class="label">Name:</span>{{name}}</p>
    </div>
</div>