<h2>Most Common Issues</h2>
<div class="section data-section">
    <div class="pure-g">
        <div class="col-1-5"><h3 class="header">Count</h3></div>
        <div class="col-2-5"><h3 class="header">Asset</h3></div>
        <div class="col-2-5"><h3 class="header">Issue</h3></div>
    </div>
    <div class="body"></div>
    <div class="item">
        <a href="/programs/{{programId}}/fixture_tracking/problems">Show All</a>
    </div>
</div>