<div class="img-background">
  <img src="{{links.self}}" onerror="this.src='{{links.error}}'" class="img-responsive"/>
</div>
<div class="overlay">
  <div class="caption">
    <p class="label">{{{label}}}</p>
    <p class="timestamp">{{{photo_updated_at}}}</p>
  </div>
</div>