{{> user_image current_user.user_image}}

<div class="bar-body">

    <textarea rows="1" class="expanding new-comment-field" placeholder="Write a comment..."></textarea>

    <button class="btn light solid add-comment">Comment</button>
</div>