<img src="{{current_user.user_image}}" class="user-image hidden-xs img-circle" onerror="this.src='{{user_image_error_url}}'"/>

<div class="bar-body">

    <textarea rows="1" class="expanding new-comment-field" placeholder="Write a comment..."></textarea>

    <button class="btn light solid add-comment">Comment</button>
</div>