{{> user_image current_user.user_image}}

<div class="bar-body">

    <div contenteditable="true" class="expanding new-comment-field"></div>

    <button class="btn light solid add-comment">Comment</button>
</div>