<a href="#" class="sales-data-show-providers pull-right">
  <span>Sales Data Provided by</span>
</a>
<div class="provider-logos pull-right fa fa-caret-up">
  {{#providers}}
    <img src="sp-icon-{{this}}" alt="{{this}}">
  {{/providers}}
</div>
