<a href="#" class="sales-data-show-providers pull-right">
  <span class="providers-tooltip">Sales Data Providers</span>
  <span class="fa fa-caret-down"></span>
</a>
<div class="provider-logos pull-right fa fa-caret-up">
  {{#providers}}
    <i class="sp_{{this}}" title="{{this}}"></i>
  {{/providers}}
</div>
