<div class="report-info-list">
    <div class="header">
        <h1>{{title}}</h1>
    </div>

    <div class="pages"></div>

    <div class="section">
        <table>
            <thead>
            <th>{{header_1}}</th>
            <th>{{header_2}}</th>
            </thead>
            <tbody class="list-items"></tbody>
        </table>
    </div>
</div>