<div class="export-modal progress">Please wait while we generate the requested file.
    <div>(Please be aware this could take up to 5 minutes.)</div>
    <div><i class="ic ic_processing fa-spin"></i></div>
</div>