<div class="export-modal success">
    Export Successful!
    <div class="small">(Please right-click the link below and choose "Save Link As...")</div>
    <div><a href="{{href}}">Download file</a></div>
</div>