	<label class="label" for="jobName">Name</label>
    <input class="input" type="text" value="{{name}}" name="name" id="jobName" placeholder="Enter Optional name here"/>
    <p class="info">If you leave the name blank, the group will use the name of the first Task</p>

    <div class="tasks-container">
    </div>

    <button class="btn add-task">Add Task</button>