<h3>Job Details</h3>
{{>job_fields}}

<div>
    <button type="submit" name="submit" class="btn btn-primary primary job-submit">Save</button>
    <button name="delete" class="btn btn-primary delete">Delete</button>
</div>
