<h3></h3>
<div class="tasks-container"></div>
<p class="info">{{taskCount}} tasks(s). Total Duration: {{displayDuration}}. Payment: ${{displayTotalPayment}}. <a href=""> Currently assigned to {{scheduleCount}} stores</a></p>

