@import "../../lib/normalize";
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";

@import "../../base/fonts_all";
@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../layout/layout_utils";
@import "../../layout/base_layout";

@import "../../modules/pure_grid";
@import "../../modules/marketing/_navigation";
@import "../../modules/marketing/_footer";
@import "../../modules/marketing/_show";

html, body {
  font-family: "Open Sans", Sans-Serif;
  font-size: 16px;
  line-height: 30px;
  color: #5D5D5D;
  background-color: #FFF;
}

.site-canvas {
  margin-top: 69px;
}