@import "../../lib/normalize";
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";

@import "../../base/fonts_all";
@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../layout/layout_utils";

@import "../../modules/pure_grid";
@import "../../modules/marketing/_navigation";
@import "../../modules/marketing/_footer";
@import "../../modules/marketing/_full_section";
@import "../../modules/marketing/_page_header";
@import "../../modules/marketing/_section_header";
@import "../../modules/marketing/_show";
@import "../../modules/marketing/_profiles";

html, body {
  font-family: "Open Sans", Sans-Serif;
  font-size: 16px;
  line-height: 30px;
  color: #5D5D5D;
  background-color: #FFF;
}

.site-canvas {
  margin-top: 63px;
}

#home-page1 {
  width: 100%;
  text-align: center;
  background-color: $palette4;

  #home-page1-content {
    margin: 0 auto;
    width: 75%;
    position: relative;
    top: 50%;
    vertical-align: middle;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      max-width: 100%;
      font-size: 48px;
      font-weight: bold;
      line-height: 60px;
      color: #F15F51;
    }

    h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: normal;
      color: #F6F6F6;
    }
  }
}

#home-page2 {
  width: 100%;
  padding-top: 5px;

  #home-page2-content {
    text-align: center;

    h1 {
      font-size: 36px;
      line-height: 48px;
      max-width: 100%;
      color: $red;
    }

    .possibilities {
      .possibility {
        p {
          margin: 0 auto;
          width: 250px;
          text-align: left;
        }
      }
    }
  }
}

#home-page3 {
  width: 100%;
  padding-top: 5px;
  background-color: #F6F6F6;

  #home-page3-content {
    margin: 0 auto;
    text-align: center;
    width: 75%;

    h1 {
      font-size: 36px;
      line-height: 48px;
      max-width: 100%;
      color: $red;
    }

    h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: normal;
    }

    >img {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    >p {
      text-align: left;
    }
  }
}

#home-page4 {
  width: 100%;
  margin: 0;
  padding: 0;

  #home-page4-header {
    background-color: $red;
    text-align: center;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 36px;

    div {
      margin: 0 auto;
      width: 75%;

      h1 {
        max-width: 100%;
        font-size: 36px;
        font-weight: bold;
        line-height: 24px;
      }

      h2 {
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
      }
    }

  }

  #home-page4-content {
    margin: 0 auto;
    padding-top: 24px;
    width: 75%;
    text-align: center;

    h3 {
      color: $red;
    }

    .circle {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      background: url("http://placekitten.com/g/150/150") no-repeat;
    }

    .home-page4-content {
      text-align: left;

      a {
        font-weight: bold;
      }
    }
  }
}