@import "../../lib/normalize";
@import "../../lib/pure.grids-core";
@import "../../lib/pure.responsive-grid";

@import "../../base/base";
@import "../../base/text";
@import "../../base/forms";
@import "../../base/buttons";
@import "../../base/fonts_all";
@import "../../layout/layout_utils";

@import "../../modules/atoms/_vertically_centered";
@import "../../modules/atoms/video_wrapper";

@import "../../modules/pure_grid";
@import "../../modules/marketing/_navigation";
@import "../../modules/marketing/_footer";
@import "../../modules/marketing/_full_section";
@import "../../modules/marketing/_form";
@import "../../modules/marketing/_home_page";
@import "../../modules/marketing/_page_header";
@import "../../modules/marketing/_section_header";
@import "../../modules/marketing/_show";
@import "../../modules/marketing/_profiles";
@import "../../modules/marketing/_more_details_header";
@import "../../modules/marketing/_contact_us";
@import "../../modules/marketing/_applicants";

html, body {
  color: $slate;
  background-color: #FFF;
}

body {
  padding-top: 3.875em;
}

h1 {
  margin-bottom: 1.6em;
  font-size: 3em;
  line-height: 1.2em;
  color: $red;
  max-width: 100%;
  text-transform: uppercase;

  @include swb-medium {
    margin-bottom: 0.3em;
    font-size: 2em;
    line-height: 1em;
  }
}

h2 {
  font-size: 1.2em;
  font-weight: normal;

  @include swb-medium {
    font-size: 0.6em;
  }
}

.content {
  @include swb-medium {
    padding: 0;
  }
}
