<div class="filter-component" data-type="date">
  <div class="filter-item">{{label}}<span class="expand-indicator"></span></div>
  <div class="filter-list">
        <div class="filter-list-item">
          <p class="visible-xs">Please enter the date:</p>
          <input class="visible-xs" type="date"/>
          <div class="datepicker"></div>
        </div>
  </div>
</div>