<div class="filter-component" data-type="date">
  <div class="filter-item">{{label}}<span class="expand-indicator"></span></div>
  <div class="filter-list">
        <div class="filter-list-item">
          <p>Please enter the date:</p>
          <input type="date"/>
        </div>
  </div>
</div>