<section class="section data-section">
    <div class="pure-g">
        <h3 class="header alternate col-2-12">Brands</h3>
        <div class="col-1-12">
            <h3 class="header alternate">$ Sales</h3>
            <span class="sub-header">This Period, TY</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">$ Sales</h3>
            <span class="sub-header">This Period, LY</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">% Change</h3>
            <span class="sub-header">$ Store Sales</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">% Change</h3>
            <span class="sub-header">$ Account Sales</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">Units Sold</h3>
            <span class="sub-header">This Period</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">Units Sold</h3>
            <span class="sub-header">This Period, LY</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">UoH</h3>
            <span class="sub-header">TP, TY</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">UoH</h3>
            <span class="sub-header">TP, LY</span>
        </div>
        <div class="col-1-12">
            <h3 class="header alternate">% Change</h3>
            <span class="sub-header">UoH</span>
        </div>
    </div>
    <div class="body"></div>
</section>