<section class="section data-section">
    <div class="sales-breakdown">
        <table>
            <thead>
                <tr>
                    <td><h3 class="header alternate">{{title}}</h3></td>
                    <td>
                        <h3 class="header alternate">$ Sales</h3>
                        <span class="sub-header">This Period, TY</span>
                    </td>
                    <td>
                        <h3 class="header alternate">$ Sales</h3>
                        <span class="sub-header">This Period, LY</span>
                    </td>
                    <td>
                        <h3 class="header alternate">% Change</h3>
                        <span class="sub-header">$ Store Sales</span>
                    </td>
                    <td>
                        <h3 class="header alternate">Units Sold</h3>
                        <span class="sub-header">This Period</span>
                    </td>
                    <td>
                        <h3 class="header alternate">Units Sold</h3>
                        <span class="sub-header">This Period, LY</span>
                    </td>
                    <td>
                        <h3 class="header alternate">% Change</h3>
                        <span class="sub-header">Units Sold</span>
                    </td>
                    <td>
                        <h3 class="header alternate">UoH</h3>
                        <span class="sub-header">TP, TY</span>
                    </td>
                    <td>
                        <h3 class="header alternate">UoH</h3>
                        <span class="sub-header">TP, LY</span>
                    </td>
                    <td>
                        <h3 class="header alternate">% Change</h3>
                        <span class="sub-header">UoH</span>
                    </td>
                </tr>
            </thead>
            <tbody class="body"></tbody>
        </table>
    </div>
    <div class="pure-g">
        <div class="col-1-1">
            <span class="pull-right sps-logo"></span>
        </div>
    </div>
</section>