<section class="section data-section">
    <div class="pure-g">
        <div class="col-md-1-1 col-1-2" id="brand-percent-of-sales">
            <h3>% of Sales By Category</h3>
            <span class="sub-header">This period</span>
            <div class="chart"></div>
        </div>
        <div class="col-md-1-1 col-1-2" id="brand-change-in-sales">
            <h3>% Change in Sales</h3>
            <span class="sub-header">Compared to this period previous year</span>
            <div class="chart horizontal-bar"></div>
        </div>
    </div>
</section>
