<section class="section data-section">
    <div class="pure-g">
        <div class="col-1-2" id="brand-percent-of-sales">
            <h3>% of Sales By {{breakdown_by}}</h3>
            <p>This period</p>
            <div class="chart"></div>
        </div>
        <div class="col-1-2" id="brand-change-in-sales">
            <h3>% Change in Sales</h3>
            <p>Compared to this period previous year</p>
            <div class="chart horizontal-bar"></div>
        </div>
        <div class="col-1-1">
            <span class="pull-right sps-logo"></span>
        </div>
    </div>
</section>