<div class="col-1-6">
	<p class="statistic">{{totalStores}}</p>
	<p>Stores</p>
</div>

<div class="col-1-3">
	<p class="statistic">{{states}}</p>
	<p>States Covered</p>
</div>

<div class="col-1-2">
	<p class="statistic">{{averageUnits}}</p>
	<p>Avg. Units on Display</p>
</div>