{{#sales}}
	<div class="col-1-2">{{date}}:</div>
	<div class="col-1-2">{{cents}}</div>

{{else}}
<p class="col-1-1">No Sales numbers found for this date range</p>
{{/sales}}
<p class="col-1-1">Note: this will be a graph soon</p>
