<section class="section labs">
	<h2 class="header">Average Retail Sales ($USD)</h2>
	<canvas width="450" height="450" class="retail-sales">	</canvas>
	{{#sales}}
	{{else}}
	<p class="col-1-1">No Sales numbers found for this date range</p>
	{{/sales}}
	
</section>


