@import '../../lib/backbone.modal/modal';

$padding: 1.5em;
@include swb-small {
  $padding: 1em;
}

.activity-holder {
  margin-bottom: 1.5em;
  border-radius: $border-radius-base;
  border: 1px solid $border-color;
}
.tasks {
  @include clearfix();
  padding: $padding $padding 0 $padding;
  vertical-align: middle;
  border-bottom: 1px solid $border-color;

  .task-item {
    display: inline-block;
    margin-right: 1em;
    padding-bottom: $padding;
    &.active .badge {
      background-color: $border-color;
    }
    @media only screen and (max-width: 35.5em) {
      width: 100%;
      margin: 0em;
    }
  }
  .badge {
    background-color: $main-background;
    display: inline-block;
    padding: 0.5em;
    color: $text-color;
    &.active {
      background-color: $border-color;
    }

  }
  .task-info {
      margin-left: -1px;
      color: $medium-blue;
      .ic {
        padding: 0em 0.25em;
      }
    }

  
}

// .activity, .comment-holder {
//   //  padding:1.5em;
// }

.activity {
  background: white;
  //border-top-left-radius: $border-radius-base;
  //border-top-right-radius: $border-radius-base;
  border-radius: $border-radius-base;
  &.info {
    background-color: $palette1;
    padding: 1em;
    border-radius: $border-radius-base;
    margin-bottom: 1em;
  }
  &.error {
    background-color: lighten($link-color, 20%);
  }
  &.incomplete {
    .activity-holder {
      padding: 1em;
      h3 {
        text-transform: uppercase;
      }
      .fa {
        font-size: .8em;
        margin-left: 1.5em;
      }
    }
  }
}

.comment-holder {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.activity-meta, .comment {
  padding: $padding $padding 0 $padding;
  .user-image, .bar-body {
    display: inline-block;
  }
  .bar-body {
    vertical-align: top;
    //    padding-left: 1em;
    width: 80%;

    .activity-special-project {
      font-style: italic;
    }

    textarea, button {
      display: inline-block;
      vertical-align: top;
    }
    @include swb-small {
      width: 100%;
    }
  }
}

.comment.new-comment {
  padding-bottom: $padding;
}

.activity-content, .activity-actions {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  padding: $padding;
  .issues-found {
    margin-bottom: 1em;
    .indicator {
      font-size:.8em;
      font-weight: bold;
    }
  }
  .activity-actions {
    margin-top: 1em;
    vertical-align: bottom;
  }
}

.activity-content img {
  max-width: 100%;
}

.action {
  padding-right: 1em;
}

.activity-photos {
  padding: $padding;
  display: inline-block;
  width: 29%;
}

.activity-photos {
  .slick-initialized {
    &.slick-slider {
      margin-bottom: 0;
    }
    .slick-slide {
      text-align: center;
      background-color: $light-blue;
      img {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.activity-photos, .bbm-modal {
  .carousel {
    .arrow {
      color: white;
      position: absolute;
      top: 50%;
      font-size: 1.2em;
      cursor: pointer;
      z-index: 10;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
      width: 2em;
      &.arrow-left {
        left: 5px;
      }
      &.arrow-right {
        right: 5px;
        text-align: right;
      }

    }
  }

}

.activity-photos {
  .carousel {
    .img-label {
      font-size: .9rem;
      position: absolute;
      bottom: .25em;
      width: 100%;
      color: white;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    }
  }
}

.bbm-modal {
  .carousel {
    .arrow {
      &.arrow-left {
        left: -2em;
        top: 25%;

      }
      &.arrow-right {
        right: -2em;
        top: 25%;
      }
      .ic:before {
        font-weight: bold;
      }
    }
    .img-label {
      padding: 1em;
      width: 100%;
      color: $text-color;

    }
  }
  .slick-initialized {
    .slick-slide {
      .helper {
        margin-top: 2em;
        text-align: center;
        width: 100%;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

.helper {
  display: inline-block;
  height: 100%;
}

$img-height: 3em;

.user-image {
  width: $img-height;
  height: $img-height;
  margin-right: 1em;
}

.comment-holder {
  background-color: $border-color;
  //$palette1;
  .activity-status {
    padding: 0.5em $padding;
    border-bottom: 1px solid $main-background;
  }
  .comments {
    .activity-bar:last-of-type {
      margin-bottom: 0;
    }
  }
}

.moderation-actions {
  padding: .5em 1em;
  background-color: darken($palette1, 5%);
  border-bottom-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}


.bbm-button.close-modal {
  i {
    position: absolute;
    right: -2em;
    top: -2em;
    color: white;
  }
}

@include swb-large {
  .activity-content, .activity-actions {
    width: 65%;
  }
  .activity-photos {
    width: 34%;
  }
}

@include swb-medium {
  .activity-content, .activity-photos {
    width: 100%;
    margin-bottom: 1em;
  }
  .activity-content img {
    max-width: 100%;
  }
}

@include swb-small {
  .activity-content, .activity-photos, .activity-actions {
    width: 100%;
    margin-bottom: 0;
  }
  .activity-content img {
    max-width: 100%;
  }

  .activity-status {
    padding: $padding;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}