$padding: 1.5em;

.activity-holder {
    margin-bottom: 1.5em;
    border-radius: $border-radius-base;
    border: 1px solid $border-color;
}

.activity, .comment-holder {
    //  padding:1.5em;
}

.activity {
    background: white;
    //border-top-left-radius: $border-radius-base;
    //border-top-right-radius: $border-radius-base;
    border-radius: $border-radius-base;
    &.info {
        background-color: $palette1;
        padding: 1em;
        border-radius: $border-radius-base;
        margin-bottom: 1em;
    }
    &.error {
        background-color: lighten($link-color, 20%);
    }
    &.incomplete {
        .activity-holder {
            padding: 1em;
            h3 {
                text-transform: uppercase;
            }
            .fa {
                font-size: .8em;
                margin-left: 1.5em;
            }
        }
    }
}

.comment-holder {
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
}

.activity-meta, .comment {
    padding: $padding $padding 0 $padding;
    .user-image, .bar-body {
        display: inline-block;
    }
    .bar-body {
        vertical-align: top;
        //    padding-left: 1em;
        width: 80%;
        textarea, button {
            display:inline-block;
            vertical-align: top;
        }
    }
}

.comment.new-comment {
    padding-bottom: $padding;
}

.activity-content {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: $padding;
    .issues-found {
        margin-bottom: 1em;
    }
    .activity-actions {
        margin-top: 1em;
        vertical-align: bottom;
    }
}

.action {
    padding-right: 1em;
}

.activity-photos {
    padding: $padding;
    display: inline-block;
    width: 29%;
    .img-container {
        background-color: $palette1;
        display: table-cell;
        vertical-align: middle;
       > img { 
            display:block;
            max-width: 100%;
            margin: auto;
       }
    }
}

$img-height: 3em;

.user-image {
    width: $img-height;
    height: $img-height;
    margin-right: 1em;
}

.comment-holder {
    background-color: $border-color;
    //$palette1;
    .status-bar {
        padding: 0.5em $padding;
        border-bottom: 1px solid $main-background;
    }
    .comments {
        .activity-bar:last-of-type {
            margin-bottom: 0;
        }
    }
}

.bbm-modal {
    .m-carousel {
        width:95%;
        margin: 0;
        margin: 0 auto;
    }
    .m-carousel-photos .m-item{
        text-align: center;
        .img-holder {
            width: inherit;
       
        > img {
            max-height: 500px;
            width: auto;
            display: block;
            margin: 0 auto;
        }
         }
    }
}


@include bp-large {
    .activity-content {
        width: 65%;
    }
    .activity-photos {
        width: 34%;
    }
}

@include bp-medium {
    .activity-content, .activity-photos {
        width: 100%;
        margin-bottom: 1em;
    }
}



@include bp-small {
    .activity-content, .activity-photos {
        width: 100%;
        margin-bottom: 1em;
    }
}