@import '../../lib/backbone.modal/modal';

$padding: 1.5em;
@include swb-small {
  $padding: 1em;
}

.activity-holder {
  margin-bottom: 1.5em;
  border-radius: $border-radius-base;
  border: 1px solid $border-color;
}
.tasks {
  @include clearfix();
  padding: $padding $padding 0 $padding;
  vertical-align: middle;
  border-bottom: 1px solid $border-color;

  .task-container {
    display: inline-block;
    width: 90%;

    @include swb-small {
      position: relative;
      width: 100%;

      a {
        margin-top: 0.1rem;
      }
    }
  }

  .tasks-label {
    display: inline-block;
    float: left;
    margin-right: $padding;
    line-height: 2.25em;
  }

  .task-label {
    min-width: 5rem;
  }

  .task-item {
    @include inline-flex;
    @include flex-flow(row wrap);

    margin-right: 1em;
    margin-bottom: $padding;
    background-color: $main-background;
    border: 1px solid $border-color;

    &.active {
      background-color: $border-color;
    }

    @include swb-small {
      width: 100%;
      margin: 0em;
    }
  }

  .badge {
    display: inline-block;
    padding: 0.5em;
    color: $text-color;

    &.active {
      background-color: $border-color;
    }

  }

  .task-info {
      margin-left: -1px;
      color: $medium-blue;
      .ic {
        padding: 0em 0.25em;
      }
    }
}

.activity {
  p {
    margin: 0 0 0 0;
  }
  background: white;
  //border-top-left-radius: $border-radius-base;
  //border-top-right-radius: $border-radius-base;
  border-radius: $border-radius-base;
  &.info {
    background-color: $palette1;
    padding: 1em;
    border-radius: $border-radius-base;
    margin-bottom: 1em;
  }
  &.error {
    background-color: lighten($link-color, 20%);
  }
  &.incomplete {
    .activity-holder {
      padding: 1em;
      h3 {
        text-transform: uppercase;
      }
      .fa {
        font-size: .8em;
        margin-left: 1.5em;
      }
    }
  }
}

.comment-holder {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.activity-meta, .comment {
  padding: $padding $padding 0 $padding;
  .user-image, .bar-body {
    display: inline-block;
  }
  .bar-body {
    vertical-align: top;
    width: 80%;

    .activity-special-project {
      font-style: italic;
    }

    .new-comment-field {
      background-color: white;
      vertical-align: top;
      margin-bottom: 0.5em;
      -webkit-border-radius: .35em;
      -moz-border-radius: .35em;
    }

    textarea, button {
      display: inline-block;
      vertical-align: top;
    }
    @include swb-small {
      width: 100%;
    }
  }
}
.activity-meta{
  .sales-widget {
    width: 33%;
    vertical-align: top;
    display: none;
    border: 1px solid $light-blue;
    line-height: 3em;
    float:right;
    @include swb-small {
      width: 100%;
      display: block;
      float:none;
      margin-top: 1.5rem;

      p {
        font-size: 0.85rem;
        vertical-align: middle;
      }
      a {
        font-size: 0.85rem;
      }
    }
    .text, .details {
      display: inline-block;
      text-align: center;
      font-weight: bold;
    }
    .text {
      border-right: 1px solid $light-blue;
      width: 70%;
      &.full {
        width: 100%;
      }
    }
    .details {
      width: 28%;
      vertical-align: middle;
    }
  }

  .bar-body {
    width: 55%;
    @include swb-small {
      width: 100%;
    }
  }
}



.comment.new-comment {
  padding-bottom: $padding;
}

// added by jQuery autocomplete
.ui-autocomplete {

  background-color: #ffffff;
  width: 20em;
  list-style: none;
  list-style-type: none;
  padding: 0em;
}
.ui-menu-item {
  width: 100%;
  background-color: inherit;
}
.ui-menu-item:hover {
  background: #f2fafc;
}
.autocompleteColumn {
  width: 25%;
  height: 1.5em;
  float: left;
  text-align: left;
  font-size: 1em;
  padding-right: .25em;
  padding-left: .25em;
  background-color: inherit;
  padding-bottom: .1em;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocompleteSearchTerm {
  font-weight: bold;
  background: #eaeae8;
}

.autocompletePlaceholder {
  color: #c2cdd5;
  font-style: italic;
  padding-left: .25em;
  font-size: .75em;
}

.autocompletePlaceholder:hover {
  background-color: transparent;
}

.highlight {
  color: $link-color;
}

.activity-content, .activity-actions {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  /*width: 100%;*/
  padding: 0 $padding 0 $padding;
  .issues-found {
    .indicator {
      font-size:.8em;
      font-weight: bold;
    }
  }
  .summary, .issues-found {
    margin: $padding 0 $padding 0;
  }
  .activity-actions {
    margin-top: 1em;
    vertical-align: bottom;
  }
}

.activity-content img {
  max-width: 100%;
}

.action {
  padding-right: 1em;
}

.activity-photos {
  padding: 0 $padding $padding $padding;
  display: inline-block;
  width: 29%;
}

.activity-photos {
  .slick-initialized {
    &.slick-slider {
      margin-bottom: 0;
    }
    .slick-slide {
      text-align: center;
      background-color: $light-blue;
      img {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.activity-photos, .bbm-modal {
  .carousel {
    .arrow {
      color: white;
      position: absolute;
      top: 50%;
      font-size: 1.2em;
      cursor: pointer;
      z-index: 10;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
      width: 2em;
      &.arrow-left {
        left: 5px;
      }
      &.arrow-right {
        right: 5px;
        text-align: right;
      }

    }
  }

}

.activity-photos {
  .carousel {
    .img-label {
      font-size: .9rem;
      position: absolute;
      bottom: .25em;
      width: 100%;
      color: white;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    }
  }
}

.bbm-modal {
  .carousel {
    .arrow {
      &.arrow-left {
        left: -2em;
        top: 25%;

      }
      &.arrow-right {
        right: -2em;
        top: 25%;
      }
      .ic:before {
        font-weight: bold;
      }
    }
    .img-label {
      padding: 1em;
      width: 100%;
      color: $text-color;

    }
  }
  .slick-initialized {
    .slick-slide {
      .helper {
        margin-top: 2em;
        text-align: center;
        width: 100%;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}

.helper {
  display: inline-block;
  height: 100%;
}

$img-height: 3em;

.user-image {

  margin-right: 1em;
  background-image: url("/dist/thirdchannel/images/missing.jpg");
  background-position: center center;
  background-size: cover;

  > div {
    background-position: center center;
    background-size: cover;
    width: $img-height;
    height: $img-height;
  }
}


.comment-holder {
  background-color: $border-color;
  //$palette1;
  .activity-status {
    padding: 0.5em $padding;
    border-bottom: 1px solid $main-background;
  }
  .comments {
    .activity-bar:last-of-type {
      margin-bottom: 0;
    }
  }
}

.moderation-actions {
  padding: .5em 1em;
  background-color: darken($palette1, 5%);
  border-bottom-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}


.bbm-button.close-modal {
  i {
    position: absolute;
    right: -2em;
    top: -2em;
    color: white;
  }
}

@include swb-large {
  .activity-content, .activity-actions {
    width: 65%;
  }
  .activity-photos {
    width: 34%;
  }
}

@include swb-small {
  .activity-content, .activity-photos {
    width: 100%;
    margin-bottom: 1em;
  }
  .activity-content img {
    max-width: 100%;
  }
}

@include swb-small {
  .activity-content, .activity-photos, .activity-actions {
    width: 100%;
    margin-bottom: 0;
  }

  .activity-actions {
    margin: $padding 0;
  }

  .activity-content img {
    max-width: 100%;
  }

  .activity-status {
    padding: $padding;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .moderation-actions {
    padding: $padding;
  }
}