.admin-actions {
  @include swb-medium {
    margin-top: 0.5rem;
  }

  a {
    font-size: .9em;
    margin-bottom: 0.5rem;
    + a {
      margin-left: 1.25em;
    }

    @include swb-medium {
      display:block;
      width: 100%;
      margin-bottom: 1em;
      + a {
        margin-left: 0;
      }
    }
    + a {
      margin-left: 1.5em;
    }
  }
}
