.admin-actions {
  @include swb-medium {
    margin-top: 0.5rem;
  }

  a {
    div {
      display: inline-block;
    }
    font-size: .9em;
    margin-bottom: 0.5rem;
    margin-right: 1.25em;

    @include swb-medium {
      display:block;
      width: 100%;
      margin-bottom: 1em;
    }
  }
}
