form.application-form {
  .bottom {
    margin-bottom: 1.5em;
  }

  .form-group {
    margin-bottom: 1.5em;
  }

  label {
    display: block;
  }

  .expanding-wrapper {
    width: 100%;
    margin-top: 0.5em;
  }
}

.button-row {
  text-align: right;
  margin: 2em 0;
}

.images.application {
  margin-bottom: 1.5em;
  p {
    margin-bottom: 1em;
  }
}

.brand-logo {
  display:inline-block;
  float:right;
}

#opportunities-page {
  .banner-image {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .full-width-banner {
    vertical-align: middle;
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  .program.program-header {
    color: #FAFAFA;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 45%;
    -moz-transform: translate(0, -55%);
    -webkit-transform: translate(0, -55%);
    transform: translate(0, -55%);
  }

  .program.program-header h1 {
    margin: auto;
    font-size: 2em;
    line-height: 1em;
  }

  .program.program-header p {
    margin-top: .5em;
  }

  .program-btn-link-wrapper {
    width: 100%;
    marign: 1em;
  }

  .btn.solid.program-btn-link,
  .btn.solid.program-btn-link.solid {
    max-width: 16em;
    min-width: 8em;
    padding: 1em;
    margin: auto;
    text-align: center;
    display: block;
  }

  .card-container {
    margin: 2rem 4rem;
  }

  .full-section-controls {
    width: 100%;
    margin-top: -5em;
    bottom: 0;
  }

  .program-quick-description {
    margin-bottom: 1em;
    color: #ffffff;
  }

  .read-more-circle {
    width: 5rem;
    height: 2.5rem;
    border-radius: 2.5em 2.5em 0 0;
    -moz-border-radius: 2.5em 2.5em 0 0;
    -webkit-border-radius: 2.5em 2.5em 0 0;
    bottom: 0;
    background-color: #FAFAFA;
    margin: auto;
  }

  .read-more-circle > .ic_down {
    line-height: 2.5rem;
  }

  #opportunity-apply-now-btn-bottom {
    margin-bottom: 1em;
  }

  .opportunity-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 1em auto;
    padding: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }

  #opportunity-apply-now-heading {
    max-width: 100%;
    text-align: center;
  }

  .opportunity-image-label {
    text-align: center;
  }

  .opportunity-content {
    text-align: justify;
    padding: 1em;
    @include swb-small() {
      text-align: left;
    }
  }

  .opportunity-header {
    .opportunity-logo {
      float: right;
      img {

        max-height: $img-height;
        margin-right: 1em;
      }
    }
  }
}
.opportunity-link {
  height: 15rem;
  margin: 0.5rem;
  background-position: center center;
  background-size: cover;

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: relative;

    &:hover {
      background-color: rgba(255, 255, 255, 0.75);

      img {
        @include drop-shadow-filter(0, 0, 5px, rgba(0, 0, 0, 0.5));
      }

      a {
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          padding: 1rem;

          > div {
            padding: 1rem;
            background-color: $red;
            color: white;
            min-width: 10rem;
            text-align: center;
          }
        }
      }
    }

    a {
      > div {
        display: none;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 1rem;
      color: white;
      font-size: 1.5rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
    padding: 4rem 3rem;
  }
}

.about3c {
  text-align: center;
  img {
    max-width: 100%;
    max-height: 230px;

  }
  p {
    text-align: left;
    padding: 0 1em;
  }
}

.happens-next {
  text-align: center;
  .ic {

    color: $medium-blue;
    font-size: 7em;
  }
  p {
    text-align: left;
    padding: 0 1em;
  }
  a {
    margin-top: 2em;
  }
}

.program-application {

  .submitted-banner {
    position: relative;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    width: 100%;
    height: 15em;
    background-image: url("../images/submitted.jpg");
    background-position: center;
    background-size: cover;

    .submitted-banner-centered {
      position: absolute;
      top: 50%;
      width: 100%;

      h1 {
        max-width: 100%;
        text-align: center;
        margin: 0;
        color: white;
        font-size: 2.5em;
      }
    }
  }

  .submitted {
    background-color: white;
    border: 1px solid $border-color;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1.5em;

    @include swb-small {
      overflow-y: hidden;
      padding-left: 0;
      padding-right: 0;
    }

    h1 {
      max-width: 100%;
      margin-top: 2em;
      margin-bottom: 0.5em;
    }

    .social-icons {
      font-size: 3.5em;

      .ic_instagram {
        color: #3f729b;
      }

      .ic_facebook {
        color: #3b5999;
      }

      .ic_linkedin {
        color: #027bb6;
      }

      .ic_twitter {
        color: #5c90cc;
      }

      a {
        margin-left: 0.25em;
        margin-right: 0.25em;
      }
    }
  }
}