form.application-form {

  @include swa-medium {
    input[type=text], input[type=password], input[type=number], textarea, select, input[type=date], input[type=datetime] {
      width: 50%;
    }
  }

  .bottom {
    margin-bottom: 1.5em;
  }

  .form-group {
    margin-bottom: 1.5em;
  }
}

.button-row {
  text-align: right;
  margin: 2em 0;
}

.images.application {
  margin-bottom: 1.5em;
  p {
    margin-bottom: 1em;
  }
}

.brand-logo {
  display:inline-block;
  float:right;
}

.opportunity-content {
  .opportunity-header {
    margin-bottom: 1em;
  }

  text-align: justify;
  @include swb-small() {
    text-align: left;
  }
}

.opportunity-header {
  .opportunity-logo {
    float: right;
    img {

      max-height: $img-height;
      margin-right: 1em;
    }
  }
  .opportunity-logo, .program {
    display: inline-block;
    vertical-align: bottom;
  }

}

.about3c {
  text-align: center;
  img {
    max-width: 100%;
    max-height: 230px;

  }
  p {
    text-align: left;
    padding: 0 1em;
  }
}

.happens-next {
  text-align: center;
  .ic {

    color: $medium-blue;
    font-size: 7em;
  }
  p {
    text-align: left;
    padding: 0 1em;
  }
  a {
    margin-top: 2em;
  }
}