@import "../../base/colors";
@import "../../base/mixins";

.checkin-report {
  .section {
    h3 {
      padding: 0 1em;
      margin: 0;
      text-transform: uppercase;
      text-align: top;
    }
  }

  .choice {
    margin: 1.25em 0;
    display: flex;

    div {
      align-self: center;
    }

    &.selected, &.single {
      font-weight: bold;
    }

    @include swa-medium {
      &:first-child {
        margin-top: 0;
      }

      &.single {
        padding-left: 2.25em;
        margin-bottom: 0;
      }
    }

    @include swb-medium {
      &:not(.selected):not(.single) {
        display: none;
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
  }

  .body {
    margin-top: 1em;

    & > div {

      border-top: 1px solid $light-blue;
      padding: 1em;
    }

    img {
      width: 3em;
      height: 3em;
    }
  }
}

