.dashboard {
  .alert-group {
    padding-left: 2rem;
  }

  .loading-section {
    border: none;
    margin-bottom: 0;
  }

  .loading {
    text-align: left;
  }

  .action {
    

    a {
      span {
        display: none;
      }
    }
  }

  @include swb-small {
    .store-profile-link {
      display: block;
    }

    .date-added {
      display:none;
    }

    .action {
      display: block;
      padding-top: 0.75rem;

      a {
        min-width: 10rem;
        span {
          display: inline;
        }
      }
    }
  }

}
