$cornflower: #4684c5;

%spaced-row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

%even-height-row {
  display: flex;
  align-items: stretch;
}

%metrics-values {
  color: $cornflower;
  text-align: center;
  text-decoration: underline;
}

%row-header {
  align-self: center;
  font-weight: 800;
}

.metrics {
  @extend %spaced-row;
}

.metric {
  align-self: center;
  flex-grow: 1;
  flex-basis: 20%;
  line-height: normal;
  padding: 1em;
  text-align: center;

  .ic.metric-icon,
  .fa.metric-icon {
    color: $slate;
    font-size: 1.65em;
    margin-right: .5em;
  }

  &-figure {
    @extend %metrics-values;
    font-size: 2em;

    &-empty {
      color: $slate;
      line-height: 2.7em;
      text-decoration: none;
    }
  }

  .metric-label {
    color: $slate;
    display: block;
    font-size: .8em;
  }
}

.activity-reports {
  padding: 1em;

  &-toggle {
    background: none;
    border: none;
    color: $palette2;
    margin-right: .25em;
  }

  &-rollup {
    @extend %even-height-row;
    padding-bottom: 1em;
  }

  &-rollup-header {
    @extend %row-header;
    align-self: flex-end;
    font-size: .9em;
    padding-bottom: 1em;
    text-transform: uppercase;
  }

  &-surveys-row {
    @extend %even-height-row;
    border-top: 1px solid $light-blue;
    padding: 1.5em 0;

    &:last-child {
      padding-bottom: 0;
    }

    &-header {
      @extend %row-header;
      align-self: center;

      a {
        color: $cornflower;
        font-weight: 400;
        text-decoration: underline;
      }
    }

    &-value {
      @extend %metrics-values;

      &-empty {
        color: $slate;
        line-height: 2.7em;
        padding: 1em 2em;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
