$cornflower: #4684c5;

%spaced-row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

%even-height-row {
  display: flex;
  align-items: stretch;
}

%metrics-link {
  color: $cornflower;
  text-align: center;
  text-decoration: underline;
}

%row-header {
  align-self: center;
  font-weight: 800;
}

.metrics {
  @extend %spaced-row;
}

.metric {
  align-self: flex-start;
  flex-grow: 1;
  flex-basis: 20%;
  line-height: normal;
  padding: 1em;
  text-align: center;

  .ic.metric-icon,
  .fa.metric-icon {
    color: $slate;
    font-size: 1.75em;
    margin-right: .75em;
  }

  .ic_person.agent {
    color: $palette10;
  }

  .ic_person.fmr {
    color: $palette2;
  }

  &-infograph {
    padding: 3em 0 1em;

    .ic, .fa {
      font-size: 7em;

      &.ic_states {
        color: $palette10;
        font-size: 10em;
        line-height: 0;
      }
    }
  }

  &-figure {
    font-size: 2em;

    &.link {
      @extend %metrics-link;
    }

    &-empty {
      color: $slate;
      line-height: 2.7em;
      text-decoration: none;
    }
  }

  .metric-label {
    color: $slate;
    display: block;
    font-size: .9em;
    margin-top: .25em;
  }
}

.kpi {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  justify-content: center;
  margin: 1.5em 0 1.75em;
  padding: 0 4em;

  &:not(:first-child) {
    border-left: 1px solid $light-blue;
  }

  i.fa {
    font-size: 7em;
    margin-right: .25em;
  }

  .metrics {
    flex-direction: column;
    width: initial;

    .metric {
      align-self: flex-start;
      text-align: left;

      &-figure,
      &-label {
        text-align: left;
      }
    }
  }

  &.column {
    flex-direction: column;
    justify-content: flex-start;

    i.fa {
      font-size: 5em;
    }

    .metric {
      align-self: center;
      text-align: center;
    }
  }
}

.activity-reports {
  padding: 1em;

  &-toggle {
    background: none;
    border: none;
    color: $palette2;
    margin-right: .25em;
  }

  &-rollup {
    @extend %even-height-row;
    padding-bottom: 1em;
  }

  &-rollup-header {
    @extend %row-header;
    align-self: flex-end;
    font-size: .9em;
    padding-bottom: 1em;
    text-transform: uppercase;
  }

  &-surveys-row {
    @extend %even-height-row;
    border-top: 1px solid $light-blue;
    padding: 1.5em 0;

    &:last-child {
      padding-bottom: 0;
    }

    &-header {
      @extend %row-header;
      align-self: center;

      a {
        color: $cornflower;
        font-weight: 400;
        text-decoration: underline;
      }
    }

    &-value {
      @extend %metrics-link;

      &-empty {
        color: $slate;
        line-height: 2.7em;
        padding: 1em 2em;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}


.kpi-container {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: space-around;
  border-bottom: 1px solid $palette2;

  .widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .9em;
    width: 40%;
  }
}

.units-and-capacity {
  border-right: 1px solid $light-blue;
  width: 60%;

  i.fa {
    font-size: 5em;
  }

  .kpi {
    border: 0;
    justify-content: flex-start;
  }
}
