.fixture-type-tile {
    margin: 0 2em 2em 0;
    padding: 0.5em;
    width: 14em;
    display: inline-block;
    background-color: white;
    border: 1px solid $border-color;

    .name {
        margin: 0;
        width:85%;
        display: inline-block;
    }
    
    .ic {
        margin-right:0.25em;
    }
    .fixture-image {
        display: block;
        height: 10em;
        margin: 1em auto;
        border: 1px solid $border-color;

        
    }
    .icon-row {
        display: flex;
        justify-content: space-between;
        .total {
            color: white;
            background-color: $medium-blue;
            padding: 0 0.25em;
        }

        
    }


}

.fixture-type-description {

}

.fixture-instance-tile {

}