.labs {

  &.header {
    h2 {
      text-align: center;
      margin-bottom: 0;
      line-height: 2rem;
      vertical-align: middle;
      position: absolute;
      left: 0;
      right: 0;
    }

    > .first {
      padding-right: 2em;
    }

    > .last {
      padding-left: 2em;
    }
  }

  &.split {
    .left {
      .section {
        margin-right: 1em;
      }
    }

    .right {
      .section {
        margin-left: 1em;
      }
    }
  }

  .left, .right {
    .section[class*="col-"],
    .subsection[class*="col-"]{
       width: 100%;
     }

    .widgets {
      > div[class*="col-"]:not(.resolution-row) {
        width: 100%;
      }
    }
  }

  .widgets {

    > div:not(.min) {
      border-top: 1px solid $light-blue;
    }

    .overview {
      > div {
        text-align: left;
        border: none;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .resolution-header {
    font-size: 0.65em;
    padding-right: 0.5rem;
  }
}



.roi-control {

  .instruction {
    margin-bottom: 1em;
  }

  .multi-select {
    height: 6em;
  }
}