.send-to{
  .form-group {
    margin-bottom: 2em;
  }
  > div {
    padding: 0 1em;

    @include swb-small {
      padding: 0;
    }
  }
}

.editor-container {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  margin-bottom: 2em;
  padding: 1em;
  &.error {
    border-color: $link-color;
  }

  iframe {
    height: 22rem !important;
    border: none !important;
  }
}
.ql-toolbar-container {
  border-bottom: 1px solid $border-color;
}

.chosen-choices.error {
  border-color: $link-color;
}

.modal-backdrop {
  position: relative;
}

.btn-primary {
  color: $text-color;
}