@import "../../base/colors";

// General Styles

.report {
  .section > h2, .subsection  h3 {
      text-transform: uppercase;
      border-bottom: 1px solid $light-blue;
      padding: 0.25em 0.85em 0.5em 0.85em;
      margin-bottom: 0.5em;
  }

  .border-top {
    border-top: 1px solid $light-blue;
  }
}

// Styles for Widgets

.widgets {
  h2 {
    margin-bottom: 0;
  }

  p {
    padding: 0.5em 0;
    margin: 0;
  }
}

.widget {
  page-break-inside: avoid;
  padding: 1em;

  &.small-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.overview {
  &:first-child {
    padding-left: 1em;

    @include swb-medium {
      padding-left: 0;
    }
  }

  &:last-child {
    padding-right: 1em;

    @include swb-medium {
      padding-right: 0;
    }
  }

  & > div {
    text-align: center;
    padding: 1em;
    border: 1px solid $light-blue;
    border-radius: 0.25em;
  }
}

.donut {

  .donut-chart {
    margin-left: auto;
  }

  .legend {
    padding-top: 1rem;
    padding-left: 2rem;

    .unselected, .unhighlighed {
      opacity: 0.5;
    }

    .legend-item {
      font-size: 0.8em;
      cursor: pointer;

      .legend-box {
        margin-left: -1rem;
        margin-right: 0.15rem;
        height: 0.625rem;
        width: 0.625rem;
        display: inline-block;
      }
    }
  }
}

.chart {

  &.quadrant {

    h2{
      margin: 0.5em 0;
    }

    *[class*='axis-label-'] {
      font-weight: bold;
    }

    *[class*='x-axis-label-'] {
      width: 25%;

      & > div {
        position: relative;
        margin: 0.25%;
        width: 100%;
        padding-bottom: 200%;
      }
    }

    *[class*='y-axis-label-'] {
      text-align: center;
    }

    .x-axis-label-left {
      float: left;
      text-align: right;
    }

    .chart {
      margin: auto;
      width: 50%;
    }

    .x-axis-label-right {
      float: right;
    }

    .square {
      float:left;
      position: relative;
      width: 49%;
      padding-bottom : 49%;
      margin:0.25%;
      color: #fff;
      text-align: center;
    }

    .l_content {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 5%;
    }

    .l_table {
      display: table;
      width: 100%;
      height: 100%;
    }

    .l_table-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &.range {
    tr > td:nth-child(2) {
      text-align: right;
    }
    th {
      a {
        font-weight: normal;
        text-transform: none;
        color: $link-color;
      }
    }
  }
}

.metric-icon {
  h2 {
    color: $red;
  }

  &.min {
    padding-top: 0;
    margin-top: -2rem;

    > * {
      display: inline-block;
    }
    h2 {
      color: $text-color;
      font-weight: normal;
      font-size: 1em;
    }
  }
}

.leading-row {
  margin: 0.5em 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI3NXB4IiBoZWlnaHQ9IjMwMHB4IiB2aWV3Qm94PSIwIDAgNzUgMzAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3NSAzMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Y2lyY2xlIGZpbGw9IiM0NTQ1NDUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjeD0iMzcuNSIgY3k9IjIxMS4yNjUiIHI9IjE0LjU3NCIvPgo8L3N2Zz4K') repeat-x bottom;
  background-size: 0.35rem;
  position: relative;

  span {
    background-color: #FFFFFF;

    &:first-child {
      padding-right: 0.25em;
    }
    
    &:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }


  .pull-right {
    padding-left: 0.25em;
  }
}

.resolution-row {
  &:nth-child(odd) {
    background: #f0f0ef;
  }
}

.report-info-list {
  .checkins {
    td {
      border-top: none;
    }

    .checkin {
      padding: 0.5em 1em;

      &:not(:first-child) {
        border-top: 1px solid $light-blue;
      }

      .info {
        &.pure-g {
          border-top: 0;
          padding: 0.5rem;
        }
        .task {
          font-weight: bold;
        }

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }
      }

    }
  }
}

ul.legend {
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  padding: 0;
  margin: 0;

  &::after {
    content: ' ';
    clear: both;
  }

  li {
    float: left;
    width: 33.3%;
    position: relative;
    padding-left: 1.1em;
    margin-bottom: 0.3em;
    list-style-type: none;
    /*cursor: pointer;*/
  }
}

ul.heatmap-legend {
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  padding: 0;
  margin: 0;

  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }

  li {
    float: left;
    position: relative;
    padding-right: 1.25em;
    margin-bottom: 0.3em;
    list-style-type: none;

    &:last-child {
      padding-right: 0;
    }

    i {
      text-shadow: -1px -1px 0 #ccc,
                   1px -1px 0 #ccc,
                   -1px  1px 0 #ccc,
                   1px  1px 0 #ccc;
    }
  }
}

.heatmap {
  path.domain {
    display: none;
  }

  rect.clickable {
    cursor: pointer;
  }

  g.tick text {
    font: 0.9em 'Open Sans', 'sans-serif';
  }
}

.totals-averages-table {
  > div:first-child {
    font-weight: bold;
  }

  .data-row {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuNCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSI3NXB4IiBoZWlnaHQ9IjMwMHB4IiB2aWV3Qm94PSIwIDAgNzUgMzAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3NSAzMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Y2lyY2xlIGZpbGw9IiM0NTQ1NDUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjeD0iMzcuNSIgY3k9IjIxMS4yNjUiIHI9IjE0LjU3NCIvPgo8L3N2Zz4K') repeat-x bottom;
    background-size: 0.35rem;

  }

  .pure-g {
    margin: 1rem auto;
    > div {
      span {
        background: white;
      }

      &:not(:first-child) {
        text-align: right;
        position: relative;

        span {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.report-list-item {
   p {
     margin-top: 0.25em;
     margin-bottom: 0.25em;
   }
}
