.edit_special_project_store {
  display: flex;
  min-width: 15rem;

  select {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  input[type=submit] {
    margin-left: 1rem;
  }
}

.special-project-report {
  padding: 0;
  margin-right: 0.75em;

  .special-project-header {
    width: 100%;
    border-bottom: 1px solid $light-blue;
    padding: 0.5em;

    h2 {
      margin: 0;
    }
  }

  .special-project-overview {
    text-align: center;
    border-right: 1px solid $light-blue;

    @include swb-medium {
      border-right: none;
      border-bottom: 1px solid $light-blue;
      margin-bottom: 0.25em;
    }

    h2 {
      margin: 0;
      font-size: 1.5em;
    }

    h3 {
      font-size: 0.75em;
      font-weight: lighter;
    }
  }

  .special-project-breakdown {
    position: relative;

    @include swb-medium {
      position: static;
    }

    .special-project-breakdown-item {
      text-align: center;
    }

    .special-project-latest-checkin {
      background-color: #e5e9ed;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.5em;

      @include swb-medium {
        position: static;
      }
    }
  }
}