.breakdown-label {
  font-weight: bold;
}

@include swb-medium {
  .sales-breakdown {
    overflow-x: scroll;
  }
}

.percentage-change {
  &.positive {
    color: $palette7;
  }

  &.negative {
    color: $palette5;
  }
}