.breakdown-label {
  font-weight: bold;
}

@include swb-medium {
  .sales-breakdown {
    overflow-x: scroll;
  }
}

.percentage-change {
  border-radius: .35em;
  -webkit-border-radius: .35em;
  -moz-border-radius: .35em;
  min-width: 5.5em;
  line-height: 24px;
  display: inline-block;
  padding: 0 0.35em;

  &.activity-feed-qtd {
    color: white;

    &.positive {
      background-color: $palette10;
    }
    &.negative {
      background-color: $palette8;
    }
  }

  &.overview-qtd {

    &.positive {
      color: $palette10
    }
    &.negative {
      color: $palette8;
    }
  }
}

.percentage-change.activity-feed-qtd:hover {
  color: white;
  &.positive {
    background-color: $palette11;
  }
  &.negative {
    background-color: $palette9;
  }
}

.sales-overview {
  h2 {
    display: inline-block;
    margin-bottom: .25em;
  }

  .subnav {
    text-align: right;
  }

  .overview-data {
    h2 {
      order: 1;
    }

    p {
      margin: .25em 0;
      order: 2;
    }

    &:first-child {
      margin-top: 1em;
    }
  }
}

@include swb-medium {
  .sales-overview {
    .overview-data {

      h2 {
        margin: .25em 0;
        order: 2;
        text-align: right;

        &.percentage-change {
          margin-bottom: .5em;
          padding: 0;
          width: 100%;
        }
      }

      p {
        order: 1;
      }
    }
  }
}
