@import "../../base/colors";
@import "../../base/mixins";

.survey {
  .header {
    h1 {
      margin-bottom: 0.5em;
    }
    h2 {
      font-size: 1em;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  h3 {
    padding: 0 1em;
    margin: 0;
    text-transform: uppercase;
  }

  input[type=text], input[type=password], input[type=number], textarea {
    margin-bottom: 0;
  }

  .body {
    margin-top: 1em;
    border-top: 1px solid $light-blue;
    padding: 1em;
  }

  .question {
    margin-bottom: 2em;

    [name*='question-'], .chosen-container, .expanding-wrapper {
      margin-top: 0.5em
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    p:empty {
      margin-top: -2em;
    }
  }

  .error {

    > label {
      font-size: 0.75em;
    }

    label, input[type=file], input[type=text], input[type=password], input[type=number], textarea, .chosen-choices, .chosen-single, .search-field {
      border-color: $red;
      color: $red !important;
    }

    input[type="file"]::-webkit-file-upload-button {
      border-color: $red;
      color: $red;
    }

    @include placeholder($red);
  }

  .checkin-form-btn {
    margin-bottom: 2em;
  }

  .checkin-form, .loading-section {
    display: none;

    &.open {
      display: block;
    }
  }

  .expanding-wrapper {
    width: 100%;
  }

  .additional-notes {
    display: none;
  }

  .checkin-hide {
    display: none;
  }

  .newline {
    display: block;
  }
}

@include swb-medium {
  .survey {
    .header {
      h1, h2, p {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
}
