<div class="geocode-result">
    <ul>
        <li><strong>Formatted Address:</strong> {{formattedAddress}}</li>
        <li><strong>Lat/Lon:</strong> ({{latitude}}, {{longitude}})</li>
        <li><strong>Types:</strong> {{types}}</li>
    </ul>
</div>