.social-link {
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  display: block;
  float: left;
}

#facebook-icon {
  background-image: url('../images/facebook.png');
}

#linkedin-icon {
  background-image: url('../images/linkedin.png');
}