.social-link {
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  display: block;
  float: left;
}

#facebook-icon {
  background-image: url('../images/facebook.svg');
}

#linkedin-icon {
  background-image: url('../images/linkedin.svg');
}

#twitter-icon {
  background-image: url('../images/twitter.svg');
}

#instagram-icon {
  background-image: url('../images/instagram.svg');
}