.tagline {
  width: 75%;
  margin: 0 auto;
  max-width: 100%;
  font-size: 1.25em;
  font-weight: normal;
  color: $light-gray;

  @include swb-medium {
    font-size: 0.8em;
    line-height: 1.2em;
    width: 100%;
  }
}