<div class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-5">Name</h3>
        <h3 class="header col-1-5"># Stores</h3>
        <h3 class="header col-1-5"># Not visited</h3>
        <h3 class="header col-1-5"># Need Revisit</h3>
        <h3 class="header col-1-5">% Complete</h3>
    </div>
    <div class="body"></div>
</div>