<div class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-6">Name</h3>
        <h3 class="header col-1-6"># of Stores</h3>
        <h3 class="header col-1-6">% Complete</h3>
        <h3 class="header col-1-6">Start Date</h3>
        <h3 class="header col-1-6">End Date</h3>
        <h3 class="header col-1-6">Status</h3>
    </div>
    <div class="body"></div>
</div>