<div class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-4">Name</h3>
        <h3 class="header col-1-4"># Stores</h3>
        <h3 class="header col-1-4"># Stores that Need Revisit</h3>
        <h3 class="header col-1-4">% Complete</h3>
    </div>
    <div class="body"></div>
</div>