<div class="special-projects pure-g">
    <div class="section data-section col-1-1">
        <div class="loading">
            <div class="fa fa-spin ic_processing"></div> Loading...
        </div>
    </div>
</div>