<div class="section data-section">
    <div class="pure-g">
        <h3 class="header col-1-7">Name</h3>
        <h3 class="header col-1-7"># of Stores</h3>
        <h3 class="header col-1-7"># of Stores w/ Unresolved Alerts</h3>
        <h3 class="header col-1-7">% Complete</h3>
        <h3 class="header col-1-7">Start Date</h3>
        <h3 class="header col-1-7">End Date</h3>
        <h3 class="header col-1-7">Status</h3>
    </div>
    <div class="body"></div>
</div>