<tr>
        <td><span class="bold"><a href="{{label_1_link}}">{{label_1}}</a></span> <span>{{label_2}}</span></td>
        <td>{{column_value}}</td>
        <td class="info-toggle">
            {{#if checkins}}
                <i class="fa fa-lg fa-angle-down"></i>
            {{/if}}
        </td>
</tr><tr class="checkins hide">
    <td colspan="3"></td>
</tr>
