<div class="kpi column">
  <i class="kpi-image {{name}}"></i>

  <div class="metrics">
    {{#each data}}
      <div class="metric">
        <span class="metric-figure">
          ${{format_number this.total}}
        </span>
        <span class="metric-label">
          {{this.label}}
        </span>
      </div>
    {{/each}}
  </div>
</div>
