<div class="kpi column">
  <i class="fa fa-hand-lizard-o"></i>

  <div class="metrics">
      <div class="metric">
        <span class="metric-figure">
          {{format_number data.total}}
        </span>
        <span class="metric-label">
          {{label}}
        </span>
      </div>
  </div>
</div>
