<div class="kpi column">

  <div class="kpi-image customers-engaged"></div>

  <div class="metrics">
      <div class="metric">
        <span class="metric-figure">
          {{format_number data.total}}
        </span>
        <span class="metric-label">
          {{label}}
        </span>
      </div>
  </div>
</div>
