<div class="units-and-capacity">
  <div class="kpi">
    <div class="kpi-image units"></div>
    <div class="metrics">
        <div class="metric">
          <span class="metric-figure">
            {{format_number data.unitsMoved.total}}
          </span>
          <span class="metric-label">
            {{data.unitsMoved.label}}
          </span>
        </div>
    </div>
  </div>

  <div class="kpi">
    <div class="kpi-image capacity"></div>
    <div class="metrics">
        <div class="metric">
          <span class="metric-figure">
            {{format_number data.caseCapacityDedicated.percentage}}
          </span>
          <span class="metric-label">
            {{data.caseCapacityDedicated.label}}
          </span>
        </div>
    </div>
  </div>
</div>
