<h1>Programs</h1>
<div class="pure-g">
    <div class="col-1-3">
        <input type="text" class="search" id="program-search" placeholder="Search by program name..." /><button class="reset-search btn default">Reset</button>
    </div>
</div>
<div id="program-list"></div>