<div class="widget small-padding {{config.widget_class}}">
    <div class="leading-dots leading-row">
        <span class="pull-right">{{format_number_from_value_lookup config.selected_key results.counts}}</span>
        <span>{{title}}</span>
    </div>
</div>