<div class="navigation">
    <div class="logo">
        <a href="{{homeLink}}">
            <i class="ic ic_logo"></i>
            <span class="company-name hidden-xs">
              <strong>THIRD</strong>CHANNEL
            </span>
        </a>
    </div>

    {{#each navItems}}
        {{#unless hidden}}
            {{> 'nav_item'}}
        {{/unless}}
    {{/each}}

    <a href="javascript:void(0)" class="collapse-nav nav-item minor-s">
        <i class="ic ic_left"></i>
        <span class="link">Collapse</span>
    </a>
</div>