//
// Icon Font: sp-icons
//

@font-face {
  font-family: "sp-icons";
  src: url("../../shared/fonts/sp-icons_17c256bff985f337b3bbf51a6da4645e.eot");
  src: url("../../shared/fonts/sp-icons_17c256bff985f337b3bbf51a6da4645e.eot?#iefix") format("embedded-opentype"),
       url("../../shared/fonts/sp-icons_17c256bff985f337b3bbf51a6da4645e.woff") format("woff"),
       url("../../shared/fonts/sp-icons_17c256bff985f337b3bbf51a6da4645e.ttf") format("truetype"),
       url("../../shared/fonts/sp-icons_17c256bff985f337b3bbf51a6da4645e.svg#sp-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sp-icons";
    src: url("./sp-icons_17c256bff985f337b3bbf51a6da4645e.svg#sp-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.sp_nordstrom:before,
.sp_spins:before,
.sp_sps:before,
.sp_target:before,
.sp_thc:before,
.sp_vega:before {
  display: inline-block;
  font-family: "tc-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.sp_nordstrom:before { content: "\f16c"; }
.sp_spins:before { content: "\f16d"; }
.sp_sps:before { content: "\f16e"; }
.sp_target:before { content: "\f16f"; }
.sp_thc:before { content: "\f170"; }
.sp_vega:before { content: "\f171"; }

$font-tc-icons-sp_nordstrom: "\f16c";
$font-tc-icons-sp_spins: "\f16d";
$font-tc-icons-sp_sps: "\f16e";
$font-tc-icons-sp_target: "\f16f";
$font-tc-icons-sp_thc: "\f170";
$font-tc-icons-sp_vega: "\f171";
