//
// Icon Font: tc-icons
//

@font-face {
  font-family: "tc-icons";
  src: url("../../shared/fonts/tc-icons_b7e691b9a4b396946511c1c8e5cb804b.eot");
  src: url("../../shared/fonts/tc-icons_b7e691b9a4b396946511c1c8e5cb804b.eot?#iefix") format("embedded-opentype"),
       url("../../shared/fonts/tc-icons_b7e691b9a4b396946511c1c8e5cb804b.woff") format("woff"),
       url("../../shared/fonts/tc-icons_b7e691b9a4b396946511c1c8e5cb804b.ttf") format("truetype"),
       url("../../shared/fonts/tc-icons_b7e691b9a4b396946511c1c8e5cb804b.svg#tc-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "tc-icons";
    src: url("../../shared/fonts/tc-icons_b7e691b9a4b396946511c1c8e5cb804b.svg#tc-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ic_actionsports-o:before,
.ic_add:before,
.ic_artdesign-o:before,
.ic_avatar:before,
.ic_barsclubs-o:before,
.ic_blank:before,
.ic_bullseye:before,
.ic_calendar:before,
.ic_chart:before,
.ic_check:before,
.ic_classtudies-o:before,
.ic_clipboard:before,
.ic_clone:before,
.ic_closed-circle:before,
.ic_clubsorgs-o:before,
.ic_comment:before,
.ic_communityservice-o:before,
.ic_dashboard:before,
.ic_delete:before,
.ic_donut:before,
.ic_donut-copy:before,
.ic_down:before,
.ic_download:before,
.ic_edit:before,
.ic_envelope:before,
.ic_facebook:before,
.ic_familyfriends-o:before,
.ic_fashionapparel-o:before,
.ic_feed-alerts:before,
.ic_feed-photos:before,
.ic_feed-summary:before,
.ic_filter:before,
.ic_fixture-pop:before,
.ic_gear:before,
.ic_gear-alt:before,
.ic_greeklife-o:before,
.ic_hamburger:before,
.ic_instagram:before,
.ic_jobstasks:before,
.ic_left:before,
.ic_like:before,
.ic_linkedin:before,
.ic_location:before,
.ic_location-alt:before,
.ic_lock:before,
.ic_logo:before,
.ic_logo-full:before,
.ic_logoBlk:before,
.ic_logoGrey:before,
.ic_moviestv-o:before,
.ic_music-o:before,
.ic_o-activities:before,
.ic_o-agents:before,
.ic_o-hours:before,
.ic_o-jobs:before,
.ic_o-payable:before,
.ic_o-sps:before,
.ic_o-store:before,
.ic_o-travel:before,
.ic_o-visits:before,
.ic_open-circle:before,
.ic_otherhobbies-o:before,
.ic_outdoors-o:before,
.ic_payments:before,
.ic_percent:before,
.ic_person:before,
.ic_playlist:before,
.ic_post:before,
.ic_processing:before,
.ic_reading-o:before,
.ic_recruiting:before,
.ic_remove:before,
.ic_right:before,
.ic_sales:before,
.ic_sd:before,
.ic_sd_accounts:before,
.ic_sd_stores:before,
.ic_search:before,
.ic_sheep:before,
.ic_shopping-o:before,
.ic_socialmedia-o:before,
.ic_sportsevents-o:before,
.ic_sps:before,
.ic_star:before,
.ic_start:before,
.ic_states:before,
.ic_store:before,
.ic_survey:before,
.ic_teamsports-o:before,
.ic_technology-o:before,
.ic_territories-manage:before,
.ic_top:before,
.ic_trackedjobs:before,
.ic_travel-o:before,
.ic_twitter:before,
.ic_unlock:before,
.ic_up:before,
.ic_upload:before,
.ic_visit:before,
.ic_vs:before,
.ic_work-o:before,
.ic_workingout-o:before,
.ic_x:before {
  display: inline-block;
  font-family: "tc-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ic_actionsports-o:before { content: "\f160"; }
.ic_add:before { content: "\f161"; }
.ic_artdesign-o:before { content: "\f162"; }
.ic_avatar:before { content: "\f163"; }
.ic_barsclubs-o:before { content: "\f164"; }
.ic_blank:before { content: "\f165"; }
.ic_bullseye:before { content: "\f166"; }
.ic_calendar:before { content: "\f167"; }
.ic_chart:before { content: "\f168"; }
.ic_check:before { content: "\f169"; }
.ic_classtudies-o:before { content: "\f16a"; }
.ic_clipboard:before { content: "\f16b"; }
.ic_clone:before { content: "\f16c"; }
.ic_closed-circle:before { content: "\f16d"; }
.ic_clubsorgs-o:before { content: "\f16e"; }
.ic_comment:before { content: "\f16f"; }
.ic_communityservice-o:before { content: "\f170"; }
.ic_dashboard:before { content: "\f171"; }
.ic_delete:before { content: "\f172"; }
.ic_donut:before { content: "\f173"; }
.ic_donut-copy:before { content: "\f174"; }
.ic_down:before { content: "\f175"; }
.ic_download:before { content: "\f176"; }
.ic_edit:before { content: "\f177"; }
.ic_envelope:before { content: "\f178"; }
.ic_facebook:before { content: "\f179"; }
.ic_familyfriends-o:before { content: "\f17a"; }
.ic_fashionapparel-o:before { content: "\f17b"; }
.ic_feed-alerts:before { content: "\f17c"; }
.ic_feed-photos:before { content: "\f17d"; }
.ic_feed-summary:before { content: "\f17e"; }
.ic_filter:before { content: "\f17f"; }
.ic_fixture-pop:before { content: "\f180"; }
.ic_gear:before { content: "\f181"; }
.ic_gear-alt:before { content: "\f182"; }
.ic_greeklife-o:before { content: "\f183"; }
.ic_hamburger:before { content: "\f184"; }
.ic_instagram:before { content: "\f185"; }
.ic_jobstasks:before { content: "\f186"; }
.ic_left:before { content: "\f187"; }
.ic_like:before { content: "\f188"; }
.ic_linkedin:before { content: "\f189"; }
.ic_location:before { content: "\f18a"; }
.ic_location-alt:before { content: "\f18b"; }
.ic_lock:before { content: "\f18c"; }
.ic_logo:before { content: "\f18d"; }
.ic_logo-full:before { content: "\f18e"; }
.ic_logoBlk:before { content: "\f18f"; }
.ic_logoGrey:before { content: "\f190"; }
.ic_moviestv-o:before { content: "\f191"; }
.ic_music-o:before { content: "\f192"; }
.ic_o-activities:before { content: "\f193"; }
.ic_o-agents:before { content: "\f194"; }
.ic_o-hours:before { content: "\f195"; }
.ic_o-jobs:before { content: "\f196"; }
.ic_o-payable:before { content: "\f197"; }
.ic_o-sps:before { content: "\f198"; }
.ic_o-store:before { content: "\f199"; }
.ic_o-travel:before { content: "\f19a"; }
.ic_o-visits:before { content: "\f19b"; }
.ic_open-circle:before { content: "\f19c"; }
.ic_otherhobbies-o:before { content: "\f19d"; }
.ic_outdoors-o:before { content: "\f19e"; }
.ic_payments:before { content: "\f19f"; }
.ic_percent:before { content: "\f1a0"; }
.ic_person:before { content: "\f1a1"; }
.ic_playlist:before { content: "\f1a2"; }
.ic_post:before { content: "\f1a3"; }
.ic_processing:before { content: "\f1a4"; }
.ic_reading-o:before { content: "\f1a5"; }
.ic_recruiting:before { content: "\f1a6"; }
.ic_remove:before { content: "\f1a7"; }
.ic_right:before { content: "\f1a8"; }
.ic_sales:before { content: "\f1a9"; }
.ic_sd:before { content: "\f1aa"; }
.ic_sd_accounts:before { content: "\f1ab"; }
.ic_sd_stores:before { content: "\f1ac"; }
.ic_search:before { content: "\f1ad"; }
.ic_sheep:before { content: "\f1ae"; }
.ic_shopping-o:before { content: "\f1af"; }
.ic_socialmedia-o:before { content: "\f1b0"; }
.ic_sportsevents-o:before { content: "\f1b1"; }
.ic_sps:before { content: "\f1b2"; }
.ic_star:before { content: "\f1b3"; }
.ic_start:before { content: "\f1b4"; }
.ic_states:before { content: "\f1b5"; }
.ic_store:before { content: "\f1b6"; }
.ic_survey:before { content: "\f1b7"; }
.ic_teamsports-o:before { content: "\f1b8"; }
.ic_technology-o:before { content: "\f1b9"; }
.ic_territories-manage:before { content: "\f1ba"; }
.ic_top:before { content: "\f1bb"; }
.ic_trackedjobs:before { content: "\f1bc"; }
.ic_travel-o:before { content: "\f1bd"; }
.ic_twitter:before { content: "\f1be"; }
.ic_unlock:before { content: "\f1bf"; }
.ic_up:before { content: "\f1c0"; }
.ic_upload:before { content: "\f1c1"; }
.ic_visit:before { content: "\f1c2"; }
.ic_vs:before { content: "\f1c3"; }
.ic_work-o:before { content: "\f1c4"; }
.ic_workingout-o:before { content: "\f1c5"; }
.ic_x:before { content: "\f1c6"; }

$font-tc-icons-ic_actionsports-o: "\f160";
$font-tc-icons-ic_add: "\f161";
$font-tc-icons-ic_artdesign-o: "\f162";
$font-tc-icons-ic_avatar: "\f163";
$font-tc-icons-ic_barsclubs-o: "\f164";
$font-tc-icons-ic_blank: "\f165";
$font-tc-icons-ic_bullseye: "\f166";
$font-tc-icons-ic_calendar: "\f167";
$font-tc-icons-ic_chart: "\f168";
$font-tc-icons-ic_check: "\f169";
$font-tc-icons-ic_classtudies-o: "\f16a";
$font-tc-icons-ic_clipboard: "\f16b";
$font-tc-icons-ic_clone: "\f16c";
$font-tc-icons-ic_closed-circle: "\f16d";
$font-tc-icons-ic_clubsorgs-o: "\f16e";
$font-tc-icons-ic_comment: "\f16f";
$font-tc-icons-ic_communityservice-o: "\f170";
$font-tc-icons-ic_dashboard: "\f171";
$font-tc-icons-ic_delete: "\f172";
$font-tc-icons-ic_donut: "\f173";
$font-tc-icons-ic_donut-copy: "\f174";
$font-tc-icons-ic_down: "\f175";
$font-tc-icons-ic_download: "\f176";
$font-tc-icons-ic_edit: "\f177";
$font-tc-icons-ic_envelope: "\f178";
$font-tc-icons-ic_facebook: "\f179";
$font-tc-icons-ic_familyfriends-o: "\f17a";
$font-tc-icons-ic_fashionapparel-o: "\f17b";
$font-tc-icons-ic_feed-alerts: "\f17c";
$font-tc-icons-ic_feed-photos: "\f17d";
$font-tc-icons-ic_feed-summary: "\f17e";
$font-tc-icons-ic_filter: "\f17f";
$font-tc-icons-ic_fixture-pop: "\f180";
$font-tc-icons-ic_gear: "\f181";
$font-tc-icons-ic_gear-alt: "\f182";
$font-tc-icons-ic_greeklife-o: "\f183";
$font-tc-icons-ic_hamburger: "\f184";
$font-tc-icons-ic_instagram: "\f185";
$font-tc-icons-ic_jobstasks: "\f186";
$font-tc-icons-ic_left: "\f187";
$font-tc-icons-ic_like: "\f188";
$font-tc-icons-ic_linkedin: "\f189";
$font-tc-icons-ic_location: "\f18a";
$font-tc-icons-ic_location-alt: "\f18b";
$font-tc-icons-ic_lock: "\f18c";
$font-tc-icons-ic_logo: "\f18d";
$font-tc-icons-ic_logo-full: "\f18e";
$font-tc-icons-ic_logoBlk: "\f18f";
$font-tc-icons-ic_logoGrey: "\f190";
$font-tc-icons-ic_moviestv-o: "\f191";
$font-tc-icons-ic_music-o: "\f192";
$font-tc-icons-ic_o-activities: "\f193";
$font-tc-icons-ic_o-agents: "\f194";
$font-tc-icons-ic_o-hours: "\f195";
$font-tc-icons-ic_o-jobs: "\f196";
$font-tc-icons-ic_o-payable: "\f197";
$font-tc-icons-ic_o-sps: "\f198";
$font-tc-icons-ic_o-store: "\f199";
$font-tc-icons-ic_o-travel: "\f19a";
$font-tc-icons-ic_o-visits: "\f19b";
$font-tc-icons-ic_open-circle: "\f19c";
$font-tc-icons-ic_otherhobbies-o: "\f19d";
$font-tc-icons-ic_outdoors-o: "\f19e";
$font-tc-icons-ic_payments: "\f19f";
$font-tc-icons-ic_percent: "\f1a0";
$font-tc-icons-ic_person: "\f1a1";
$font-tc-icons-ic_playlist: "\f1a2";
$font-tc-icons-ic_post: "\f1a3";
$font-tc-icons-ic_processing: "\f1a4";
$font-tc-icons-ic_reading-o: "\f1a5";
$font-tc-icons-ic_recruiting: "\f1a6";
$font-tc-icons-ic_remove: "\f1a7";
$font-tc-icons-ic_right: "\f1a8";
$font-tc-icons-ic_sales: "\f1a9";
$font-tc-icons-ic_sd: "\f1aa";
$font-tc-icons-ic_sd_accounts: "\f1ab";
$font-tc-icons-ic_sd_stores: "\f1ac";
$font-tc-icons-ic_search: "\f1ad";
$font-tc-icons-ic_sheep: "\f1ae";
$font-tc-icons-ic_shopping-o: "\f1af";
$font-tc-icons-ic_socialmedia-o: "\f1b0";
$font-tc-icons-ic_sportsevents-o: "\f1b1";
$font-tc-icons-ic_sps: "\f1b2";
$font-tc-icons-ic_star: "\f1b3";
$font-tc-icons-ic_start: "\f1b4";
$font-tc-icons-ic_states: "\f1b5";
$font-tc-icons-ic_store: "\f1b6";
$font-tc-icons-ic_survey: "\f1b7";
$font-tc-icons-ic_teamsports-o: "\f1b8";
$font-tc-icons-ic_technology-o: "\f1b9";
$font-tc-icons-ic_territories-manage: "\f1ba";
$font-tc-icons-ic_top: "\f1bb";
$font-tc-icons-ic_trackedjobs: "\f1bc";
$font-tc-icons-ic_travel-o: "\f1bd";
$font-tc-icons-ic_twitter: "\f1be";
$font-tc-icons-ic_unlock: "\f1bf";
$font-tc-icons-ic_up: "\f1c0";
$font-tc-icons-ic_upload: "\f1c1";
$font-tc-icons-ic_visit: "\f1c2";
$font-tc-icons-ic_vs: "\f1c3";
$font-tc-icons-ic_work-o: "\f1c4";
$font-tc-icons-ic_workingout-o: "\f1c5";
$font-tc-icons-ic_x: "\f1c6";
