//
// Icon Font: tc-icons
//
// EDITS TO THIS ALSO NEED EDITS TO GRUNT.JS S3 UPLOAD.


@font-face {
  font-family: "tc-icons";
  src: url("../fonts/tc-icons_c8b56c84192912040a103bcfbd9a7a98.eot");
  src: url("../fonts/tc-icons_c8b56c84192912040a103bcfbd9a7a98.eot?#iefix") format("embedded-opentype"),
       url("../fonts/tc-icons_c8b56c84192912040a103bcfbd9a7a98.woff") format("woff"),
       url("../fonts/tc-icons_c8b56c84192912040a103bcfbd9a7a98.ttf") format("truetype"),
       url("../fonts/tc-icons_c8b56c84192912040a103bcfbd9a7a98.svg#tc-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "tc-icons";
    src: font-url("./tc-icons_c8b56c84192912040a103bcfbd9a7a98.svg#tc-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ic_add:before,
.ic_avatar:before,
.ic_blank:before,
.ic_calendar:before,
.ic_check:before,
.ic_clipboard:before,
.ic_closed-circle:before,
.ic_comment:before,
.ic_dashboard:before,
.ic_down:before,
.ic_download:before,
.ic_edit:before,
.ic_envelope:before,
.ic_filter:before,
.ic_gear:before,
.ic_hamburger:before,
.ic_left:before,
.ic_like:before,
.ic_location:before,
.ic_location2:before,
.ic_lock:before,
.ic_logo:before,
.ic_open-circle:before,
.ic_post:before,
.ic_remove:before,
.ic_report-05:before,
.ic_report-16:before,
.ic_right:before,
.ic_search:before,
.ic_star:before,
.ic_store:before,
.ic_top:before,
.ic_unlock:before,
.ic_up:before,
.ic_upload:before,
.ic_x:before {
  display: inline-block;
  font-family: "tc-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ic_add:before { content: "\f18b"; }
.ic_avatar:before { content: "\f18c"; }
.ic_blank:before { content: "\f18d"; }
.ic_calendar:before { content: "\f1aa"; }
.ic_check:before { content: "\f18e"; }
.ic_clipboard:before { content: "\f18f"; }
.ic_closed-circle:before { content: "\f190"; }
.ic_comment:before { content: "\f191"; }
.ic_dashboard:before { content: "\f192"; }
.ic_down:before { content: "\f193"; }
.ic_download:before { content: "\f194"; }
.ic_edit:before { content: "\f1ab"; }
.ic_envelope:before { content: "\f195"; }
.ic_filter:before { content: "\f196"; }
.ic_gear:before { content: "\f197"; }
.ic_hamburger:before { content: "\f198"; }
.ic_left:before { content: "\f199"; }
.ic_like:before { content: "\f19a"; }
.ic_location:before { content: "\f19b"; }
.ic_location2:before { content: "\f19c"; }
.ic_lock:before { content: "\f1ac"; }
.ic_logo:before { content: "\f19d"; }
.ic_open-circle:before { content: "\f19e"; }
.ic_post:before { content: "\f19f"; }
.ic_remove:before { content: "\f1a0"; }
.ic_report-05:before { content: "\f1a1"; }
.ic_report-16:before { content: "\f1a2"; }
.ic_right:before { content: "\f1a3"; }
.ic_search:before { content: "\f1a4"; }
.ic_star:before { content: "\f1a5"; }
.ic_store:before { content: "\f1a6"; }
.ic_top:before { content: "\f1ad"; }
.ic_unlock:before { content: "\f1ae"; }
.ic_up:before { content: "\f1a7"; }
.ic_upload:before { content: "\f1a8"; }
.ic_x:before { content: "\f1a9"; }

$font-tc-icons-ic_add: "\f18b";
$font-tc-icons-ic_avatar: "\f18c";
$font-tc-icons-ic_blank: "\f18d";
$font-tc-icons-ic_calendar: "\f1aa";
$font-tc-icons-ic_check: "\f18e";
$font-tc-icons-ic_clipboard: "\f18f";
$font-tc-icons-ic_closed-circle: "\f190";
$font-tc-icons-ic_comment: "\f191";
$font-tc-icons-ic_dashboard: "\f192";
$font-tc-icons-ic_down: "\f193";
$font-tc-icons-ic_download: "\f194";
$font-tc-icons-ic_edit: "\f1ab";
$font-tc-icons-ic_envelope: "\f195";
$font-tc-icons-ic_filter: "\f196";
$font-tc-icons-ic_gear: "\f197";
$font-tc-icons-ic_hamburger: "\f198";
$font-tc-icons-ic_left: "\f199";
$font-tc-icons-ic_like: "\f19a";
$font-tc-icons-ic_location: "\f19b";
$font-tc-icons-ic_location2: "\f19c";
$font-tc-icons-ic_lock: "\f1ac";
$font-tc-icons-ic_logo: "\f19d";
$font-tc-icons-ic_open-circle: "\f19e";
$font-tc-icons-ic_post: "\f19f";
$font-tc-icons-ic_remove: "\f1a0";
$font-tc-icons-ic_report-05: "\f1a1";
$font-tc-icons-ic_report-16: "\f1a2";
$font-tc-icons-ic_right: "\f1a3";
$font-tc-icons-ic_search: "\f1a4";
$font-tc-icons-ic_star: "\f1a5";
$font-tc-icons-ic_store: "\f1a6";
$font-tc-icons-ic_top: "\f1ad";
$font-tc-icons-ic_unlock: "\f1ae";
$font-tc-icons-ic_up: "\f1a7";
$font-tc-icons-ic_upload: "\f1a8";
$font-tc-icons-ic_x: "\f1a9";
