<h3>Comments</h3>
<section class="comments-list">
{{#each comments}}
	{{>entry_comment}}
{{else}}
	<p class="empty-comments-message">No Comments</p>
{{/each}}	
</section>


<textarea name="text" class="comment-input"></textarea>
<button class="btn default comment">Leave Comment</button>