{{>valid_indicator}}
<p class="col-2-12">{{date}}</p>
<p class="col-1-12 payment">${{payment}}</p>
<p class="col-1-12">{{units}} mins</p>

<p class="col-3-12">{{person.name}}</p>

<div class="col-3-12 entry-actions">
    <a class="btn primary" href="#" title="View Checkin Report"><i class="ic ic_report-16"></i></a>
    {{>expand_action}}
    {{>validate_action}}    
</div>
