<h2>Travel Details for {{person.name}}({{person.paypalEmail}})</h2>
<p>{{label}}</p>
<p>This results in a distance of <span class="key-info">{{units}} miles</span> travelled at a rate of <span class="key-info">$0.42</span>. </p>

<a class="btn primary">Dispute Travel Distance</a>