{{>valid_indicator}}
<p class="col-2-12">{{date}}</p>
<p class="col-1-12 payment">${{payment}}</p>

<p class="col-1-12">{{units}} mi</p>
<p class="col-3-12">{{person.paypalEmail}}</p>

<div class="col-3-12 entry-actions">
    {{>expand_action}}
    {{>validate_action}}
</div>


