#site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    #site-canvas {
        width: 100%;
        height: 100%;
        position: fixed;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: .3s ease all;
        transition: .3s ease all;
        .content {
            position: relative;
            width: 100%;
            padding-left: $standard-nav-width + 1;
            padding-right: 1em;
            overflow: auto;
            height: 100%;
            z-index: -1;
        }
    }
    // collapse nav
    &.collapsed-nav {
        #site-canvas {
            #site-menu {
                width: $collapsed-nav-width;
                transition: width .3s;
                .third {
                    display: none;
                }
                .link {
                    opacity: 0;
                    transition: opacity 1s, width 0 1s;
                    width: 0;
                }
            }
            #site-submenu {
                @include transform(-$standard-collapse-difference);
            }
            .content {
                padding-left: $collapsed-nav-width + 1;
                transition: padding .3s;
            }
        }
    }
    &.expanded-nav {
        #site-canvas {
            #site-menu {
                //@include transform(-10em);
                transition: width .3s;
                .link {
                    opacity: 1;
                    transition: opacity 1s, width 100% 1s;
                    width: 100%;
                }
            }
            #site-submenu {
                /*   @include transform(10em); 
                /* transition: display .3s; */
            }
            .content {
                transition: padding .3s;
            }
        }
    }
    &.show-nav #site-canvas {
        -webkit-transform: translateX($standard-nav-width);
        transform: translateX($standard-nav-width);
    }
    &.show-filter #site-canvas {
        -webkit-transform: translateX(-$standard-nav-width);
        transform: translateX(-$standard-nav-width);
    }
    #site-menu {
        width: $standard-nav-width;
        height: 100%;
        position: absolute;
        top: 0;
        background: $nav-background;
        overflow: hidden;
        z-index: 5;
    }
    #site-submenu.show-subnav {
        background-color: $subnav-background;
        -webkit-transform: translateX($standard-nav-width);
        transform: translateX($standard-nav-width);
    }
    &.collapsed-nav #site-canvas #site-submenu.show-subnav {
        -webkit-transform: translateX($collapsed-nav-width);
        transform: translateX($collapsed-nav-width);
    }
    #site-submenu {
        background-color: $border-color;
        width: $standard-nav-width;
        height: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        -webkit-transition: .3s ease all;
        transition: .3s ease all;
        z-index: 3;
        overflow: auto;
        li:last-of-type {
            margin-bottom: 3em;
        }
    }
    #site-filter {
        width: $standard-nav-width;
        height: 100%;
        position: absolute;
        top: 0;
        right: -$standard-nav-width;
        background: $nav-background;
    }
}

.section {
    background-color: white;
    padding: 1em;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    margin-bottom: 2em;
}

/* Media Queries */
@include bp-small {
    #site-menu {
        left: -$standard-nav-width;
        overflow: auto;
        &.show-subnav {
            -webkit-transform: translateX($standard-nav-width);
            transform: translateX($standard-nav-width);
        }
    }
    #site-submenu {
        left: -$standard-nav-width * 2;
        z-index: 6;
    }
}