*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}


.module {
  padding:1em;
  background-color: white;
  border:1px solid $border-color;
  border-radius: $border-radius-base;
}

.pull-left {
  float: left;
}

.pull-right {
  float:right;
}

.visible-xs, .visible-xs-inline, .visible-md, .visible-login-toolbar, .visible-lg {
  display:none;
}


.expander {
  cursor: pointer; 
}

.hide {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.img-circle {
  border-radius: 50%;
}

.carousel-caption {
  position:absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.right-aligned {
  text-align: right;
  @include swb-small() {
    &.xs-left {
      text-align: left;
    }
  }
}
.show-filter {
  .scroll-top {
    @include transform(-7.5em)
  }
}

.top-aligned {
  vertical-align: top;
}

@include swb-large {
  .visible-lg {
    display: block;
  }

  .hidden-lg {
    display:none !important;
  }
}

@include swb-medium {
  .visible-md {
    display: block;
  }

  .hidden-md {
    display:none !important;
  }
}

@include swb-login-toolbar {
  .visible-login-toolbar {
    display: block;
  }

  .hidden-login-toolbar {
    display:none !important;
  }
}

@include swb-small {
  .visible-xs {
    display: block;
  }

  .visible-xs-inline{
    display: inline-block;
  }
  .hidden-xs {
    display:none !important;
  }

  .m-carousel.m-fluid > .m-carousel-inner > * {
    width:90%;
  }
}

