<tr>
  <td>Action</td>
  <td>Store</td>
  <td>Store Address</td>
  <td>Requested By</td>
  <td>Visit Type</td>
  <td>Duration</td>
  <td>Status</td>
  <td>Assignee</td>
  <td>Date Scheduled</td>
  <td>Date Completed</td>
  <td>Earliest Availability Date</td>
  <td>Latest Availability Date</td>
  <td>Requested Start Time</td>
</tr>