<div class="col-1-2">
    <input type="text" name="start" class="start" value="{{start}}" /> To: <input type="text" name="end" class="end" value="{{end}}" />
    <span class="date-range-remove"><a href="#" class="date-range-remove-link light underline"><i class="ic_delete" /> Delete</a></span>
</div>