<div class="col-3-4">
    <div class="store-info">{{name}}, {{address}}</div>
</div>
<div class="col-1-4">
    <div class="store-remove"><a href="#" class="store-remove-link light underline"><i class="ic_delete" /> Delete</a></div>
</div>