$marketing-primary-color: #ffffff;
$marketing-secondary-color: #da291c;
$marketing-background-color: #333333;

$marketing-nav-hover-border-color: #828282;
$marketing-nav-background-color-1: #777777;
$marketing-nav-background-color-2: #e3e3e3;
$marketing-link-color: #d23b30;
