<h1>{{name}}</h1>
<section class="section data-section">
    <div class="pure-g">
        <h3 class="header col-3-12">Store Name</h3>
        <h3 class="header col-4-12">Address</h3>
        <h3 class="header col-1-12">Status</h3>
        <h3 class="header col-2-12">Latitude</h3>
        <h3 class="header col-2-12">Longitude</h3>
    </div>
    <div class="body" id="program-store-list"></div>
</section>