<h1>{{name}}</h1>
<section class="section">
    <table class="table">
        <thead>
            <tr>
                <th>Store Name</th>
                <th>Labels</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="program-store-list">
            <tr>
                <td colspan="5">
                    <div class="loading-section">
                        <div class="loading">
                            <div class="fa fa-spin fa-spinner"></div> Loading...
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
