<h1>Program Stores</h1>
<table>
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Address</th>
            <th>Status</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody id="program-store-list"></tbody>
</table>