<div class="bbm-button cancel-button pull-right"><i class="ic ic_x"></i></div>
<div class="tags-modal store-modal">
    <h2>{{name}} Tags</h2>
    <div>
        <ul class="tags"></ul>
    </div>
</div>