<div class="body store-job">
    <div>
        {{#if date}}
            <div>{{date}}</div>
        {{/if}}
       <div>
           <h3>Visit Activity - {{job.name}}</h3>
       </div>
    </div>

    <div class="indicator">
        <button class="btn primary">
            <i class="ic ic_start"></i>
        </button>
    </div>

</div>
<div class="divider"></div>