<div class="body clickable expander right-col closed">
    <div>
        <h3>{{accountName}}</h3>
        <div class="address">{{address}}</div>
        <div class="expansions">
            <a href="/programs/Merchandising/stores/{{id}}">View Recent Activity</a>
        </div>
    </div>
    <div class="indicator">
        <i class="ic ic_down"></i>
    </div>
</div>
<div class="divider"></div>
<div class="subsection expansions">
    <div class="card">
        <div class="header">Visit Activities</div>
    </div>
</div>