<div class="body store closed">
    <div>
        <h3>{{accountName}}</h3>
        <div class="address">{{address}}</div>
        <div class="view-activities" style="display: none;">
            <a href="/programs/Merchandising/stores/{{id}}">View Recent Activity</a>
        </div>
    </div>
    <div class="indicator">
        <i class="ic ic_down"></i>
    </div>
</div>
<div class="divider"></div>
<div class="job-list" style="display: none;">
    <div class="card">
        <div class="header">Visit Activities</div>
    </div>
</div>