<h1 class="title">Editing Blackout Scheme</h1>

<div class="actions" id="blackout-scheme-save">
	<button class="btn primary" id="blackout-scheme-delete">
		<i class="ic fa ic_remove"></i>
		<span>Delete</span>
	</button>
	<button class="btn primary" id="blackout-scheme-save">
		<i class="ic fa ic_check"></i>
		<span>Save</span>
	</button>
</div>

{{#if assignedJobs}}
	<div class="section">
		Warning: Changes to this blackout scheme will affect the following jobs:
		<ul>
			{{#assignedJobs}}
				<li>{{this}}</li>
			{{/assignedJobs}}
		</ul>
	</div>
{{/if}}

<div class="section">
	<h3>Name</h3>
	<input id="blackout-scheme-name" value="{{blackoutScheme.name}}" required>

    <div id="type-list" class="radio-input-group bottom">
    <h3>Type of Date</h3>
        <label for="blackout-scheme-inverse_blacklist" class="radio"><input id="blackout-scheme-inverse_blacklist" name="blackout-scheme-inverse" type="radio" value="false" {{#unless blackoutScheme.inverse}}checked{{/unless}} required/> Blackout</label>
        <label for="blackout-scheme-inverse_whitelist" class="radio"><input id="blackout-scheme-inverse_whitelist" name="blackout-scheme-inverse" type="radio" value="true" {{#if blackoutScheme.inverse}}checked{{/if}} required/> Available</label>
    </div>

	<h3>Dates</h3>
	<button id="blackout-scheme-date-add">Add Date</button>
	<button id="blackout-scheme-range-add">Add Range</button>
	<div id="blackout-scheme-ranges">
    </div>
	<div id="blackout-scheme-dates">
	</div>
</div>
