<h1 class="title">Editing Blackout Scheme</h1>

<div class="actions btn primary" id="blackout-scheme-save">
				<i class="ic fa ic_check"></i>
				<span>Save</span>
</div>

{{#if assignedJobs}}
				<div class="section">
								Warning: Changes to this blackout scheme will affect the following jobs:
								<ul>
												{{#assignedJobs}}
																<li>{{this}}</li>
												{{/assignedJobs}}
								</ul>
				</div>
{{/if}}

<div class="section">
				<h3>Name</h3>
				<input id="blackout-scheme-name" value="{{blackoutScheme.name}}" required>
</div>

<div class="section">
				<h3>Dates</h3>
				<button id="blackout-scheme-date-add">Add Date</button>
				<div id="blackout-scheme-dates">
				</div>
</div>
