<div class="blackout-scheme-range-row">
Date From: <input class="blackout-scheme-range-input1" type="date" required value="{{this}}">
Date To: <input class="blackout-scheme-range-input2" type="date" required value="{{this}}">
<button class="blackout-scheme-date-remove">Remove</button>
</div>
