<section class="section data-section">
    <div class="pure-g">
        <h3 class="col-7-12 col-md-1">STORES WITH DISPLAY ITEMS ARE DAMAGED</h3>
        <h3 class="col-4-12 hidden-xs">Date Added</h3>
        <h3 class="col-1-12 hidden-xs">Actions</h3>
    </div>
    <div class="body">
        
    </div>
</section>

