<div class="section">
    <table>
        <thead>
        <tr>
            <th>Stores with {{title}}</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

