<div class="card">
    <div class="header pure-g">
        <div class="col-md-1 col-1-2">Program</div>
        <div class="hidden-md col-1-2">Url</div>
    </div>
    {{#each this}}
        {{> opportunity}}
    {{/each}}
</div>
