<h1>Customers</h1>
<div class="section">
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody id="customer-list-items"></tbody>
    </table>
</div>







