<div class="confirmation-modal modal">
    <div class="bbm-button cancel-button pull-right"><i class="ic ic_x"></i></div>
    <h2>{{title}}</h2>
    <p class="danger">{{warning}}</p>
    <div>
        <label for="input-confirmation">Please type <strong>{{validationText}}</strong> to confirm this action.</label>
        <div><input type="text" id="input-confirmation"></div>
    </div>
    <div>
        <button class="btn primary confirm-button" disabled="disabled">{{submitText}}</button>
        <button class="btn cancel-button">Cancel</button>
    </div>
</div>