<div class=" holder">
    <div>
        <div class="image">
            <img src="{{source}}" alt="Image" >
        </div>
        <div class="delete">
            <button class="btn primary"><i class="ic ic_x"></i><span>Delete Image</span></button>
        </div>

        <div class="description">
            <label>Description: </label>
            <input type="text" name="description">
        </div>
    </div>
</div>
