<div class=" holder">
    <div class="image">
        <img src="{{source}}" data-id="63840" alt="Image" >
    </div>
    <div class="delete">
        <button class="btn primary cancel"><i class="ic fa ic_x"></i><span>Cancel Upload</span></button>
    </div>
    <div class="progress-container">
        <div class="progress">
            <div class="bar"></div>
        </div>
        <div class="percentage">0%</div>
    </div>
</div>
