<div class=" holder">
    <div>
        <div class="image pull-left">
            <img src="{{source}}" data-id="63840" alt="Image" >
        </div>
        <div class="pull-right">
            <button class="btn primary cancel"><i class="ic fa ic_x"></i><span>Cancel Upload</span></button>
        </div>
        <div class="progress">
            <div class="bar"></div>
        </div>
        <div class="percentage">0%</div>
    </div>
</div>
