<div class="widget {{config.widget_class}}">
    <p>{{{title}}}</p>
    {{#if show_view_list}}
        <a href="#" class="breakdown-link" tag="View Breakdown">View Breakdown</a>
    {{/if}}
    <div class="chart horizontal-bar"></div>
</div>