<div class="widget hbar {{config.widget_class}}">
    {{#if title}}<p>{{{title}}}</p>{{/if}}
    {{#if show_view_list}}
        <a href="#" class="breakdown-link" tag="View Breakdown" target="_blank">Breakdown</a>
    {{else}}
        <i>Click Bar to View Breakdown</i>
    {{/if}}
    <div class="chart horizontal-bar"></div>
</div>