<div class="widget {{config.widget_class}}">
    <p>{{title}}</p>

    <div class="gauge pure-g">
        <div class="col-md-1 col-1-2">
            <div class="chart gauge-chart"></div>
        </div>
    </div>

</div>
