<div class="widget {{config.widget_class}}">
    <div>
        <div class="chart horizontal-bar">
            <p>{{{title}}}</p>
            <canvas></canvas>
            {{#if show_view_list}}
                <a href="#" class="btn light" tag="View Breakdown">View Breakdown</a>
            {{/if}}
        </div>
    </div>
</div>