<div class="widget {{config.widget_class}}">
    {{#if title}}<p>{{{title}}}</p>{{/if}}
    {{#if results.legend}}
        <ul class="ct-legend">
            {{#each results.legend}}
                <li class="ct-series-{{@index}}">{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
    <div class="ct-chart ct-perfect-fourth"></div>
</div>