<div class="widget {{config.widget_class}}">
    <div>
        <div class="chart line">
            <p>{{{title}}}</p>
            <svg style="min-height: 400px; width: 100%"></svg>
        </div>
    </div>
</div>