<div class="widget {{config.widget_class}}">
    {{#if title}}<p>{{{title}}}</p>{{/if}}
    {{#if results.series}}
        <ul class="ct-legend">
            {{#each results.series}}
                <li class="ct-series-{{@index}}">{{this.name}}</li>
            {{/each}}
        </ul>
    {{/if}}
    <div class="ct-chart ct-perfect-fourth"></div>
</div>