<div class="widget {{config.widget_class}}">
    <p>{{{title}}}</p>
    <div class="chart line-chart"></div>
    {{#if show_view_list}}
        <a href="#" class="breakdown-link" tag="View Breakdown">Breakdown</a>
    {{/if}}
</div>
