<div class="widget {{config.widget_class}}">
    <table>
        <thead>
        <th colspan="2">{{title}}</th>
        </thead>
        <tbody>
        {{#each results.rows}}
            <tr>
                <td>{{title}}</td>
                <td>{{sum}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>