<div class="overview {{config.widget_class}}">
    <div>
        {{#if show_view_list}}
            <a href="#" class="breakdown-link" tag="View Breakdown" target="_blank">
        {{/if}}
        <h2>{{format_number results.count}}</h2>
        {{#if show_view_list}}
        </a>
        {{/if}}
        <div>{{title}}</div>
    </div>
</div>
