<div class="widget {{config.widget_class}}">
    <table class="chart range">
        <thead>
            <th colspan="2">{{title}}</th>
        </thead>
        {{#each results}}
            <tr>
                <td>{{this.label}}</td>
                <td>{{this.value}}%</td>
            </tr>
        {{/each}}
    </table>
</div>