<div class="widget {{config.widget_class}}">
    <div>
        <div class="chart line">
            <p>{{{title}}}</p>
            <div class="ct-chart ct-perfect-fourth"></div>
        </div>
    </div>
</div>