<div class="bannerImages">
    <div class="about-images">
        {{#each person.aboutImages}}
            <img src="{{this.large}}" alt="ljkl"/>
        {{/each}}
    </div>
    <div class="clear"></div>
</div>