<div class="stupidImages">
    <div class="about-images">
        {{#each person.aboutPhotos}}
            <img src="{{this.large}}" alt="ljkl"/>
        {{/each}}
    </div>
    <div class="clear"></div>
</div>