<div class="pure-g header">
    <h3 class="col-2-12 scheduled-visit-cell">Store</h3>
    <h3 class="col-2-12 scheduled-visit-cell">Store Address</h3>
	<h3 class="col-2-12 scheduled-visit-cell">Requested By</h3>
	<h3 class="col-2-12 scheduled-visit-cell">Visit Type</h3>
	<h3 class="col-2-12 scheduled-visit-cell">Visit Details</h3>
	<h3 class="col-2-12 scheduled-visit-cell">Duration</h3>
</div>
