<div class="pure-g header">
    <h3 class="col-1-12 scheduled-visit-cell">Action</h3>
    <h3 class="col-1-12 scheduled-visit-cell">Store</h3>
    <h3 class="col-1-12 scheduled-visit-cell">Store Address</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Requested By</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Visit Type</h3>
	<h3 class="col-3-12 scheduled-visit-cell">Visit Details</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Duration</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Assignee</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Date Scheduled</h3>
	<h3 class="col-1-12 scheduled-visit-cell">Date Completed</h3>
</div>
