{{#if_eq type 'link'}}
    <a href="{{link}}?{{qs}}" {{#if bypass}}data-bypass="true"{{/if}} class="btn {{className}}">
        {{> 'action_content'}}
    </a>
{{/if_eq}}

{{#if_eq type 'button'}}
    <button class="btn {{className}}">
        {{> 'action_content'}}
    </button>
{{/if_eq}}
