{{#if_eq type 'link'}}
    <a href="{{link}}" data-bypass="{{bypass}}" class="btn {{className}}">
        {{> 'action_content'}}
    </a>
{{/if_eq}}

{{#if_eq type 'button'}}
    <button class="btn {{className}}">
        {{> 'action_content'}}
    </button>
{{/if_eq}}