<span class="sales-button">
            <a href="{{salesUrl}}" class="activity-feed-qtd percentage-change {{percentageChangeClass value}}">
                <i class="fa {{percentageChangeIcon value}} change-icon"></i>
    {{formatPercentageChange value}}
    </a>
</span>