<section class="sales-widget">
    <p class="text">QTD $ Sales: <span class="percentage-change {{ percentageChangeClass salesChange }}"><i class="ic {{ percentageChangeIcon salesChange }}"></i> {{formatPercentageChange salesChange}}</span> {{#if showLabel}} From LY{{/if}}</p>
    <a class="details" href="{{salesUrl}}">DETAILS</a>
</section>    