<button class="marquee-nav previous {{#unless canNavBack}}hidden{{/unless}}">
  <i class="ic ic_left"></i>
</button>

<div class="sales-figure"></div>

<button class="marquee-nav next {{#unless canNavForward}}hidden{{/unless}}">
  <i class="ic ic_right"></i>
</button>
