<div class="field-activities-summary">

  <div class="field-activities-overview">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>

  <div id="associate-education" class="associate-education">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>

  <div id="consumer-engagement" class="consumer-engagement">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>

  <div id="merchandising" class="merchandising">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>
</div>
