<div class="field-activities-summary">

  <div class="field-activities-overview">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>

  <div class="associate-education">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>

  <div class="consumer-engagement">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>

  <div class="merchandising">
    <div class="section loading">
      <i class="fa fa-spinner"></i>
    </div>
  </div>
</div>
