<div class="field-activities-summary">

  <div class="date-slider-container"></div>

  <div class="field-activities-overview"></div>

  {{#each sections}}
    <div id="{{this}}"></div>
  {{/each}}
</div>
