<div class="field-activities-summary">

  <div class="field-activities-overview"></div>

  <div class="associate-education"></div>

  <div class="consumer-engagement"></div>

  <div class="merchandising"></div>
</div>
