<div class="field-activities-summary">

  <div class="date-slider-container"></div>

  <div class="field-activities-overview"></div>

  <div id="associate-education" class="associate-education"></div>

  <div id="consumer-engagement" class="consumer-engagement"></div>

  <div id="merchandising" class="merchandising"> </div>
</div>
