<div class="section">
  <h2>{{sections.label}}</h2>
  <div class="kpi-container merchandising-kpis">
    <div class="widgets"></div>
  </div>
  <div class="merchandising-activity-reports"><!-- Rendered later --></div>
</div>
