<div class="section field-activity-section">

  <div class="header-index">
    <h2>{{fieldActivities.label}}</h2>
    <div>
      <a class="anchor" data-section="#associate_education" href="#associate_education">Associate Engagement & Training</a> |
      <a class="anchor" data-section="#consumer_engagement_selling" href="#consumer_engagement_selling">Consumer Engagement & Selling</a> |
      <a class="anchor" data-section="#merchandising" href="#merchandising">Merchandising</a> |
      <a href="/programs/{{programId}}/reports">All Activity Reports</a>
    </div>
  </div>

  <div class="kpi-container overview-kpis">
  </div>
</div>
