<div class="section">
  <h2>{{fieldActivities.label}}</h2>
  <div class="overview-kpis">
    <div class="metric">
      <a class="metric-figure" href="#">634</a>
      <span class="metric-label">Visits Completed</span>
    </div>
    <div class="metric">
      <a class="metric-figure" href="#">444</a>
      <span class="metric-label">Stores Visited</span>
    </div>
    <div class="metric">
      <a class="metric-figure" href="#">46</a>
      <span class="metric-label">States Visited</span>
    </div>
    <div class="metric">
      <a class="metric-figure" href="#">85</a>
      <span class="metric-label">ThirdChannel Agents</span>
    </div>
    <div class="metric">
      <a class="metric-figure" href="#">47</a>
      <span class="metric-label">In-Store Support/FMRs</span>
    </div>
  </div>
</div>
