<div class="section">
  <h2>{{label}}</h2>
  <div class="overview-kpis">
    {{#each metrics}}
      <div class="metric">
        <a class="metric-figure" href="#">{{this.data.total}}</a>
        <span class="metric-label">{{this.label}}</span>
        <div><!-- Related infographic things --></div>
      </div>
    {{/each}}
  </div>
</div>
