<div class="section">
  <h2>{{label}}</h2>
  <div class="kpi-container">
    {{#if_eq section 'merchandising'}}
      <div class="widgets"></div>
    {{/if_eq}}
  </div>
  <div class="activity-reports-container"><!-- Rendered later --></div>
</div>
