<tr>
    <td class="{{alertClass}}"><a href="alerts/{{id}}">{{title}}</a></td>
    <td><a href="alerts/{{id}}"><span class="alert-count"><i class="fa fa-spin ic_processing"></i></span></a></td>
    <td></td>
</tr>
