<div class="body additional-content {{hidden}}">
    <div class="pure-g">
        <h3 class="header col-1-1">Task Names</h3>
    </div>

    {{#each tasks}}
        <div class="item pure-g">
            <div class="col-1-1">{{name}}</div>
        </div>
    {{/each}}
</div>