<div class="pure-g">
    <h3 class="header col-6-12 col-sm-9-12">{{localizedUTCDate date}}</h3>
    {{#if showCompleted}}
        <h3 class="header col-2-12 hidden-xs">Duration</h3>
        <h3 class="header col-3-12 hidden-xs">Date Completed</h3>
        <h3 class="header col-1-12 col-sm-3-12 center">Tasks</h3>
    {{else}}
        <h3 class="header col-4-12 hidden-xs">Duration</h3>
        <h3 class="header col-2-12 col-sm-3-12 center">Tasks</h3>

    {{/if}}

</div>

<div class="body main group-header">

</div>
