


    <div class="pure-g">
        <h3 class="header col-4-5">{{date}}</h3>
        {{#if showCompleted}}
            <h3 class="header col-1-5">Date Completed</h3>
        {{/if}}
    </div>

    <div class="body group-header">

    </div>
