#applicants-1 {
  margin-top: -2.5em;
  padding-bottom: 0;

  .applicants-1-header {
    width: 100%;
    height: 200px;
    background-color: $slate;

    @include swb-medium {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    h1 {
      color: $light-gray;
      font-size: 2.5em;

      @include swb-medium {
        font-size: 1.8em;
      }
    }
  }

  .applicants-1-item {
    padding: 2.4em;
    text-align: left;

    .spaced {
      margin-left: 2em;

      @include swb-medium {
        margin-top: 0.5em;
        margin-left: 0;
        display: block;
      }
    }

    @include swb-medium {
      padding: 1.5em;
    }
  }
}

#applicants-2 {
  margin-top: -2.8em;
  background-color: $palette4;

  @include swb-medium {
    margin-top: 0;
    height: 85vh;
  }

  #applicants-2-content {
    margin: 0 auto;
    width: 75%;
    opacity: 1;
    transform: translateY(50%);

    @include swb-medium {
      padding: 0.5em;
      width: 100%;
    }

    h1 {
      margin-bottom: 0.6em;
    }

    p {
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: normal;
      color: $light-gray;

      @include swb-medium {
        font-size: 1em;
        line-height: 1em;
      }
    }
  }
}

#applicants-3 {
  height: 100%;

  .agents {
    margin-top: 2em;
  }

  .agent {
    padding: 2em;
  }

  .agent-name {
    font-weight: bold;
  }
}