.applicant-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;

  .spaced {
    margin-left: 2em;

    @include swb-medium {
      margin-top: 0.5em;
      margin-left: 0;
      display: block;
    }
  }
}

#applicants-1 {
  height: 92vh;

  @include swb-medium {
    height: 100%;
  }
}

#applicants-2 {
  height: 93vh;
  background-color: $palette4;

  @include swb-medium {
    margin-top: 0;
    height: 88vh;
  }

  #applicants-2-content {
    margin: 0 auto;
    width: 75%;
    opacity: 1;
    transform: translateY(50%);

    @include swb-medium {
      padding: 0.8em;
      width: 100%;
      transform: none;
    }

    h2 {
      font-size: 3em;
      font-weight: bold;
      text-transform: uppercase;
      color: $red;
      margin-bottom: 0.6em;

      @include swb-medium {
        font-size: 1.5em;
        margin: 0.8em 0 0.6em;
      }
    }

    p {
      font-size: 1.5em;
      line-height: 1.6em;
      font-weight: normal;
      color: $light-gray;

      @include swb-medium {
        font-size: 0.8em;
      }
    }
  }
}

#applicants-3 {
  height: 100%;

  .agents {
    margin-top: 2em;

    .agent {
      padding: 2em;
    }

    .agent-name {
      font-weight: bold;
    }
  }

  @include swb-medium {
    img {
      width: 100%;
      height: auto;
    }
  }
}