.applicant-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;

  @include swb-medium {
    margin-top: 1em;
    margin-left: 0;
  }

  &.applicant-item-centered {
    margin: 0 auto;
  }

  .spaced {
    margin-left: 2em;

    @include swb-medium {
      margin-top: 0.5em;
      margin-left: 0;
      display: block;
    }
  }
}


.v2 {
  @include swb-small() {
    form button {
      margin-bottom: 1em;
    }
  }

  .headline {
    font-size: 36px;
    text-transform: capitalize;
    @include swb-small() {
      line-height:1.2em;
    }
  }

  .data-section {
    text-align: left;
    padding: 1.5em;
    @include swb-medium() {
      h2 {
        font-size: $base-font-size + .2rem;
      }
    }
  }

  .agents {
    text-align: center;
    .agent-quote {
      text-align: left;
    }
  }

  @include swb-small() {
    .client-images {
      text-align: center;
    }
  }
  .client {
    img {
      max-height: 60px;
      padding: 1em;
      @include swb-small(){
        max-height: 55px;
      }
    }
  }

  #dream-job {
    height: 92vh;
    background-color: $palette4;
    background-image: url("../images/dream-job.jpg");
    background-position: center;
    background-size: cover;

    @include swb-medium {
      margin-top: -3.8em;
      height: 100vh;
      background-color: $palette4 !important;
      background-image: none !important;
    }
  }

  #about-position {
    height: 92vh;
    background-color: $palette4;
    background-image: url("../images/about-position.jpg");
    background-position: center;
    background-size: cover;

    @include swb-medium {
     // margin-top: -3.8em;
      height: 100vh;
      background-color: $palette4 !important;
      background-image: none !important;
    }
  }

  #brands {
    height: 92vh;
    background-color: $palette4;
    background-image: url("../images/brands.jpg");
    background-position: center;
    background-size: cover;

    @include swb-medium {
     // margin-top: -3.8em;
      height: 100vh;
      background-color: $palette4 !important;
      background-image: none !important;
    }
  }

  #map {
    height: 92vh;
    background-color: $palette4;
    background-image: url("../images/map.jpg");
    background-position: center;
    background-size: cover;

    @include swb-medium {
    //  margin-top: -3.8em;
      height: 100vh;
      background-color: $palette4 !important;
      background-image: none !important;
    }
  }

  #reg-form {
    height: 92vh;
  }
}