.contact-us-header {
  width: 100%;
  height: 66vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;

  @include swb-medium {
    background-color: #fff;
    height: 100%;
  }

  .info-wrapper {
    float: right;
    width: 33%;
    height: 100%;
    padding-bottom: 1.4em;
    background-color: rgba(241, 95, 81, 0.9);

    @include swb-medium {
      width: 100%;
    }

    .btn {
      padding: 1em 2em 1em 2em;
    }

    .info {
      width: 100%;
      padding-left: 1.4em;
      padding-right: 1.4em;
      text-align: center;

      h1 {
        font-size: 2em;
        margin: 0;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        color: $light-gray;
      }

      .separator {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #fff;
      }

      .info-item {
        width: 225px;
        margin: 0 auto;
        text-align: left;
        margin-top: 1.4em;
        margin-bottom: 3em;

        @include swb-medium {
          margin-bottom: 1.4em;
        }

        div {
          margin-top: 0.2em;
          margin-bottom: 0.2em;
        }

        .info-title {
          font-weight: bold;

          span {
            margin-left: 0.5em;
          }
        }

        .info-data {
          margin-left: 1.8em;
          font-weight: normal;

          address {
            font-style: normal;
          }
        }
      }
    }
  }
}

.contact-us-banner {
  text-align: center;
  width: 100%;
  height: 100%;
  color: $light-gray;

  h2 {
    font-size: 2.5em;
    font-weight: bold;
  }

  p {
    font-size: 1.1em;
  }
}