.request-demo-form {
  width: 75%;
  margin: 0 auto 2em;

  .request-demo-control {
    padding: 0.2em 0.5em 0.2em 0.5em;
  }

  .request-demo-centered {
    text-align: center;
  }

  input, textarea {
    margin-bottom: 1.2em;
    padding: 1.2em;
    height: 3em;
  }

  textarea {
    height: 8em;
  }

  button {
    padding: 0.5em 4em;
  }
}