.request-demo-form {
  width: 75%;
  margin: 0 auto 2em;

  .request-demo-control {
    padding: 0.2em 0.5em 0.2em 0.5em;
  }

  .request-demo-centered {
    text-align: center;
  }

  .success-message {
    color: #5cb85c;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;

    h2 {
      font-size: 2.5em;
      font-weight: bold;
    }
  }

  input, textarea {
    margin-bottom: 1.2em;
    padding: 1.2em;
    height: 3em;
  }

  textarea {
    height: 8em;
  }

  button {
    padding: 0.5em 4em;
  }
}