.request-demo-form {
  width: 75%;
  height: 58vh;
  margin: 0 auto;
  margin-top: 5em;

  @include swb-medium {
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .request-demo-control {
    padding: 0.2em 0.5em 0.2em 0.5em;
  }

  .request-demo-centered {
    text-align: center;
  }

  .success-message {
    color: #5cb85c;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 10em;

    @include swb-medium {
      margin-top: 5em;
      margin-bottom: 5em;
    }

    h2 {
      font-size: 2.5em;
      font-weight: bold;

      @include swb-medium {
        font-size: 1.8em;
        line-height: 1.2em;
      }
    }
  }

  input, textarea {
    margin-bottom: 1.5em;
    padding: 0.25em;
    height: 3em;

    @include swb-medium {
      padding: 0.6em;
      margin-bottom: 0.6em;
    }
  }

  textarea {
    height: 8em;
  }

  button {
    padding: 0.5em 4em;
  }
}