.footer {
  background-color: $slate;
  min-height: 200px;
  padding: 20px;

  .about {
    .about-header {
      font-weight: bold;
      color: $palette2;
    }

    p {
      color: #fff;
    }
  }


}