.marketing-form {
  text-align: left;

  p {
    margin-bottom: 1.5em;
  }

  input {
    margin-bottom: 0.8em;
    height: 3em;
    background-color: $light-blue;

    &::-webkit-input-placeholder {
      color: $medium-blue;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $medium-blue;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $medium-blue;
    }

    &:-ms-input-placeholder {
      color: $medium-blue;
    }
  }

  .btn {
    padding: 8px 30px 8px 30px;
  }
}