.full-section {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 93vh;
  width: 100vw;
  text-align: center;

  &.last-section {
    height: 100%;
  }

  .full-section-controls {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;

    a {
      color: #F6F6F6;
      line-height: 36px;

      .dark {
        color: #5D5D5D;
      }

      .read-more-circle {
        margin: 0 auto;
        width: 75px;
        height: 36px;
        background-color: $red;
        border-radius: 50% / 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        -moz-border-radius: 50% / 100%;
        -webkit-border-radius: 50% / 100%;

        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;

        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
      }
    }
  }
}