#home-page1 {
  margin-top: -48px;
  background-color: $palette4;

  #home-page1-content {
    margin: 0 auto;
    width: 75%;

    @include swb-medium {
      padding: 0.5em;
      width: 100%;
    }

    h2 {
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: normal;
      color: $light-gray;

      @include swb-medium {
        font-size: 1em;
        line-height: 1em;
      }
    }
  }
}

#home-page2 {
  padding-top: 5px;

  #home-page2-content {
    .possibilities {
      .possibility {
        p {
          margin: 0 auto;
          width: 250px;
          text-align: left;
        }
      }
    }
  }
}

#home-page3 {
  padding-top: 5px;
  background-color: $light-gray;

  #home-page3-content {
    margin: 0 auto;
    width: 75%;

    h2 {
      font-size: 1.5em;
      line-height: 1.6em;
      font-weight: normal;
    }

    >img {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    >p {
      text-align: left;
    }
  }
}

#home-page4 {
  #home-page4-header {
    background-color: $red;
    color: $light-gray;
    padding-top: 18px;
    padding-bottom: 18px;

    div {
      margin: 0 auto;
      width: 75%;

      h1 {
        color: $light-gray;
      }
    }

  }

  #home-page4-content {
    margin: 0 auto;
    padding-top: 24px;
    width: 75%;

    h2 {
      margin-top: 24px;
      color: $red;
    }

    .circle {
      margin: 0 auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      background: url("http://placekitten.com/g/150/150") no-repeat;
    }

    .home-page4-content {
      text-align: left;

      a {
        font-weight: bold;
      }
    }
  }
}