#home-page1 {
  margin-top: -2.7em;
  height: 92vh;
  background-color: $palette4;

  @include swb-medium {
    margin-top: -3.8em;
    height: 100vh;
  }

  #home-page1-content {
    margin: 0 auto;
    width: 75%;
    opacity: 1;

    @include swb-medium {
      padding: 0.5em;
      width: 100%;
    }

    h1 {
      margin-bottom: 0.6em;
    }

    h2 {
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: normal;
      color: $light-gray;

      @include swb-medium {
        font-size: 1em;
        line-height: 1em;
      }
    }
  }
}

#home-page2 {
  padding-top: 5px;

  #home-page2-content {
    .possibilities {
      .possibility {
        p {
          margin: 0 auto;
          width: 250px;
          text-align: left;
        }
      }
    }
  }
}

#home-page3 {
  padding-top: 5px;
  background-color: $light-gray;

  #home-page3-content {
    margin: 0 auto;
    width: 75%;

    h1 {
      margin-bottom: 0.6em;

      @include swb-medium {
        font-size: 2em;
      }
    }

    h2 {
      font-size: 1.5em;
      line-height: 1.6em;
      margin-top: 0.5em;
      font-weight: normal;

      @include swb-medium {
        font-size: 1em;
      }
    }

    .pure-g {
      img {
        margin-top: 1.5em;
        margin-bottom: 1.5em;

        @include swb-medium {
          width: 100%;
          height: auto;
        }
      }
    }

    >p {
      text-align: left;

      @include swb-medium {
        font-size: 0.8em;
      }
    }
  }
}

#home-page4 {
  #home-page4-header {
    background-color: $red;
    color: $light-gray;
    padding-top: 18px;
    padding-bottom: 18px;

    div {
      margin: 0 auto;
      width: 75%;

      h1 {
        color: $light-gray;

        @include swb-medium {
          font-size: 2em;
        }
      }

      h2 {
        font-size: 1.5em;
        line-height: 1.6em;
        margin-top: 0.5em;
        font-weight: normal;

        @include swb-medium {
          font-size: 1em;
        }
      }
    }

  }

  #home-page4-content {
    margin: 0 auto;
    text-align: left;
    padding-top: 24px;
    width: 100%;

    h2 {
      margin-top: 24px;
      font-weight: bold;
      color: $red;
    }

    a {
      font-weight: bold;
    }

    #home-page4-part2 {
      background-color: $light-gray;
    }

    .home-page4-content {
      div {
        padding: 2.8em;
      }
    }

    .home-page4-graphic {
      width: 500px;
      margin: 0 auto;
    }
  }
}