.more-details-header {
  width: 100%;
  height: 66vh;
  background-color: $palette4;
  text-align: center;

  .more-details-header-content {
    margin: 0 auto;
    width: 80%;

    .tag-line {
      font-size: 24px;
      line-height: 36px;
      color: #F6F6F6;
    }
  }
}

.more-details {
  margin: 50px;

  .more-detail {
    padding: 20px;
  }
}