.more-details {
  position: relative;
  margin: 2em;

  .more-detail {
    padding: 2.8em;
    line-height: 2em;

    @include swb-medium {
      padding: 1em;
      line-height: 1.2em;
    }
  }

  .more-navigation {
    margin: 2em;
    font-size: 1.1em;

    p {
      padding: 0;
      margin: 0;
    }

    a {
      font-weight: bold;
    }

    @include swb-medium {
      margin: 1em;
    }
  }

  @include swb-medium {
    margin: 1em;
  }
}