.page-header {
  text-align: center;
  width: 100%;
  height: 12em;
  background-color: $palette3;
  margin-bottom: 1.5em;

  &.page-header-red {
    background-color: $red;
  }

  @include swb-medium {
    margin-bottom: 0;
  }
}