.profiles {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 1024px; /* this doesn't feel right... */

  .profile {
    padding: 15px;

    .profile-info {
      width: 300px;
      border-bottom: 1px solid #E3E8EC;

      .profile-name {
        font-weight: bold;
      }
    }
  }
}


