.profiles {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 75%;

  .profile {
    padding: 15px;

    .profile-info {
      padding-bottom: 5px;
      width: 300px;
      border-bottom: 1px solid #E3E8EC;

      .profile-name {
        font-weight: bold;
      }
    }
  }
}