.profiles {
  margin: 0 auto;
  width: 75%;

  @include swb-large {
    width: 100%;
  }

  >div {
    margin-bottom: 4em;

    @include swb-medium {
      margin-bottom: 1.5em;
    }
  }

  .profile {
    .profile-info {
      text-align: center;
      padding-bottom: 5px;

      @include swb-medium {
        margin: 0 auto;
      }

      .profile-name {
        font-weight: bold;
      }
    }

    @include swb-medium {
      padding: 15px 0 15px 0;
    }
  }

  @include swb-medium {
    width: 100%;
  }
}