@import 'show_header';

.show-content {
  margin-bottom: 50px;

  .show-body {
    width: 850px;
    margin: 0 auto;

    .tag-line {
      font-size: 24px;
      line-height: 36px;
    }

    p {
      margin: 50px 0 0 0;
    }
    
    @media screen and (max-width: 48em) {
      width: 100%;
      margin: 0;
    }
  }
}