.show-content {
  margin-bottom: 50px;

  .show-body {
    width: 850px;
    margin: 0 auto;

    .tag-line {
      font-size: 24px;
      line-height: 36px;
    }

    h4 {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    p, address {
      margin: 1em 0 0 0;
    }

    @include swb-medium {
      width: 100%;
      margin: 0;
      padding-left: 0.5em;
      padding-right: 0.5em;

      p {
        margin: 15px 0 0 0;
      }
    }
  }
}