.alert-actions, .general-actions {

  .action-spacer {
    display: inline-block;
    width: 2em;
  }

  @include swb-medium {
    a, button {
      float: left;
      clear: left;
      margin-top: 0.75rem;
      min-width: 10rem;
      span {
        display: inline !important;
      }
    }
  }
}