.alert-actions, .general-actions {
  @include swb-medium {
    a {
      float: left;
      clear: left;
      margin-top: 0.75rem;
      min-width: 10rem;
      span {
        display: inline !important;
      }
    }
  }
}