@import "./colors";
@import "./variables";
@import "./functions";
@import "./mixins";
@import "./table";

body {
  margin: 0;
}

html {
  margin: 0;
  font-size: $base-font-size;
  font-family: 'Open Sans', 'sans-serif';
  line-height: 1.5em;
  background-color: $main-background;
  color: $text-color;
}

@include swb-small {
  .content{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 2rem;
  }

  #site-wrapper.show-nav .content {
    height:initial;
  }
}