@import "./colors";
@import "./variables";
@import "./mixins";
@import "./table";

body {
  margin: 0;
}

html {
  margin: 0;
  font-size: 1rem;
  font-family: 'Open Sans', 'sans-serif';
  line-height: 1.5em;
  background-color: $main-background;
  color: $text-color;
}

@include swb-small {
  .content{
    padding-left:.5em;
    padding-right: .5em;
  }

  #site-wrapper.show-nav .content {
      height:initial;
    }

}