@mixin button-details($color) {
    height: 3em;
    background: none;
    color: $color;
    border: 0.2em solid $color;
    border-radius: $border-radius-base;
}

@mixin btn-details($color) {
	display: inline-block;
    border: 2px solid $color;
    background: none;
    border-radius: $border-radius_base;
    padding: 2px 6px;
    font-size: 1.2em;
    vertical-align: middle;
    &.solid {
        font-size: inherit;
    	padding: 2px 1em;
        background-color: $color;
        font-weight: bold;
        color: white;      
    }
    &:focus {
        outline: none;
    }
    &.enabled {
        background-color: $color;
        color: white;
    }
}

.btn {
    &.default {
        @include btn-details($text-color);
    }
    &.primary {
    	@include btn-details($link-color);
    }
}