@mixin button-details($color) {
    height: 3em;
    background: none;
    color: $color;
    border: 0.2em solid $color;
    border-radius: $border-radius-base;
}

@mixin btn-details($color) {
    border-color: $color;
    color: $color;
    font-weight: bold;
    
    @include swb-medium {
        text-align: center;
    }
    &:hover {
        background-color: $color;
        color: white;
    }

    &.solid {
        &:hover {
            background: darken($color, 10%);
            border-color: darken($color, 10%);
        }
        font-size: inherit;
        
        background-color: $color;
        color: white;
        @include swb-medium {
            min-width: 2.2em;
            padding: 2px 6px;
        }
    }
    &:focus {
        outline: none;
    }
    &.enabled {
        background-color: $color;
        color: white;
    }
    &.small {
      margin: 0 0.75em;
      margin-left: 0;
      padding: 0 0.45em;
      font-size: 0.75em;
    }

    i+span {
        padding-left: .5em;
    }

    span {
        font-size: .9em;
        @include swb-medium {
            display: none;
        }
        &.keep {
            display: initial;
        }
    }
    
}

.btn {
    display: inline-block;
    border: 2px solid #000000;
    background: none;
    border-radius: $border-radius_base;
    padding: 2px 6px;
    font-size: 1.0em;
    vertical-align: middle;

    &.default {
        @include btn-details($text-color);
    }
    &.primary {
        @include btn-details($link-color);
    }
    &.light {
        @include btn-details($medium-blue);
    }
    &.text-same-color {
        @include btn-details($medium-blue);
        color: $medium-blue;
    }
}