@mixin button-details($color) {
    height: 3em;
    background: none;
    color: $color;
    border: 0.2em solid $color;
    border-radius: $border-radius-base;
}

@mixin btn-details($color) {
    border-color: $color;
    color: $color;
    font-weight: 600;
    
    @include swb-medium {
        text-align: center;
    }
    &:hover:not(:disabled), &:hover:not(.disabled) {
        background-color: $color;
        color: white;
    }
    &:disabled, &.disabled {
      border-color: lighten($color, 20%);
      color: lighten($color, 20%);
      &:hover {
        background-color: inherit;
        border-color: lighten($color, 20%);
        color: lighten($color, 20%);
      }
    }

    &.solid {
        background-color: $color;
        color: white;
      @include swa-small() {
        min-width: 5em;
        text-align: center;
      }
        &:disabled {
          background-color: lighten($color, 20%);
        }

        &:hover:not(:disabled) {
            background: darken($color, 4%);
            border-color: darken($color, 4%);
        }
    }
    &:focus {
        outline: none;
    }
    &.enabled {
        background-color: $color;
        color: white;
    }
    &.small {
      margin: 0 0.75em;
      margin-left: 0;
      padding: 0 0.45em;
      font-size: 0.75em;
    }
    &.large {
      font-size: $base-font-size + .2rem;
      padding: .5em 2em;
    }

    i+span {
        padding-left: .5em;
    }

    span {
        font-size: .9em;
        @include swb-medium {
            display: none;
        }
        &.keep {
            display: initial;
        }
    }
}

.btn {
    display: inline-block;
    border: 2px solid #000000;
    background: none;
    //border-radius: $border-radius_base;
    padding: 2px 6px;
    font-size: 1.0em;
    vertical-align: middle;
    &.default {
        @include btn-details($text-color);
    }
    &.primary {
        @include btn-details($link-color);

      &.not-active {
        @include btn-details(lighten($link-color, 15%));
      }
    }
    &.light {
        @include btn-details($medium-blue);
    }
    &.text-same-color {
        @include btn-details($medium-blue);
        color: $medium-blue;
    }
    &.inverse {
      @include btn-details($light-gray);
      color: $red;
      &:hover:not(:disabled) {
        color: darken($red, 20%);
      }
      &.solid {
        color: $red;

        &:hover:not(:disabled) {
          color: $red;
        }
      }
      &.light {
        color: $medium-blue;
      }
      &.white {
        border-color: white;
      }
    }

    &.round {
      line-height: 1em;
      min-width: 1em;
      padding: 0.40em;
      border-radius: 100%;
    }
}

.btn-container {
  margin-top: 1rem;
}

.button-row {
  text-align: right;
}

.fileupload-button {
  position: relative;
  overflow:hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
}

a.light {
  color: $medium-blue;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

    opacity: 0;
    filter: alpha(opacity=0);
  }
}