$palette1: #e3e8ec;
$palette2: #9fb2bf;
$palette3: #575d5f;
$palette4: #414648;
$palette5: #f15f51;
$palette6: #deb999;
$palette7: #a8bc4c;
$palette8: #f16251;
$palette9: #da5348;
$palette10: #2FB44A;
$palette11: #2a9140;
$palette12: #585f61;

/*
	Colors from Liz's UI-Color-Guide as of 10/15/2014
 */
$slate: #575d5f;
$dark-slate: #434748;
$light-gray: #f6f6f5;
$medium-gray: #9b9b9b;
$medium-blue: #9fb2c0;
$medium-blue-hover: #585f61;
$light-blue: #e3e8ec;
$red: #f15f51;
$red-hover: #da5348;
$light-green: #c9dd9b;

$medium-blue-rgba: rgba(159, 178, 192, .5);
$palette4-rgba: rgba(65, 70, 72, 0.75);

$text-color: $dark-slate;
$main-background: $light-gray;
$nav-background: $slate;
$nav-background-hover: darken($nav-background, 5%);
$subnav-background: $dark-slate;
$border-color: $light-blue;

$link-color: $palette5;
$active-state: $palette1;

$report-palette1: #2FB44A;
$report-palette2: #4D87C6;
$report-palette3: #3D459C;
$report-palette4: #515759;
$report-palette5: #BDC5C4;

$report-link: $report-palette2;

.red {
  color: $red;
}

.light-blue {
  color: $light-blue;
}

.medium-blue {
  color: $medium-blue;
}

.dark {
  color: $palette3;
}

.green {
  color: $palette10;
}
