$palette1: #e3e8ec;
$palette2: #9fb2bf;
$palette3: #575d5f;
$palette4: #414648;
$palette5: #f15f51;
$palette6: #deb999;
$palette7: #a8bc4c;

/*
	Colors from Liz's UI-Color-Guide as of 10/15/2014
 */
$slate: #575d5f;
$dark-slate: #434748;
$light-gray: #f6f6f5;
$medium-blue: #9fb2c0;
$light-blue: #e3e8ec;
$red: #f15f51;

$medium-blue-rgba: rgba(159, 178, 192, .5);

$text-color: $dark-slate;
$main-background: $light-gray;
$nav-background: $slate;
$nav-background-hover: darken($nav-background, 5%);
$subnav-background: $dark-slate;
$border-color: $light-blue;

$link-color: $palette5;
$active-state: $palette1;


.red {
	color: $red;
}

.medium-blue {
  color: $medium-blue;
}
