
/*
  TODO: break this up into form base and form layout
*/

form.inline {
  display:inline;
}
input[type=text], input[type=password], input[type=number], textarea, select, input[type="file"], input[type="email"] {
  width: 100%;
  &.inline {
    width: inherit;
  }
}

input[type=text], input[type=password], input[type=number], textarea, select, input[type=date], input[type=datetime], input[type="email"] {
  border: .1em solid $border-color;
  border-radius: $border-radius-base;
  height: 2em;
  font-size: 1em;
  padding-left: .5em;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  &.error {
    border-color: $link-color;
    color: $link-color;
    font-weight: bold;
  }
  &.large, &.large.error {
    font-size: $base-font-size;
    height: 2.5em;
  }
  &.low-margin {
    margin-bottom: .5em;
  }
  &.dark {
    background-color: $border-color;
  }
}

textarea.double {
  height: 4em;
  margin-bottom: 2em;
}

.compressed {
  input[type=text], input[type=password], input[type=number], textarea, select {
    margin-bottom: 0;
  }
}

input.error {
  &::-webkit-input-placeholder {
    color: $link-color;
    font-weight: bold;
  }
  &:-moz-placeholder {
    color: $link-color;
    font-weight: bold;
  }
  &::-moz-placeholder {
    color: $link-color;
    font-weight: bold;
  }
  &:-ms-input-placeholder {
    color: $link-color;
    font-weight: bold;
  }
}

input[type="file"]::-webkit-file-upload-button {
  background: white;
  border-radius: $border-radius-base;
  height: 2em;
  padding: 0 0.5em;
  border: 1px solid $border-color;

  &:active {
    border-color: $medium-blue;
  }

  &:focus {
    outline:0;
  }
}

.radio-group {

  & > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 2em;
    margin-right: 1em;

    @include swb-small {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

  }

  input[type=radio] {
    display: none;
  }

  label:before {
    content: "";
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    position: absolute;
    left: 0;
    border: .2em solid $border-color;
    border-radius: 50%;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: $text-color;
    font-size: 1em;
    text-align: center;
    line-height: 0.625em;
    border-color: $medium-blue;
  }
}
.expanding-wrapper {
  width: 80%;
  display: inline-block;
  @include swb-small {
    width: 100%;
  }
}

.input-group {
  display: flex;
  margin-bottom: 1.5em;
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;   
    border-right: none; 
  }
  button {
    width:7em;
    background-color: darken($border-color, 5%);
    height: 2em;
    border: none;
    border-radius: $border-radius-base;

    margin-left: 5px;
    font-size: 1em;
    cursor: pointer;
  }

  label.radio {
    margin: 0 1em;
    &:first-of-type {
      margin-left: 0;
    }
  }


}


.radio-input-group {

  label {
    @include swb-small() {
      display: block;
      margin-bottom: 1em;
    }
    @include swa-small() {
      padding-right: 1em;
    }
  }
}.form-actions {
  margin: 1rem auto;
}

