@mixin transform($value) {
  -webkit-transform:translateX($value);
  -moz-transform:translateX($value);
  -ms-transform:translateX($value);
  -o-transform:translateX($value);
  transform:translateX($value);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/* From http://sass-lang.com/guide */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow-inset($h-shadow, $v-shadow, $blur, $spread, $color) {
  -webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
     -moz-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
      -ms-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
          box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
}

// media query mixins
@mixin bp-xlarge {
  @media only screen and (max-width: 50em) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (max-width: 50em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

.loading {
  color: $text-color;

  text-align: center;
 // vertical-align: middle;

  .fa-spinner {
    font-size: 2.0em;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}