@mixin transform($value) {
  -webkit-transform:translateX($value);
  -moz-transform:translateX($value);
  -ms-transform:translateX($value);
  -o-transform:translateX($value);
  transform:translateX($value);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

// media query mixins
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

.loading {
  color: $text-color;

  text-align: center;
 // vertical-align: middle;

  .fa-spinner {
    font-size: 2.0em;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}