@mixin transform($value) {
  -webkit-transform:translateX($value);
  -moz-transform:translateX($value);
  -ms-transform:translateX($value);
  -o-transform:translateX($value);
  transform:translateX($value);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-flow($values: (row nowrap)) {
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin align-items($value: (center)) {
  -webkit-align-items: $value;
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin gradient-vertical($start-color: #000, $end-color: #fff, $start-percent: 0%, $end-percent: 100%) {
  background: $start-color;
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin placeholder($color) {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    $color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $color;
  }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/* From http://sass-lang.com/guide */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin box-shadow-inset($h-shadow, $v-shadow, $blur, $spread, $color) {
  -webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
     -moz-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
      -ms-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
          box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
}

@mixin drop-shadow-filter($h-shadow, $v-shadow, $blur, $color) {
  -webkit-filter: drop-shadow( $h-shadow $v-shadow $blur $color );
          filter: drop-shadow( $h-shadow $v-shadow $blur $color );
}

// media query mixins
//***********************************
// a** - Media Type All
// p** - Media Type Print
// s** - Media Type Screen

// *w* - Width
// *h* - Height

// **a - Above (min-*)
// **b - Below (max-*)

@mixin swa-xlarge {
  @media only screen and (min-width: 80em),
         only screen and (min-device-width: 80em),
         only screen and (min-device-width: 80em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swa-large {
  @media only screen and (min-width: 64em),
         only screen and (min-device-width: 64em),
         only screen and (min-device-width: 64em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swa-medium {
  @media only screen and (min-width: 48em),
         only screen and (min-device-width: 48em),
         only screen and (min-device-width: 48em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swa-small {
  @media only screen and (min-width: 35.5em),
         only screen and (min-device-width: 35.5em),
         only screen and (min-device-width: 35.5em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swb-xlarge {
  @media only screen and (max-width: 80em),
         only screen and (max-device-width: 80em),
         only screen and (max-device-width: 80em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swb-large {
  @media only screen and (max-width: 64em),
         only screen and (max-device-width: 64em),
         only screen and (max-device-width: 64em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swb-medium {
  @media only screen and (max-width: 48em),
         only screen and (max-device-width: 48em),
         only screen and (max-device-width: 48em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swb-small {
  @media only screen and (max-width: 35.5em),
         only screen and (max-device-width: 35.5em),
         only screen and (max-device-width: 35.5em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin swb-login-toolbar {
  @media only screen and (max-width: 54em),
  only screen and (max-device-width: 54em),
  only screen and (max-device-width: 54em) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

.loading {
  color: $text-color;

  text-align: center;
 // vertical-align: middle;

  .fa-spinner {
    font-size: 2.0em;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}