table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 1em;

    th {
      text-transform: uppercase;
      text-align: left;
      padding: 0 1em 1em 1em;
      vertical-align: top;
      a {
        color: $text-color;
      }
    }

    tr {
      td {
        vertical-align: top;
        padding: 1em;
        border-top: 1px solid $border-color;
      }
    }

    @include swb-medium {
        .minor-m {
            display:none;
        }
    }

    @include swb-small {
        /* tag a td with .minor to remove it from view on smaller sizes */
        .minor-s {
            display: none;
        }
    }


}