$border-radius-base: 5px;


$mobile-nav-width: 14em;
$standard-nav-width: 14em;
$collapsed-nav-width: 4em;
$standard-collapse-difference: $standard-nav-width - $collapsed-nav-width;


@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}