<span class="tooltip">
    <h2>
        Your schedule is finalized
        <i class="fa fa-question-circle medium-blue"></i>
    </h2>
</span>
<div class="tip">
    <p>
        You may be able to make limited adjustments to your schedule at this time.
        If you will not be able to make one of your scheduled visits, please contact a program manager.
    </p>
    {{> restrictions}}
</div>