<h2>Your schedule is finalized</h2>
<p>
	You may be able to make limited adjustments to your schedule at this time.
	If you will not be able to make one of your scheduled visits, please contact a program manager.
</p>
