<h2>Your schedule is ready to be finalized</h2>
<p> If you are satisfied with your schedule, finalize your schedule with the button below.
Otherwise, you may continue to adjust the schedule by dragging the jobs on the calendar.
<div>
	<a href="#" class="finalize-button btn primary">Finalize Schedule</a>
</div>

