<span class="tooltip">
    <h2>
        Your schedule is ready to be finalized
        <i class="fa fa-question-circle medium-blue"></i>
    </h2>
</span>
<div class="tip">
    <p>
        If you are satisfied with your schedule, finalize your schedule with the button below.
        Otherwise, you may continue to adjust the schedule by dragging the jobs on the calendar.
    </p>
    {{> restrictions}}
</div>
<div>
	<a href="#" class="finalize-button btn primary">Finalize Schedule</a>
</div>

