<span class="tooltip">
    <h2>
        Your schedule is unlocked
        <i class="fa fa-question-circle medium-blue"></i>
    </h2>
</span>
<div class="tip">
    <p>
        Drag the jobs listed below onto the calendar to schedule them.
        All of them must be scheduled before you can finalize your schedule.
    </p>
    {{> restrictions}}
</div>
