<span class="tooltip">
    <h2>
        <i class="fa fa-question-circle medium-blue"></i>
    </h2>
</span>
<div class="tip">
    <p><span class="bold">Rescheduling Confirmed Visits:</span> If your visit cannot be completed as confirmed, contact vegasupport@thirdchannel.com.</p>
</div>