<div class="confirmation-instructions">
    Each visit listed must be confirmed with the retailer. Use the <a href="http://bit.ly/VegaRetailRef" class="bold" target="_blank">Retailer Reference Sheet</a> for specific instructions. </br>
    Once the retailer has confirmed the visit date and time, click <span class="bold">Confirmed With Location</span>
</div>