<div class="section sales-overview">
    <h2>Sales Overview</h2>
    <div class="subsections">
        <div class="subsection">
            <div class="widgets"></div>
        </div>
    </div>
</div>