<div class="pure-g">
<div class="col-4-5">
{{#if date}}
<span class="job-schedule">{{localizedUTCDate date}}</span>
{{/if}}
<span class="job-name">{{job.name}}</span>
</div>
<div class="col-1-5"><a href="#" class="open-tasks">Show Tasks <i class="ic ic_down"></i> </a> </div>
</div>
