<div class="uploader-error">
    <div class="pull-right error-close ic ic_x"></div>
    <div class="message">The image uploader has encountered an error.  This is most likely due to a bad internet connection.  Please check your connection and try again or wait until you can get a better connection.</div>
</div>
