<div class="card">
    <div class="header">How do you spend your time?</div>
    <div class="body interests">
        <div class="pure-g">
            {{#each interests}}
                <div class="col-1-7">
                    <i class="ic {{this.icon}}"></i><br/>
                    <span>{{this.name}}</span>
                </div>
            {{/each}}
        </div>

    </div>

</div>