<div class="card">
    <div class="header">Change Password</div>
    <div class="body password">
        <div><label for="current_password">Enter your current password to change your password</label></div>
        <input type="password" id="current_password" name="current_password" placeholder="Current Password"
               data-rule-required="true"/>

        <div><label for="password">Password</label></div>
        <input type="password" id="password" name="password" placeholder="Password (8 Characters Minimum)"
               data-rule-required="true"/>

        <div><label for="password_confirmation">Confirm Password</label></div>
        <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Confirm Password"
               data-rule-required="true"/>
    </div>
</div>