<div class="card">
    <div class="header">Paypal Email</div>
    <div class="body">
        <label>Providing this enables us to pay you.</label>
        <input type="email" name="paypalEmail" value="{{person.paypalEmail}}" placeholder="Paypal Email" data-rule-required="true"/>
    </div>
</div>