<div class="card">
    <div class="header">Upload Profile Photo</div>
    <div class="body images profilePhotoInput" required="" data-image-type="profilePhoto">
        <input accept="image/*" data-input="false" id="profilePhotoInput" name="profilePhotoInput" data-rule-required="true" type="file" {{#if person.profilePhoto.medium}}disabled="disabled"{{/if}}>

        <div class="image-viewer pure-g">
            {{#if person.profilePhoto.medium}}
                <div class="image col-1-5">
                    <input type="hidden" id="profilePhoto" name="profilePhoto.temp" value="{{person.profilePhoto.temp}}"/>
                    <img src="{{person.profilePhoto.medium}}" alt="Image">

                    <div class="delete">
                        <a class="btn primary removeImage"><i class="ic ic_x"></i><span>Delete Image</span></a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>