<div class="card">
    <div class="body">
        <label>Do/Did you attend college?</label>
        <div class='radio-input-group spacer'>
            <label class='radio'><input type='radio' name='attendedCollege' value='Yes' {{#if_eq person.attendedCollege 'Yes'}}checked{{/if_eq}}  data-rule-required="true"/> Yes</label>
            <div class="clear visible-xs"></div>
            <label class='radio'><input type='radio' name='attendedCollege' value='No' {{#if_eq person.attendedCollege 'No'}}checked{{/if_eq}}  data-rule-required="true"/> No, college would have slowed me down, went straight to work</label>
        </div>
        <div class="pure-g">
            <label class="col-1-1">Where did you attend school?</label>
            <input type="text" class="typeahead" name="university.name" placeholder="Select College/University"
                   value="{{person.university.name}}" />
            <input type="hidden" name="university.id" id="university" value="{{person.university.id}}"/>
        </div>

        <label for="graduationYear">When did you graduate</label>

        <select name="graduationYear" data-placeholder="When did you graduate?" id="graduationYear">
            <option></option>
            {{#each graduationYears}}
                {{#select ../person.graduationYear}}
                    <option value="{{this}}">{{this}}</option>
                {{/select}}
            {{/each}}
        </select>
    </div>
</div>
