<p class="item col-1-3">{{month}}</p>
<p class="item col-1-3">{{status}}</p>
<p class="item col-1-3">
    <a class="btn primary small" href="{{links.list}}">View Schedule</a>
    {{#if links.edit}}
        <a class="btn primary small" href="{{links.edit}}">Edit Schedule</a>
    {{/if}}
</p>