<div class="body task">

    <div class="details">
        <div>{{type}}</div>
        <div>{{name}}{{#required}}<span class="subtle-instruction">*</span>{{/required}}</div>
        <div>{{topics}}</div>
    </div>

{{#if false}}
    {{#if duration}}
        <div class="requirements">
            <div><i class="ic ic_o-hours"></i> {{duration}} hrs</div>
        </div>
    {{/if}}
{{/if}}

    <div class="inputs"></div>

    <div>
        <div class="box">
            <i class="medium-blue ic ic_blank"></i>
        </div>
    </div>
</div>
<div class="divider"></div>


